__pycache__
1_*
2_*
Archive
backup
CodeBuddy.code-workspace
compile_paper.sh
database
front_end/server/html/
logs
node_modules/
media
nohup*
paper.jats
paper.pdf
secrets
tmp
.DS_Store
.idea
.remote*
.vscode/
