{% if course_basics["exists"] %}
    <h4>{{ assignment_basics["title"] }}</h4>

    {% if assignment_basics["exists"] %}
        <p>{{ assignment_details["introduction"] }}</p>

        <link rel="stylesheet" href="/static/css/modal.css">

        <script>
            function delete_exercise_submissions_build_body(data_obj, messageElement) {
                pElement = document.createElement("p");
                pElement.innerHTML = "Are you sure you want to purge submissions for this exercise?";
                messageElement.appendChild(pElement);
            }

            function delete_exercise_submissions_get_post_url(data_obj) {
                return `/delete_exercise_submissions/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/${data_obj.exercise_id}`;
            }

            function copy_exercise_build_body(data_obj, messageElement) {
                var previous_title = "";
                for (let exercise of {{ jsonify(exercises) }}) {
                    if (exercise[0] == data_obj.exercise_id) {
                        previous_title = exercise[1]["title"];
                        break;
                    }
                }

                pElement = document.createElement("p");
                pElement.innerHTML = "New title:";

                inputElement = document.createElement("input");
                inputElement.setAttribute("class", "input is-medium is-primary");
                inputElement.setAttribute("type", "text");
                inputElement.setAttribute("id", "copy_exercise_new_title");
                inputElement.setAttribute("value", `${previous_title} - 2`);

                messageElement.appendChild(pElement);
                messageElement.appendChild(document.createElement("br"));
                messageElement.appendChild(inputElement);
                inputElement.focus();
                inputElement.selectionStart = inputElement.selectionEnd = inputElement.value.length;
            }

            function copy_exercise_get_post_url(data_obj) {
                return `/copy_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/${data_obj.exercise_id}`;
            }

            function copy_exercise_get_post_data() {
                return {"new_title": document.getElementById("copy_exercise_new_title").value};
            }

            function move_exercise_build_body(data_obj, messageElement) {
                var html = "<p>New assignment:</p><br />";
                html += `<div class="select">`;
                html += `<select id="exercise_new_assignment_id">`;
                {% for assignment in assignments %}
                    {% if assignment[0] != assignment_basics["id"] %}
                        html += `<option value="{{ assignment[0] }}">{{ assignment[1]["title"] }}</option>`;
                    {% end %}
                {% end %}
                html += `</select>`;
                html += `</div>`;

                divElement = document.createElement("div");
                divElement.innerHTML = html;
                messageElement.appendChild(divElement);
            }

            function move_exercise_get_post_url(data_obj) {
                return `/move_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/${data_obj.exercise_id}`;
            }

            function move_exercise_get_post_data() {
                return {"new_assignment_id": document.getElementById("exercise_new_assignment_id").value};
            }

            function delete_exercise_build_body(data_obj, messageElement) {
                pElement = document.createElement("p");
                pElement.innerHTML = "Are you sure you want to delete this exercise?";
                messageElement.appendChild(pElement);
            }

            function delete_exercise_get_post_url(data_obj) {
                return `/delete_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/${data_obj.exercise_id}`;
            }

            function new_video_build_body(data_obj, messageElement) {
                var html = `<p>Use this option to create an exercise that displays a video and asks the user to submit a response based on a prompt in the video. <a href="https://youtube.com" target="_blank">YouTube</a> and <a href="https://panopto.com" target="_blank">Panopto</a> are currently supported.</p><br />`;

                html += `<p>Title: <input class="input is-medium is-primary" type="text" id="video_title" name="video_title" /></p>`;

                html += "<p style='margin-top: 0.95em;''>Instructions: <textarea class='textarea is-medium is-primary' rows=3 id='video_instructions'>Please watch this video and then enter the requested response in the box below. If no response was requested, enter `Done`.</textarea></p>";

                html += `<p style="margin-top: 0.95em;">Video URL: <input class="input is-medium is-primary" type="text" id="video_url" name="video_url"/></p>`;

                messageElement.innerHTML = html;

                document.getElementById('video_title').focus();
            }

            function new_video_get_post_url(data_obj) {
                return "/create_video_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}";
            }

            function new_video_get_post_data() {
                var title = document.getElementById("video_title").value.trim();
                var instructions = document.getElementById("video_instructions").value.trim();
                var url = document.getElementById("video_url").value.trim();

                if (title.length == 0 || instructions.length == 0 || url == 0) 
                    return {"error": "All inputs must be specified."};

                if (url.includes("youtube") || url.includes("youtu.be")) {
                    var video_id = url.replace("https://youtu.be/", "").replace("https://www.youtube.com/watch?v=", "").replace("&feature=youtu.be", "");

                    return {"title": title, "instructions": instructions + "\n\nyoutube:" + video_id};
                }
                else {
                    if (url.includes("panopto.com")) {
                        var url_parts = url.replace("https://", "").split("/Panopto/Pages/Viewer.aspx?id=");
                        var video_id = url_parts[0] + "/" + url_parts[1];
                        
                        return {"title": title, "instructions": instructions + "\n\npanopto:" + video_id};
                    }
                    else {
                        return {"error": "The video URL is invalid."};
                    }
                }
            }
        </script>

        {% if len(exercises) > 0 %}
            <div class="table-container">
                <table class="table is-striped" id="assignment_table">
                    <thead>
                        <tr>
                            <th>Exercise</th>
                            <th style="text-align: center;">Visibility</th>
                            <th style="text-align: center;">Avg. Score</th>
                            <th style="text-align: center;">Submissions</th>
                            <th style="text-align: center;">Edit</th>
                            <th style="text-align: center;">Copy</th>
                            <th style="text-align: center;">Move</th>
                            <th style="text-align: center;">Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for exercise in exercises %}
                        <tr>
                            <td><a href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">{{ exercise[1]["title"] }}</a>
                            {% if exercise[1]["enable_pair_programming"] %}
                                <label class="has-tooltip-multiline has-tooltip-right" data-tooltip="Pair programming is enabled for this exercise."><i class="fab fa-product-hunt"></i></label>
                            {% end %}
                            </td>

                            {% if exercise[1]["visible"] == 0 %}
                                <td style="text-align: center;">Hidden</td>
                                <td> </td>
                                <td> </td>
                            {% else %}
                                <td style="text-align: center;">Visible</td>
                                <td style="text-align: center;"><a href="/view_exercise_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">{{ assignment_summary_scores[exercise[0]] }}%</a></td>
                                <td style="text-align: center;"><a href="/exercise_submissions/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">View</a> / <a onclick="showPostModal('delete_exercise_submissions', 'Purge exercise submissions', {'exercise_id': '{{ exercise[1]['id'] }}'}, true)">Purge</a></td>
                            {% end %}
                            <td style="text-align: center;">
                                <a href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[1]['id'] }}">
                                    <i class="far fa-edit"></i>
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a onclick="showPostModal('copy_exercise', 'Copy exercise within the same assignment:', {'exercise_id': '{{ exercise[1]['id'] }}'}, true)">
                                    <i class="far fa-copy"></i>
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a onclick="showPostModal('move_exercise', 'Move this exercise to a different assignment:', {'exercise_id': '{{ exercise[1]['id'] }}'}, true)">
                                    <i class="far fa-arrow-alt-circle-right"></i>
                                </a>
                            </td>
                            <td style="text-align: center;">
                                <a onclick="showPostModal('delete_exercise', 'Delete exercise', {'exercise_id': '{{ exercise[1]['id'] }}'}, true)">
                                    <i class="far fa-trash-alt"></i>
                                </a> 
                            </td>
                        </tr>
                    {% end %}  
                    </tbody>
                </table>
            </div>
        {% else %}
            <p><strong>No exercises have been created for this assignment.</strong></p>
        {% end %}

        {% if is_administrator or is_instructor %}
            <div class="buttons">
                <a class="button is-dark" href='/edit_exercise/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/'>New exercise</a>
                
                <button class="button" onclick="showPostModal('new_video', 'Create video exercise', {}, true)">New video exercise</button>

                <a class="button" href='/edit_assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}'>Edit assignment</a>

                <a class="button" href='/download_assignment_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}' download="{{ download_file_name }}">Download scores</a>

                <a class="button" href='/export_assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}' download="{{ course_basics['title'] }}__{{ assignment_basics['title'] }}.json">Export assignment</a>
            </div>
        {% end %}
    {% else %}
        <p>This assignment does not exist.</p>
    {% end %}
{% else %}
    <p>This course does not exist.</p>
{% end %}