{% if course_basics["exists"] %}
    <h2>{{ assignment_basics["title"] }}</h2>

    {% if assignment_basics["exists"] %}
        <p>{{ assignment_details["introduction"] }}</p>

        {% if assignment_details["due_date"] and assignment_details["due_date_passed"] and assignment_details["view_answer_late"] %}
            <div class='notification is-warning is-light'>The due date for this assignment has passed, but your instructor has enabled viewing the answer.</div>
        {% end %}

        {% if assignment_details["due_date"] and assignment_details["due_date_passed"] and assignment_details["allow_late"] %}
            <div class='notification is-warning is-light'>The due date for this assignment has passed, but you can make late submissions for {{ round(assignment_details["late_percent"] * 100) }}% of the points.</div>
        {% end %}

        {% if len(exercise_statuses) > 0 %}
            {% if assignment_details["has_timer"] %}
                <link rel="stylesheet" href="/static/css/timer.css">

                <script>
                    const start_time = new Date('{{ start_time }}');
                    start_time.setMinutes(start_time.getMinutes() - start_time.getTimezoneOffset());

                    const deadline = new Date('{{ start_time }}');
                    deadline.setMinutes(start_time.getMinutes() - start_time.getTimezoneOffset());
                    deadline.setHours(deadline.getHours() + {{ assignment_details["hour_timer"] }});
                    deadline.setMinutes(deadline.getMinutes() + {{ assignment_details["minute_timer"] }});

                    function isTimerExpired() {
                        return new Date() > deadline;
                    }

                    function startTimerIfNotExpired() {
                        if (isTimerExpired()) {
                            document.getElementById("timer_expired_message").innerHTML = "<font color='red'><b>This assignment is timed, and the time has expired.</font></b>";
                        }
                        else {
                            var timer_div = document.getElementById("clockdiv");
                            timer_div.style.display = "inline";

                            initializeClock(deadline);
                        }
                    }

                    function initializeClock(deadline) {
                        const clock = document.getElementById('clockdiv');
                        const hoursSpan = clock.querySelector('.hours');
                        const minutesSpan = clock.querySelector('.minutes');
                        const secondsSpan = clock.querySelector('.seconds');

                        function updateClock(){
                            const t = getTimeRemaining(deadline);
                            hoursSpan.innerHTML = ('00' + t.hours).slice(-2);
                            minutesSpan.innerHTML = ('00' + t.minutes).slice(-2);
                            secondsSpan.innerHTML = ('00' + t.seconds).slice(-2);

                            if (t.total <= 0) {
                                clearInterval(timeinterval);
                                hoursSpan.innerHTML = '00';
                                minutesSpan.innerHTML = '00';
                                secondsSpan.innerHTML = '00';
                            }
                        }

                        updateClock(); // run function once at first to avoid delay
                        var timeinterval = setInterval(updateClock, 1000);
                    }

                    function getTimeRemaining(deadline){
                        const total = deadline - new Date();
                        const seconds = Math.floor( (total/1000) % 60 );
                        const minutes = Math.floor( (total/1000/60) % 60 );
                        const hours = Math.floor( (total/(1000*60*60)) % 24 );

                        return {
                            total,
                            hours,
                            minutes,
                            seconds
                        };
                    }
                </script>
            {% end %}

            <form method="post" action="/assignment/{{ course_basics['id']}}/{{ assignment_basics['id'] }}" />
                <div id="clockdiv" style="display: none;">
                    <div>
                        <span class="hours"></span>
                        <div class="smalltext">Hours</div>
                    </div>
                    <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minutes</div>
                    </div>
                    <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Seconds</div>
                    </div>
                </div>

                {% if assignment_details["has_timer"] %}
                    {% if start_time %}
                        <p id="timer_expired_message"></p>
                        <script>
                            startTimerIfNotExpired();
                        </script>
                    {% else %}
                        <button class="button is-primary is-medium is-rounded" style="margin-bottom: 20px;" type="submit">Begin Assignment</button>
                    {% end %}
                {% end %}

                <div class="table-container">
                    <table class="table is-striped" id="assignment_table">
                        <thead>
                            <tr>
                                <th>Exercise</th>
                                <th># Submissions</th>
                                <th>Completed</th>
                                <th>Score</th>
                                {% if has_non_default_weight %}
                                    <th>Weight*</th>
                                {% end %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for exercise in exercise_statuses %}
                            <tr>
                                <td>
                                    {% if not assignment_details["has_timer"] or user_start_time %}
                                        <a href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">
                                    {% end %}
                                            {{ exercise[1]["title"] }}
                                    {% if not assignment_details["has_timer"] or user_start_time %}
                                        </a>
                                    {% end %}
                                    
                                    {% if exercise[1]["enable_pair_programming"] %}
                                        <label class="has-tooltip-multiline has-tooltip-right" data-tooltip="Pair programming is enabled for this exercise."><i class="fab fa-product-hunt"></i></label>
                                    {% end %}
                                </td>
                                <td>{{ exercise[1]["num_submissions"] }}</td>
                                {% if exercise[1]["passed"] %}
                                    <td><label>
                                        <img src="/static/greencheck.png" alt="Completed" class="table-icon"/>
                                    </label>Completed</td>
                                {% else %}
                                    {% if exercise[1]["in_progress"] %}
                                        <td><label>
                                            <img src="/static/inprogress.png" alt="In progress" class="table-icon"/>
                                        </label>In progress</td>
                                    {% else %}
                                        <td><label>
                                            <img src="/static/unchecked.png" alt="Not completed" class="table-icon"/>
                                        </label>Not started</td>
                                    {% end %}
                                {% end %}
                                <td>{{ exercise[1]["score"] }}%</td>
                                {% if has_non_default_weight %}
                                    <td>{{ exercise[1]["weight"] }}</td>
                                {% end %}
                            </tr>
                        {% end %}
                        </tbody>
                    </table>
                </div>

                {% if has_non_default_weight %}
                    <p>* Exercises with relatively high weights count more toward the overall assignment score than exercises with relatively low weights.</p>
                {% end %}
            </form>
        {% end %}
    {% else %}
        <p>This assignment does not exist.</p>
    {% end %}
{% else %}
    <p>This course does not exist.</p>
{% end %}
