<div class="buttons">
    {% if previous_assignment_id %}
        <a class="button" href='/assignment/{{ course_basics['id'] }}/{{ previous_assignment_id }}'>Previous assignment</a>
    {% end %}

    {% if next_assignment_id %}
        <a class="button" href='/assignment/{{ course_basics['id'] }}/{{ next_assignment_id }}'>Next assignment</a>
    {% end %}

    {% if email_configured and not assignment_is_complete and assignment_details["due_date"] and not (assignment_details["allow_late"] and assignment_details["late_percent"] == 100) %}
        <a class="button" href='/request_accommodation/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}'>Request an accommodation</a>
    {% end %}

    {% if assignment_details["allow_students_view_submissions"] and any([e[1]["completed"] for e in exercise_statuses]) %}
        <a class="button" href='/view_assignment_submissions/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}' target="_blank">Download submission(s)</a>
    {% end %}

    <a class="button" href='/course/{{ course_basics['id'] }}'>Course home</a>
</div>
