{% if course_basics["exists"] %}
    <h4>{{ assignment_basics["title"] }}</h4>

    {% if assignment_basics["exists"] %}
        <p>{{ assignment_details["introduction"] }}</p>

        <link rel="stylesheet" href="/static/css/modal.css">

        <script>
            function showPostModal(action, title, data_obj, reload) {
                // Build the modal
                var modalElement = document.createElement("div");
                modalElement.setAttribute("class", "modal");
                modalElement.style.display = "block";

                var backgroundElement = document.createElement("div");
                backgroundElement.setAttribute("class", "modal-background");

                var cardElement = document.createElement("div");
                cardElement.setAttribute("class", "modal-card");

                var headerElement = document.createElement("header");
                headerElement.setAttribute("class", "modal-card-head");

                var titleElement = document.createElement("p");
                titleElement.setAttribute("class", "modal-card-title");
                titleElement.innerHTML = `<strong>${title}</strong>`;

                var sectionElement = document.createElement("section");
                sectionElement.setAttribute("class", "modal-card-body is-large");
                messageElement = document.createElement("div");
                messageElement.setAttribute("style", "font-size: 24px;");

                var errorElement = document.createElement("div");

                function updateErrorMessage(message) {
                    if (message == "")
                        errorElement.innerHTML = message;
                    else
                        errorElement.innerHTML = `<hr /><p><font color='red'>${message}</p>`;
                }

                var footerElement = document.createElement("footer");
                footerElement.setAttribute("class", "modal-card-foot");

                var actionButton = document.createElement("a");
                actionButton.setAttribute("class", "modal-button button is-dark");
                actionButton.innerHTML = "Continue";

                var cancelButton = document.createElement("a");
                cancelButton.setAttribute("class", "modal-button button");
                cancelButton.innerHTML = "Cancel";

                // Nest everything within the modal
                modalElement.appendChild(backgroundElement);

                headerElement.appendChild(titleElement);
                sectionElement.appendChild(messageElement);
                sectionElement.appendChild(errorElement);
                footerElement.appendChild(actionButton);
                footerElement.appendChild(cancelButton);

                cardElement.appendChild(headerElement);
                cardElement.appendChild(sectionElement);
                cardElement.appendChild(footerElement);

                modalElement.appendChild(cardElement);
                document.body.appendChild(modalElement);

                var build_body_function = window[`${action}_build_body`];
                if (build_body_function)
                    build_body_function(data_obj, messageElement);

                actionButton.onclick = function() {
                    // This sets it back to the original value if they get an error and then click the action button again.
                    updateErrorMessage("");

                    var postData = {};
                    var get_post_data_function = window[`${action}_get_post_data`];
                    if (get_post_data_function)
                        postData = get_post_data_function();

                    $.ajax({
                        type: 'POST',
                        url: window[`${action}_get_post_url`](data_obj),
                        data: postData,
                        async: false,
                        success: function(result) {
                            if (result == "") {
                                modalElement.style.display = "none";

                                if (reload)
                                    location.reload();
                            }
                            else {
                                updateErrorMessage(result);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown)
                        {
                            updateErrorMessage(`Error: ${errorThrown}`);
                        }
                    });
                }

                cancelButton.onclick = function() {
                    modalElement.style.display = "none";
                }

                // window.onclick = function(event) {
                //     if (event.target == modalElement)
                //         modalElement.style.display = "none";
                // }
            }

            function delete_exercise_submissions_build_body(data_obj, messageElement) {
                pElement = document.createElement("p");
                pElement.innerHTML = "Are you sure you want to purge submissions for this exercise?";
                messageElement.appendChild(pElement);
            }

            function copy_exercise_build_body(data_obj, messageElement) {
                var previous_title = "";
                for (let exercise of {{ jsonify(exercises) }}) {
                    if (exercise[0] == data_obj.exercise_id) {
                        previous_title = exercise[1]["title"];
                        break;
                    }
                }

                pElement = document.createElement("p");
                pElement.innerHTML = "New title:";

                inputElement = document.createElement("input");
                inputElement.setAttribute("class", "input is-medium is-primary");
                inputElement.setAttribute("type", "text");
                inputElement.setAttribute("id", "copy_exercise_new_title");
                inputElement.setAttribute("value", `${previous_title} - 2`);

                messageElement.appendChild(pElement);
                messageElement.appendChild(document.createElement("br"));
                messageElement.appendChild(inputElement);
                inputElement.focus();
                inputElement.selectionStart = inputElement.selectionEnd = inputElement.value.length;
            }

            function move_exercise_build_body(data_obj, messageElement) {
                var html = "<p>New assignment:</p><br />";
                html += `<div class="select is-light">`;
                html += `<select id="exercise_new_assignment_id">`;
                {% for assignment in assignments %}
                    {% if assignment[0] != assignment_basics["id"] %}
                        html += `<option value="{{ assignment[0] }}">{{ assignment[1]["title"] }}</option>`;
                    {% end %}
                {% end %}
                html += `</select>`;
                html += `</div>`;

                divElement = document.createElement("div");
                divElement.innerHTML = html;
                messageElement.appendChild(divElement);
            }

            function delete_exercise_build_body(data_obj, messageElement) {
                pElement = document.createElement("p");
                pElement.innerHTML = "Are you sure you want to delete this exercise?";
                messageElement.appendChild(pElement);
            }

            function delete_exercise_submissions_get_post_url(data_obj) {
                return `/delete_exercise_submissions/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/${data_obj.exercise_id}`;
            }

            function copy_exercise_get_post_url(data_obj) {
                return `/copy_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/${data_obj.exercise_id}`;
            }

            function move_exercise_get_post_url(data_obj) {
                return `/move_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/${data_obj.exercise_id}`;
            }

            function delete_exercise_get_post_url(data_obj) {
                return `/delete_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/${data_obj.exercise_id}`;
            }

            function copy_exercise_get_post_data() {
                return {"new_title": document.getElementById("copy_exercise_new_title").value};
            }

            function move_exercise_get_post_data() {
                return {"new_assignment_id": document.getElementById("exercise_new_assignment_id").value};
            }

            function showCopyAssignmentModal() {
                var modal = document.getElementById("copy_assignment_modal");
                var span = document.getElementsByClassName("close")[1];
                modal.style.display = "block";

                var cancelButton = document.getElementById("copy_cancel_button");
                var copyButton = document.getElementById("copy_button");

                var messageElement = $("#copy_assignment_message");
                messageElement[0].innerHTML = "";
                messageElement.removeClass("is-danger");
                messageElement.addClass("is-success");
                messageElement.addClass("is-hidden");

                copyButton.onclick = function() {
                    $.ajax({
                        type: 'POST',
                        url: "/copy_assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}",
                        data: {"new_course_id": $("#new_course_id")[0].value},
                        async: false})
                        .done(function(data) {
                            var json_data = JSON.parse(data);
                            messageElement.removeClass("is-hidden");

                            if (json_data.result == "") {
                                messageElement[0].innerHTML = "The course was copied successfully!";
                                messageElement.removeClass("is-danger");
                                messageElement.addClass("is-success");
                            }
                            else {
                                messageElement[0].innerHTML = json_data.result;
                                messageElement.removeClass("is-success");
                                messageElement.addClass("is-danger");
                            }
                        })
                        .fail(function(data) {
                            messageElement.removeClass("is-hidden");
                            messageElement[0].innerHTML = "An error occurred when attempting to connect to the server. Please notify the instructor.";
                            console.log(data);
                            messageElement.removeClass("is-success");
                            messageElement.addClass("is-danger");
                        });
                }

                cancelButton.onclick = function() {
                    modal.style.display = "none";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }

                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }

            function showDeleteAssignmentSubmissionsModal() {
                var modal = document.getElementById("delete_submissions_modal");
                var span = document.getElementsByClassName("close")[2];
                modal.style.display = "block";

                var deleteButton = document.getElementById("delete_submissions_button");
                var cancelButton = document.getElementById("delete_submissions_cancel_button");

                deleteButton.onclick = function() {
                    $.ajax({
                        type: 'POST',
                        url: "/delete_assignment_submissions/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}",
                        success: function(result) {
                            modal.style.display = "none";
                            location.reload();
                        },
                        async: false
                    });
                }

                cancelButton.onclick = function() {
                    modal.style.display = "none";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }

            function showVideoModal() {
                var modal = document.getElementById("video_modal");
                var span = document.getElementsByClassName("close")[3];

                modal.style.display = "block";
                document.getElementById("video_title").focus();

                var cancelButton = document.getElementById("video_cancel_button");
                var createButton = document.getElementById("video_create_button");
                document.getElementById("video_title").focus();
                document.getElementById("video_error").innerHTML = "";

                createButton.onclick = function() {
                    var title = document.getElementById("video_title").value.trim();
                    var instructions = document.getElementById("video_instructions").value.trim();
                    var url = document.getElementById("video_url").value.trim();

                    if (title.length == 0 || instructions.length == 0 || url == 0) {
                        document.getElementById("video_error").innerHTML = "<div class='notification error-message'>All inputs must be specified.</div>";
                        return;
                    }

                    if (url.includes("youtube") || url.includes("youtu.be")) {
                      var video_id = url.replace("https://youtu.be/", "").replace("https://www.youtube.com/watch?v=", "").replace("&feature=youtu.be", "");
                      post_data = {"title": title, "instructions": instructions + "\n\nyoutube:" + video_id};
                    }
                    else {
                      if (url.includes("panopto.com")) {
                        var url_parts = url.replace("https://", "").split("/Panopto/Pages/Viewer.aspx?id=");
                        var video_id = url_parts[0] + "/" + url_parts[1];
                        post_data = {"title": title, "instructions": instructions + "\n\npanopto:" + video_id};
                      }
                      else {
                        document.getElementById("video_error").innerHTML = "<div class='notification error-message'>The video URL is invalid.</div>";
                        return;
                      }
                    }

                    $.post("/create_video_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}",
                        post_data,
                        function(data, status) {
                            var message = JSON.parse(data)["message"];

                            if (message == "") {
                                document.getElementById("video_error").innerHTML = "";
                                modal.style.display = "none";

                                location.reload();
                            }
                            else {
                                document.getElementById("video_error").innerHTML = "<div class='notification error-message'>" + message + "</div>";
                            }
                    });
                }

                cancelButton.onclick = function() {
                    modal.style.display = "none";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }
            }
        </script>

        {% if len(exercises) > 0 %}
        <div class="table-container">
            <table class="table is-striped" id="assignment_table">
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th style="text-align: center;">Visibility</th>
                        <th style="text-align: center;">Avg. Score</th>
                        <th style="text-align: center;">Submissions</th>
                        <th style="text-align: center;">Edit</th>
                        <th style="text-align: center;">Copy</th>
                        <th style="text-align: center;">Move</th>
                        <th style="text-align: center;">Delete</th>
                    </tr>
                </thead>
                <tbody>

                {% for exercise in exercises %}
                    <tr>
                        <td><a href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">{{ exercise[1]["title"] }}</a>
                          {% if exercise[1]["enable_pair_programming"] %}
                              <label class="has-tooltip-multiline has-tooltip-right" data-tooltip="Pair programming is enabled for this exercise."><i class="fab fa-product-hunt"></i></label>
                          {% end %}
                        </td>

                        {% if exercise[1]["visible"] == 0 %}
                            <td style="text-align: center;">Hidden</td>
                            <td> </td>
                            <td> </td>
                        {% else %}
                            <td style="text-align: center;">Visible</td>
                            <td style="text-align: center;"><a href="/view_exercise_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">{{ assignment_summary_scores[exercise[0]] }}%</a></td>
                            <td style="text-align: center;"><a href="/exercise_submissions/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">View</a> / <a onclick="showPostModal('delete_exercise_submissions', 'Purge exercise submissions', {'exercise_id': '{{ exercise[1]['id'] }}'}, true)">Purge</a></td>
                        {% end %}
                        <td style="text-align: center;">
                            <a href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[1]['id'] }}">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a onclick="showPostModal('copy_exercise', 'Copy exercise within the same assignment:', {'exercise_id': '{{ exercise[1]['id'] }}'}, true)">
                                <i class="far fa-copy"></i>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a onclick="showPostModal('move_exercise', 'Move this exercise to a different assignment:', {'exercise_id': '{{ exercise[1]['id'] }}'}, true)">
                                <i class="far fa-arrow-alt-circle-right"></i>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a onclick="showPostModal('delete_exercise', 'Delete exercise', {'exercise_id': '{{ exercise[1]['id'] }}'}, true)">
                                <i class="far fa-trash-alt"></i>
                            </a> 
                        </td>
                    </tr>
                {% end %}  
                </tbody>
            </table>
        </div>
        {% else %}
            <p><strong>No exercises have been created for this assignment.</strong></p>
        {% end %}

        <div id="copy_assignment_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h4>Copy an assignment to another course:</h4>

                <div class="notification" id="copy_assignment_message"></div>

                <div class="select is-primary">
                    <select name="new_course_id" id="new_course_id">
                    {% for course in course_options %}
                        <option value="{{ course['id'] }}">{{ course["title"] }}</option>
                    {% end %}
                    </select>
                </div>

                <p class="buttons">
                    <a id="copy_cancel_button" class="modal-button button is-light">Cancel</a>
                    <a id="copy_button" class="modal-button button is-dark">Copy</a>
                </p>
            </div>
        </div>

        <div id="delete_submissions_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Are you sure you want to delete all submissions for this assignment?</p>
                <p><font color="red">This will also delete all scores for this assignment.</font></p>
                <p class="buttons">
                    <a id="delete_submissions_cancel_button" class="modal-button button is-light">Cancel</a>
                    <input type="submit" id="delete_submissions_button" class="modal-button button is-dark" value="Delete"/>
                </p>
            </div>
        </div>

        <div id="video_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p><strong>Create video exercise</strong></p>               

                <p>Use this option to create an exercise that displays a video and asks the user to submit a response based on a prompt in the video. <a href="https://youtube.com" target="_blank">YouTube</a> and <a href="https://panopto.com" target="_blank">Panopto</a> are currently supported.</p>

                <p>Title:
                    <input class="input is-medium is-primary" type="text" id="video_title" name="video_title"/>
                </p>

                <p>Instructions:
                    <input class="input is-medium is-primary" type="text" id="video_instructions" name="video_instructions" value="Please watch this video and then enter the requested response in the box below. If no response was requested, enter `Done`."/>
                </p>

                <p>Video URL:
                    <input class="input is-medium is-primary" type="text" id="video_url" name="video_url"/>
                </p>

                <div id="video_error"></div>

                <p class="buttons">
                    <button type="button" id="video_cancel_button" class="modal-button button is-light">Cancel</button>
                    <input type="submit" id="video_create_button" class="modal-button button is-dark" value="Create"/>
                </p>
            </div>
        </div>

        <div class="buttons">
            <button class="button is-dark" onclick="window.location.href='/edit_exercise/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/';">New exercise</button>
            <button class="button" onclick="showVideoModal()">New video exercise</button>
        </div>

        <p>
            <a href="/edit_assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">Edit assignment</a>
            | <a href="/download_assignment_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}" download="{{ download_file_name }}">Download scores</a><br />

            {% if is_administrator or is_instructor %}
                <a onclick="showCopyAssignmentModal()">Copy assignment</a>
                | <a href="/export_assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}" download="{{ course_basics['title'] }}__{{ assignment_basics['title'] }}.json">Export assignment</a>
                | <a onclick="showDeleteAssignmentSubmissionsModal()">Delete assignment submissions</a>
            {% end %}
        </p>
    {% else %}
        <p>This assignment does not exist.</p>
    {% end %}
{% else %}
    <p>This course does not exist.</p>
{% end %}
<br /><br />
