<article class="message is-dark">
    <div class="message-body">
        <h4>Choose this option if you ARE a student or employee at BYU:</h4>

        <p>
            <a class="button is-dark" href="/caslogin">BYU</a>
        </p>
    </div>
</article>

<article class="message is-dark">
    <div class="message-body">
        <h4>Choose this option if you are NOT student or employee at BYU:</h4>

        <p>
            <a href="/googlelogin"><img src="/static/btn_google_signin_dark_normal_web.png" /></a>
        </p>
    </div>
</article>