        <link rel="stylesheet" href="/static/css/modal.css">
        <div>
            <div class="bottom-spacing">
            {% if not is_administrator and not is_instructor %}
                <div class="tab-title">
                    <h3 style="display: inline">My Consent Forms</h3>
                </div>
                <br>

                {% if registered_courses %}
                    {% for course in registered_courses %}
                        {% if course[1]["consent_text"] and course[1]["consent_text"] != '' %}
                            <p class="space-div">Consent form for <strong>{{ course[1]["title"] }}:</strong></p>
                            <div class="suggestion-div space-div" style="background-color: white">
                                <p>{{ course[1]["consent_text"] }}</p>
                                <p><strong>I, {{ user_info['name'] }}, consent to participate in this study under the
                            </div>
                        {% end %}
                    {% end %}
                {% else %}
                    <p>You have not yet registered for a course.</p>
                {% end %}

            {% else %}
                <div class="tab-title">
                    <h3 style="display: inline">Student Consent Forms</h3>
                </div>
                <div class="tab-content">
                  <div >
                    {% if registered_courses %}
                        {% for course in registered_courses %}
                            {% if course[1]["consent_text"] and course[1]["consent_text"] != '' %}
                                <p class="space-div">Consent forms for <strong>{{ course[1]["title"] }}:</strong></p>

                                {% for student in course[1]['student_names'] %}
                                    <div class="suggestion-div space-div" style="background-color: white">
                                        <p>{{ course[1]["consent_text"] }}</p>
                                        <p><strong>I, {{ student[1]['name'] }}, consent to participate in this study under
                                    </div>
                                {% end %}

                            {% else %}
                                <p class="space-div">There is no consent form for <strong>{{ course[1]["title"] }}.</strong></p>
                            {% end %}
                        {% end %}
                    {% end %}
                  </div>
                </div>
            {% end %}
            </div>
        </div>
    </div>
</div>
