{% if course_basics["exists"] %}
    <h3>{{ course_basics["title"] }}</h3>

    <p>{{ course_details["introduction"] }}</p>

    {% if len(assignment_statuses) > 0 %}
        <script src="/static/shared.js" type="text/javascript" charset="utf-8"></script>

        <div class="table-container">
            <table class="table is-striped" id="assignment_table">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Timed</th>
                        <th>Status</th>
                        <th>Exercises completed</th>
                    </tr>
                </thead>
                <tbody>
                {% for assignment in assignment_statuses %}
                    <tr>
                        <td><a href="/assignment/{{ course_basics['id'] }}/{{ assignment[0] }}">{{ assignment[1]["title"] }}</a></td>

                        {% if "start_date" in assignment[1] and assignment[1]["start_date"] %}
                            <td>
                                <script>
                                    var d = new Date("{{ assignment[1]["start_date"] }}");
                                    document.write(d.toLocaleString());
                                </script>
                            </td>
                        {% else %}
                            <td> </td>
                        {% end %}

                        {% if "due_date" in assignment[1] and assignment[1]["due_date"] %}
                            <td>
                                <script>
                                    var d = new Date("{{ assignment[1]["due_date"] }}");
                                    document.write(d.toLocaleString());
                                </script>
                            </td>
                        {% else %}
                            <td> </td>
                        {% end %}

                        {% if "has_timer" in assignment[1] and assignment[1]["has_timer"] %}
                            <td>Yes </td>
                        {% else %}
                            <td>No</td>
                        {% end %}

                        {% if assignment[1]["passed"] %}
                            <td>
                                <i class="far fa-check-circle"></i>
                                Completed
                            </td>
                        {% else %}
                            {% if assignment[1]["time_has_expired"] %}
                                <td>
                                    <i class="far fa-clock"></i>
                                    Timer expired
                                </td>
                            {% elif assignment[1]["in_progress"] %}
                                <td>
                                    <i class="far fa-hourglass"></i>
                                    In progress
                                </td>
                            {% else %}
                                <td>
                                    <i class="far fa-circle"></i>
                                    Not started
                                </td>
                            {% end %}
                        {% end %}

                        <td><progress class="progress is-small is-primary" value="{{ assignment[1]['num_passed'] }}" max="{{ assignment[1]['num_exercises'] }}"></progress>{{ assignment[1]["num_passed"] }} / {{ assignment[1]["num_exercises"] }}</td>
                    </tr>
                {% end %}
                </tbody>
            </table>
        </div>

        {% if course_details["allow_students_download_submissions"] %}
            <div class="buttons">
                <a class="button" href='/download_submissions_student/{{ course_basics['id'] }}' download="{{ course_basics['title'] }}__{{ user_info['user_id'] }}.html">Download submissions</a>
            </div>
        {% end %}
    {% else %}
        <p>No assignments have been created.</p>
    {% end %}
{% else %}
    <h2>This course does not exist.</h2>
{% end %}