{% if course_basics["exists"] %}
    <h2>{{ course_basics["title"] }}</h2>
    <p>{{ course_details["introduction"] }}</p>

    {% if has_pair_programming %}
        <!--<div class="mb-5">
            <a class="button is-danger is-outlined" href="/view_pp/{{ course_basics['id'] }}">View pair-programming assignments</a>
        </div>-->
    {% end %}

    {% if len(assignments) > 0 %}
        <script src="/static/shared.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" href="/static/css/modal.css">

        <div class="table-container">
            <table class="table is-striped" id="assignment_table">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th style="text-align: center;">Visibility</th>
                        <th style="text-align: center;">Start Date</th>
                        <th style="text-align: center;">Due Date</th>
                        <th style="text-align: center;"># Completed</th>
                        <th style="text-align: center;">Avg. Score</th>
                        <th style="text-align: center;">Edit</th>
                        <th style="text-align: center;">Copy</th>
                        <th style="text-align: center;">Move</th>
                        <th style="text-align: center;">Purge</th>
                        <th style="text-align: center;">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for assignment in assignments %}
                    <tr>
                        <td><a href="/assignment/{{ course_basics['id'] }}/{{ assignment[0] }}">{{ assignment[1]["title"] }}</a></td>
                        {% if assignment[1]["visible"] == 0 %}
                            <td style="text-align: center;">Hidden</td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        {% else %}
                            <td style="text-align: center;">Visible</td>
                            {% if assignment[1]["start_date"] %}
                                <td style="text-align: center;">
                                    <script>
                                        var s = new Date("{{ assignment[1]['start_date'].strftime('%Y-%m-%dT%H:%M:%SZ') }}");
                                        document.write(convertDate(s));
                                    </script>
                                </td>
                            {% else %}
                                <td></td>
                            {% end %}
                            {% if assignment[1]["due_date"] %} 
                                <td style="text-align: center;">
                                    <script>
                                        var d = new Date("{{ assignment[1]['due_date'].strftime('%Y-%m-%dT%H:%M:%SZ') }}");
                                        document.write(convertDate(d));
                                    </script>
                                </td>
                            {% else %}
                                <td> </td>
                            {% end %}

                            <td style="text-align: center;">{{ course_summary_scores[assignment[1]["id"]]["num_students_completed"] }} / {{ course_summary_scores[assignment[1]["id"]]["num_students"] }}</td>
                            <td style="text-align: center;"><a href="/view_assignment_scores/{{ course_basics['id'] }}/{{ assignment[1]['id'] }}">{{ course_summary_scores[assignment[1]["id"]]["avg_score"] }}%</a></td>
                        {% end %}
                        <td style="text-align: center;">
                            <a href="/edit_assignment/{{ course_basics['id'] }}/{{ assignment[1]['id'] }}">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a onclick="showPostModal('copy_assignment', 'Copy this assignment within this course', {'assignment_id': {{ assignment[1]['id'] }}}, true)">
                                <i class="far fa-copy"></i>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a onclick="showPostModal('move_assignment', 'Move assignment to another course', {'assignment_id': {{ assignment[1]['id'] }}}, true)">
                                <i class="far fa-arrow-alt-circle-right"></i>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a onclick="showPostModal('delete_assignment_submissions', 'Purge assignment submissions', {'assignment_id': {{ assignment[1]['id'] }}}, true)">
                                <i class="far fa-times-circle"></i>
                            </a>
                            <!--https://fontawesome.com/v5/search?o=r&m=free&s=regular-->
                        </td>
                        <td style="text-align: center;">
                            <a onclick="showPostModal('delete_assignment', 'Delete assignment', {'assignment_id': {{ assignment[1]['id'] }}}, true)">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p><strong>No assignments have been created for this course.</strong></p>
    {% end %}

    <div id="copy_course_modal" class="modal">
        <div class="modal-content">
            <h4>Make a copy of this course</h4>
            <div class="notification is-danger" id="copy_course_message" style="display:none"></div>
            <p>New title:</p>

            <input class="input is-medium is-primary" type="text" id="new_title" name="new_title" placeholder="{{course_basics['title']}}" value="{{course_basics['title']}}"/>
            <p class="buttons">
                <a id="copy_cancel_button" class="modal-button button is-light">Cancel</a>
                <button onclick="copyCourse({{ course_basics['id'] }})" id="copy_button" class="modal-button button is-dark">Copy</button>
            </p>
        </div>
    </div>

    <div id="delete_submissions_modal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Are you sure you want to delete all submissions for this course?</p>
            <p><font color="red">This will also delete all scores for this course.</font></p>
            <p class="buttons">
                <a id="delete_submissions_cancel_button" class="modal-button button is-light">Cancel</a>
                <input type="submit" id="delete_submissions_button" class="modal-button button is-dark" value="Delete"/>
            </p>
        </div>
    </div>

    {% if is_administrator or is_instructor %}
        <div class="buttons">
            <a class="button is-dark" href="/edit_assignment/{{ course_basics['id'] }}/">Create assignment</a>

            <a class="button" onclick="showPostModal('import_assignment', 'Import an assignment from a JSON file', {}, true)">Import assignment</a>
            <!--<a class="button" href="/import_assignment/{{ course_basics['id'] }}">Import assignment</a>-->

            <a class="button" href="/edit_course/{{ course_basics['id'] }}">Edit course</a>

            <a class="button" onclick="showCopyCourseModal()">Copy course</a>

            <a class="button" href="/delete_course/{{ course_basics['id'] }}">Delete course</a>

            <a class="button" onclick="showDeleteSubmissionsModal()">Delete course submissions</a>
        </div>
    {% end %}

    <script>
        function showCopyCourseModal() {
            var modal = document.getElementById("copy_course_modal");
            modal.style.display = "block";

            var cancelButton = document.getElementById("copy_cancel_button");

            cancelButton.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function showDeleteSubmissionsModal() {
            var modal = document.getElementById("delete_submissions_modal");
            var span = document.getElementsByClassName("close")[1];
            modal.style.display = "block";

            var deleteButton = document.getElementById("delete_submissions_button");
            var cancelButton = document.getElementById("delete_submissions_cancel_button");

            deleteButton.onclick = async function() {
                $.ajax({
                    type: 'POST',
                    url: "/delete_course_submissions/{{ course_basics['id'] }}",
                    success: function(result) {
                        modal.style.display = "none";
                        location.reload();
                    },
                    async: false
                });
            }

            cancelButton.onclick = function() {
                modal.style.display = "none";
            }

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function copyCourse(course) {
            var new_title = document.getElementById("new_title").value;
            var message = document.getElementById("copy_course_message")
            var modal = document.getElementById("copy_course_modal");

            $.post(`/copy_course/${course}`, {"new_title": new_title},
                function(data) {
                    var json_data = JSON.parse(data);

                    if (json_data.result == "") {
                        modal.style.display = "none";
                        location.reload();
                    }
                    else {
                        message.innerHTML = json_data.result;
                        message.style.display = "block";
                    }
            });
        }

        function copy_assignment_build_body(data_obj, messageElement) {
            var previous_title = "";
            for (let assignment of {{ jsonify(assignments) }}) {
                if (assignment[0] == data_obj.assignment_id) {
                    previous_title = assignment[1]["title"];
                    break;
                }
            }

            pElement = document.createElement("p");
            pElement.innerHTML = "New title:";

            inputElement = document.createElement("input");
            inputElement.setAttribute("class", "input is-medium is-primary");
            inputElement.setAttribute("type", "text");
            inputElement.setAttribute("id", "copy_assignment_new_title");
            inputElement.setAttribute("value", `${previous_title} - 2`);

            messageElement.appendChild(pElement);
            messageElement.appendChild(document.createElement("br"));
            messageElement.appendChild(inputElement);
            inputElement.focus();
            inputElement.selectionStart = inputElement.selectionEnd = inputElement.value.length;
        }

        function copy_assignment_get_post_url(data_obj) {
                return `/copy_assignment/{{ course_basics['id'] }}/${data_obj.assignment_id}`;
        }

        function copy_assignment_get_post_data() {
                return {"new_title": document.getElementById("copy_assignment_new_title").value};
        }

        function move_assignment_build_body(data_obj, messageElement) {
            var html = "<p style='margin-bottom: 0.5em;' class='is-size-5'><font color='red'>Please be aware that any code submissions and scores for students in the current course will be deleted if the assignment is moved to a different course.</font></p>";
            html += "<p style='margin-bottom: 0.5em;' class='is-size-5'>New course:</p>";
            html += `<div class="select is-normal">`;
            html += `<select id="assignment_new_course_id">`;
            {% for course in courses %}
                {% if course[0] != course_basics["id"] %}
                    html += `<option value="{{ course[0] }}">{{ course[1]["title"] }}</option>`;
                {% end %}
            {% end %}
            html += `</select>`;
            html += `</div>`;

            divElement = document.createElement("div");
            divElement.innerHTML = html;
            messageElement.appendChild(divElement);
        }

        function move_assignment_get_post_url(data_obj) {
                return `/move_assignment/{{ course_basics['id'] }}/${data_obj.assignment_id}`;
        }

        function move_assignment_get_post_data() {
                return {"new_course_id": document.getElementById("assignment_new_course_id").value};
        }

        function delete_assignment_submissions_build_body(data_obj, messageElement) {
            pElement = document.createElement("p");
            pElement.innerHTML = "Are you sure you want to purge submissions for this assignment?";
            messageElement.appendChild(pElement);
        }

        function delete_assignment_submissions_get_post_url(data_obj) {
                return `/delete_assignment_submissions/{{ course_basics['id'] }}/${data_obj.assignment_id}`;
        }

        function delete_assignment_build_body(data_obj, messageElement) {
            pElement = document.createElement("p");
            pElement.innerHTML = "Are you sure you want to delete this assignment?";
            messageElement.appendChild(pElement);
        }

        function delete_assignment_get_post_url(data_obj) {
                return `/delete_assignment/{{ course_basics['id'] }}/${data_obj.assignment_id}`;
        }

        function import_assignment_build_body(data_obj, messageElement) {
            var html = `<p>Please upload a JSON file that was exported from this application and that contains details about an assignment.</p><br />
            <p>
                <div class="file has-name is-fullwidth">
                    <label class="file-label">
                        <input class="file-input" type="file" id="upload_file_control" accept="application/json" onchange="import_assignment_set_file_name()">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Choose a file...
                            </span>
                        </span>
                        <span class="file-name is-hidden" id="upload_file_name" />
                    </label>
                </div>
            </p>
            
            <div class="is-hidden" id="upload_file_text" />`;

            divElement = document.createElement("div");
            divElement.innerHTML = html;
            messageElement.appendChild(divElement);
        }

        async function import_assignment_set_file_name() {
            if ($("#upload_file_control")[0].files.length > 0) {
                $("#upload_file_name")[0].innerHTML = $("#upload_file_control")[0].files[0].name;
                $("#upload_file_name").removeClass("is-hidden");

                $("#upload_file_text")[0].innerHTML = await $("#upload_file_control")[0].files[0].text();
            }
        }

        function import_assignment_get_post_url(data_obj) {
            return `/import_assignment/{{ course_basics['id'] }}`;
        }

        function import_assignment_get_post_data() {
            return {"file_text": $("#upload_file_text")[0].innerHTML};
        }
    </script>
{% else %}
    <h2>This course does not exist.</h2>
{% end %}