<form method="post" action="/devlogin">
<div class="field">
    <br />
    <label class="label is-large">Please log in:</label>
    <div class="control">
        <input name="user_id" class="input is-large is-dark" type="text" placeholder="Enter your ID or a student's ID." autofocus>
    </div>
</div>

<div class="field">
    <div class="control">
        <input name="dev_password" class="input is-large is-dark" type="text" placeholder="Enter the development password." autofocus>
    </div>
</div>

<div class="field">
    <input type="submit" class="button is-dark is-fullwidth" value="Log in"/>
</div>
</form>
