<form method="post" action="/edit_course/{{ course_basics['id'] }}" id="courseForm">

{% if course_basics["exists"] %}
<div class="row-container">
    <h3>Edit course</h3>
    <p>
        <input type="submit" class="button is-dark" value="Save" />
        <button class="button is-white" onclick="location.href='/course/{{ course_basics["id"] }}'; return false;">Done</button>
    </p>
</div>
{% else %}
    <h3>Create course</h3>
{% end %}


{% if result %}
    {% if result.startswith("Error:") %}
        <p><div class="notification error-message"><strong>{{ result }}</strong></div></p>
    {% else %}
        <p><div class="notification success-message"><strong>{{ result }}</strong></div></p>
    {% end %}
{% end %}

<div class="shadow-box">
    <div class="row-container">
        <div class="a-title-container">
            <p><strong>Title*: </strong></p>
            <p><textarea name="title" class="textarea is-grey is-medium monospace" placeholder="Please specify a descriptive title for this course." rows="1" autofocus>{{ course_basics["title"] }}</textarea>
        </div>

        <div class="a-visible top-space">
            <p><strong>Visible to students: </strong>
                <div class="select is-grey">
                    <select name="is_visible" class="edit-select">
                    {% if course_basics["visible"] %}
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                    {% else %}
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    {% end %}
                    </select>
                </div>
            </p>
        </div>
    </div>

    <div class="top-space">
        <textarea class="textarea" name="introduction" rows=10 placeholder="Please provide an introduction for this course.">{{ course_details["introduction"] }}</textarea>
    </div>
</div>

<div class="shadow-box">
    <div class="a-visible top-space">
        <p><strong>Allow students to download their code for this course?</strong>
        <br />With this option, students are allowed to download their code for all assignments and exercises in this course as a single HTML file. The file includes their <i>latest, passing</i> submission for each exercise. To provide context, assignment introductions and exercise instructions are provided. Timed assignments, hidden assignments, and non-code exercises are excluded.</p>
            <div class="select is-grey">
                <select name="allow_students_download_submissions" class="edit-select">
                {% if course_details["allow_students_download_submissions"] %}
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                {% else %}
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                {% end %}
                </select>
            </div>
        </p>
    </div>
</div>

<div class="shadow-box">
    <p><strong>Passcode (optional): </strong><br/>Students are required to enter this code in order to register for the course.</p>
    <p><textarea name="passcode" class="textarea is-grey is-medium is-fullwidth monospace" rows="1">{% if course_details["passcode"] %}{{ course_details["passcode"] }}{% end %}</textarea></p>
</div>

<p><input type="submit" class="button is-dark is-medium is-fullwidth" value="Save" /></p>

<p>
{% if course_basics["exists"] %}
    <a href="/course/{{ course_basics['id'] }}">Done</a>
{% end %}
</p>

</form>
