{% if course_basics["exists"] %}
    {% if assignment_basics["exists"] %}
        <h4>{{ assignment_basics["title"] }}</h4>

        <h6>Edit scores for {{ student_id }}</h6>
        <p>Click on an exercise to view the student's past submissions.</p>

        {% if result %}
            {% if result.startswith("Error:") %}
                <p><div class="notification error-message"><strong>{{ result }}</strong></div></p>
            {% elif result.startswith("Success:") %}
                <p><div class="notification success-message"><strong>{{ result }}</strong></div></p>
            {% end %}
        {% end %}

        <form method="post" action="/edit_scores/{{ course_basics['id']}}/{{ assignment_basics['id'] }}/{{ student_id }}">

        <div class="table-container">
            <table class="table is-striped" id="scores_table">
                <thead>
                    <tr>
                    <th>Exercise</th>
                    <th># Submissions</th>
                    <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for exercise in exercise_statuses %}
                    <tr>
                        {% if exercise[1]["num_submissions"] > 0 %}
                            <td><a href="/student_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[1]['id'] }}/{{ student_id }}">{{ exercise[1]["title"] }}</a></td>
                        {% else %}
                            <td>{{ exercise[1]["title"] }}</td>
                        {% end %}
                        <td>{{ exercise[1]["num_submissions"] }}</td>
                        <td><input class="input is-medium is-primary" style="width: 90px;" id="{{ exercise[1]['id'] }}" name="{{ exercise[1]['id'] }}" type="text" datainput value="{{ round(exercise[1]['score']) }}"></td>
                    </tr>
                {% end %}    
                </tbody>
            </table>
        </div>

        <p><input type="submit" class="button is-dark is-medium is-fullwidth" value="Save"/></p>        
        <br />
        <a href="/view_assignment_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">Back to all scores</a> |
        <a href="/edit_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">Edit scores</a>

        </form>

    {% end %}
{% end %}
<br /><br />
