<script>
function get_user_code() {
    // This line allows you to execute only the selected part of the code.
    // But it may cause confusion to students, so it is disabled.
    //user_code = editor.getSelectedText().trim();

    //if (user_code == "")
        user_code = editor.getValue().trim();

    return user_code;
}

{% if "previous_submission_code" in exercise_details %}
    function copy_code_from_previous_exercise() {
        let previous_code = `{{ exercise_details["previous_submission_code"] }}`;

        let cursor_index = editor.session.doc.positionToIndex(editor.getCursorPosition());

        if (editor.getValue().trim() == "") {
            var new_code = previous_code;
        }
        else {
            let current_code = editor.getValue();

            var new_code = current_code.substring(0, cursor_index) + previous_code + current_code.substring(cursor_index, current_code.length);
        }

        editor.setValue(new_code, cursor_index);
        editor.clearSelection();
        editor.focus();
    }
{% end %}

function run_code(show_submit_warning) {
    user_code = get_user_code();
    if (user_code == "")
        return false;

    hideMessages();
    showWaitMessage();

    $.ajax({
        type: 'POST',
        url: "/run_code/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}",
        data: {"user_code": user_code},
        async: true,
    }).done(function(result) {
            var response_dict = JSON.parse(result);

            if (response_dict["message"] == "") {
                hideMessages();
                showTestOutputs(response_dict["test_outputs"], true);

                if (show_submit_warning && response_dict["all_passed"])
                    showInfoMessage("Be sure to click on Submit so your solution and score will be saved.");
            }
            else
                showErrorMessage(response_dict["message"]);
        })
        .fail(function(result) {
            showErrorMessage(result);
        });

    editor.focus();
    return false;
}

function submit() {
    user_code = get_user_code();
    if (user_code == "") {
        return false;
    }

    hideMessages();
    showWaitMessage();

    let partner_id = $("#partner_id")[0].value == "" ? null : $("#partner_id")[0].value;

    let submission_date = new Date();

    post_data = {"partner_id": partner_id, "code": user_code, "date": submission_date.toLocaleString("en-US", {timeZone: "UTC"})};

    $.ajax({
        type: 'POST',
        url: "/submit/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}",
        data: post_data,
        async: true})
        .done(function(result) {
            var response_dict = JSON.parse(result);

            if (response_dict["message"] == "") {
                submissions.push({
                    "id": response_dict["submission_id"],
                    "code": user_code,
                    "date": submission_date.toLocaleString(),
                    "passed": response_dict["all_passed"],
                    "partner_name": response_dict["partner_name"],
                    "test_outputs": response_dict["test_outputs"]});

                show_past_submissions();
                get_submission(response_dict["submission_id"], false, true);

                saved_div.innerHTML = "";
            }
            else {
                showErrorMessage(response_dict["message"]);
            }
        })
        .fail(function(result) {
            showErrorMessage(result);
        });

    editor.focus();
}

function showWaitMessage() {
    $("#result_message")[0].innerHTML = "<div class='notification is-warning'>Please wait while your solution is being processed...</div>";
    $("#result_message")[0].scrollIntoView();
}

 function hideMessages() {
    $("#result_message")[0].innerHTML = "";
    $("#test_outputs")[0].innerHTML = "";
}

function showSuccessMessage(submission) {
    {% if exercise_details["allow_any_response"] %}
        let message = "Thank you for your submission.";
    {% else %}
        {% if len(exercise_details["tests"]) == 1 %}
            var message = "Congratulations! Your solution passes the test.";
        {% else %}
            var message = "Congratulations! Your solution passes all of the tests.";
        {% end %}

        if (submission.partner_name != null)
            message += ` Your programming partner was ${submission.partner_name}.`
    {% end %}

    var result = "<div class='notification success-message' style='color:white'><p><strong>" + message + "</strong></p>";

    {% if exercise_details["show_instructor_solution"] and (exercise_details["solution_code"] != "" or exercise_details["solution_description"] != "") %}
        result += "<p><a class='grey-text' href='/view_instructor_solution/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}'>View</a> the instructor's solution.</p>";
    {% end %}

    {% if exercise_details["show_peer_solution"] and (exercise_details["solution_code"] != "") %}
        result += "<p><a class='grey-text' href='/view_peer_solution/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}'>View</a> a solution from one of your peers.</p>";
    {% end %}

    result += "</div>"

    $("#result_message")[0].innerHTML = result;
}

function showNotPassingMessage(num_tests) {
    var message = "Your solution does not yet pass the test";

    if (num_tests > 1)
        message += "s";
                    
    message += ". Keep working at it. You can do this!";

    $("#result_message")[0].innerHTML = `<div class='notification not-passing' style='color: white'>${message}</div>`;
}

function showErrorMessage(message) {
    $("#result_message")[0].innerHTML = `<div class='notification is-danger' style='color: white'>An error occurred while your code was being processed.</div><pre>${message}</pre>`;
    $("#result_message")[0].scrollIntoView();
}

function showInfoMessage(message) {
    $("#result_message")[0].innerHTML = `<div class='notification is-dark'>${message}</div>`;
}

function showTestOutputs(test_outputs, scroll) {
    var output = "";

    // This is what we do if we haven't gone to the server yet.
    if (test_outputs == null || test_outputs.length == 0) {
        test_outputs = {};

        for (let test_title of Object.keys(tests)) {
            test_outputs[test_title] = {};
            test_outputs[test_title]["txt_output"] = null;
            test_outputs[test_title]["jpg_output"] = null;
            test_outputs[test_title]["passed"] = null;
        }
    }

    if ({{ exercise_details["allow_any_response"] }}) {
        var test_header = "";
        var tests_output = ""

        var test_output = test_outputs[Object.keys(test_outputs)[0]];
        if (test_output != null && test_output.passed != null) {
            tests_output = buildStudentOutput(test_output);
        }
    }
    else {
        if (Object.keys(test_outputs).length == 1) {
            var test_header = "<h6>Test:</h6>";
            var tests_output = buildTestOutput(test_outputs, Object.keys(test_outputs)[0], false, true);
        }
        else {
            var test_header = "<h6>Tests:</h6>";
            var tests_output = "";

            var test_titles = Object.keys(test_outputs);
            test_titles.sort((a, b) => a.localeCompare(b, navigator.languages[0] || navigator.language, {numeric: true, ignorePunctuation: true}));

            for (let test_title of test_titles)
                tests_output += buildTestOutput(test_outputs, test_title, true, test_title == test_titles[test_titles.length - 1]);
        }
    }

    if (tests_output != "") {
        output += test_header + tests_output;
    }

    $("#test_outputs")[0].innerHTML = output;

    if (scroll)
        $("#test_outputs")[0].scrollIntoView();
}

function buildTestOutput(test_outputs, test_title, show_title, is_last) {
    if (!(test_title in tests)) {
        return "";
    }

    if (test_outputs[test_title].passed == null) {
        var test_class = "neutral-bd-color";
        var test_message = show_title ? test_title : "";
    }
    else {
        if (test_outputs[test_title].passed) {
            var test_class = "passing-bd-color";

            if (show_title)
                var test_message = `${test_title} - Passing`;
            else
                var test_message = `Passing`;
        }
        else {
            var test_class = "failing-bd-color";

            if (show_title)
                var test_message = `${test_title} - Not passing`;
            else
                var test_message = `Not passing`;
        }
    }

    if (is_last)
        var output = `<div class='${test_class}' style="font-size: 1em; margin-bottom: 0px">`;
    else
        var output = `<div class='${test_class}' style="font-size: 1em; margin-bottom: 10px">`;

    if (test_message == "")
        output += `<div style="padding: 0.75em 0.5em 0em 1.25em;margin:0"></div>`;
    else
        output += `<h6 style="padding: 0.75em 0.5em 0.25em 1.25em;margin:0">${test_message}</h6>`;

    output += '<div style="padding: 0em 1.25em 0.75em 1.25em">';

    if (tests[test_title]["instructions"] != "") {
        output += `<div style="padding: 0.5em 0em 0.5em 0em;margin:0">${tests[test_title]["instructions"]}</div>`;
    }

    if (tests[test_title].can_see_test_code) {
        if (tests[test_title].before_code != "") {
            var message = '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Code that will be executed before your code:</div>';
            if (test_outputs[test_title].passed != null)
                message = '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Code that was executed before your code:</div>';

            output += message + '<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">' + tests[test_title].before_code + '</pre>';
        }

        if (tests[test_title].after_code != "") {
            var message = '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Code that will be executed after your code:</div>';
            if (test_outputs[test_title].passed != null)
                message = '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Code that was executed after your code:</div>';

            output += message + '<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">' + tests[test_title].after_code + '</pre>';
        }
    }
    else {
        output += '<div style="padding: 0.5em 0em 0.5em 0em;margin:0"><em>The test code will not be shown for this test.</em></div>';
    }

    if (test_outputs[test_title]["passed"] == null || !test_outputs[test_title]["passed"]) {
        if (tests[test_title].can_see_expected_output) {
            var expected_output = "";

            if (tests[test_title]["txt_output_formatted"] != null && tests[test_title]["txt_output_formatted"] != "") {
                expected_output += '<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">' + tests[test_title]["txt_output_formatted"] + '</pre>';
            }

            if (tests[test_title]["jpg_output"] != null && tests[test_title]["jpg_output"] != "") {
                expected_output += '<p style="padding: 0em 0em 0em 0em;margin:0"><img src="data:image/jpg;base64,' + tests[test_title]["jpg_output"] + '" /></p>';
            }

            output += '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Expected output:</div>' + expected_output;
        }
        else {
            output += '<div style="padding: 0.5em 0em 0.5em 0em;margin:0"><em>The expected output will not be shown for this test.</em></div>';
        }
    }

    if (test_outputs[test_title].passed != null) {
        if (tests[test_title].can_see_code_output) {
            output += buildStudentOutput(test_outputs[test_title]);

            if (tests[test_title].can_see_expected_output && !test_outputs[test_title].passed) {
                var diff_output = test_outputs[test_title]["diff_output"];

                if (diff_output != "") {
                    output += "<div class='mt-4'>";
                    output += `<form action="/diff" method="POST" target="diff_page">
                        <input type="hidden" name="course_id" value="{{ course_basics["id"] }}">
                        <input type="hidden" name="assignment_id" value="{{ assignment_basics["id"] }}">
                        <input type="hidden" name="exercise_id" value="{{ exercise_basics["id"] }}">`;

                    {% if exercise_details["output_type"] == "txt" %}
                        output += `<input type="hidden" name="expected_output" value="`;
                        output += encodeURI(tests[test_title]["txt_output"]);
                        output += `">`;
                        output += `<input type="hidden" name="actual_output", value="`;
                        output += encodeURI(test_outputs[test_title]["txt_output"]);
                        output += `">`;
                    {% else %}
                        output += `<input type="hidden" name="diff_output", value="`;
                        output += diff_output;
                        output += `">`;
                    {% end %}
                    
                    output += `<input type="submit" value="View differences" class="button">
                        </form>`;
                    output += "</div>";
                }
            }
        }
        else {
            output += '<div style="padding: 0.5em 0em 0.5em 0em;margin:0"><em>Your output will not be shown for this test.</em></div>';
        }
    }

    output += `</div>`;
    output += `</div>`;

    return output;
}

function buildStudentOutput(test_output) {
    output = '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Your output:</div>';

    if ("{{ exercise_details["output_type"] }}" == "txt" || test_output["txt_output"] != "")
        output += '<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">' + test_output["txt_output_formatted"] + '</pre>';

    if ("{{ exercise_details["output_type"] }}" == "jpg") {
        if (test_output["jpg_output"] == "") {
            output += '<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">[No image was generated.]</pre>';
        }
        else {
            output += '<p style="padding: 0em 0em 0em 0em;margin:0"><img src="data:image/jpg;base64,' + test_output["jpg_output"] + '"` /></p>';
        }
    }

    return output;
}

function get_submission(submission_id, scroll, change_border) {
    window.wasUserChange = false;

    hideMessages();

    var this_submission;

    for (let submission of submissions) {
        if ($(`#submission_button_${submission.id}`).length > 0) {
            $(`#submission_button_${submission.id}`)[0].style.border = "none";
        }

        if (submission.id == submission_id) {
            this_submission = submission;

            if ($(`#submission_button_${submission.id}`).length > 0) {
                if (change_border) {
                    $(`#submission_button_${submission.id}`)[0].style.border = "solid #000000";
                }
            }
        }
    }

    if (scroll)
        $("#user_code_area")[0].scrollIntoView();

    editor.focus();
    editor.setValue(this_submission.code, -1);

    if (this_submission["passed"])
        showSuccessMessage(this_submission);
    else
        showNotPassingMessage(this_submission["test_outputs"].length);

    if ({{ exercise_details["max_submissions"]}} > 0 && submissions.length >= {{ exercise_details["max_submissions"]}}) {
        $("#submit_button")[0].disabled = true;
        $("#submit_button")[0].hidden = true;
    }

    showTestOutputs(this_submission["test_outputs"], false);

    {% if exercise_details["max_submissions"] > 0 %}
        $("#max_submissions_message")[0].innerHTML = `<div style="padding: 0em 0.5em 1.25em 0em;margin:0"><em>You have made ${submissions.length} of {{ exercise_details["max_submissions"] }} allowed submission(s).</em></div>`;
    {% end %}

    window.wasUserChange = true;
}

function show_past_submissions() {
    var submissions_div = document.getElementById("submissions");

    var submission_html = "";
    var revert_html = "";
    var current_code = editor.getValue()

    if (submissions.length > 1) {
        submission_html += "<h6>Past submissions:</h6>";
        submission_html += "<div class='buttons'>";

        var i;
        for (i = submissions.length - 1; i >= 0; i--) {
            submission = submissions[i];

            if (submission.passed)
                button_bd_color = "passing-btn-color";
            else
                button_bd_color = "failing-btn-color";

            var submission_date = new Date(submission.date).toLocaleString();

            if (submission.partner_name)
                submission_html += `<button class='button ${button_bd_color}' id='submission_button_${submission.id}' style='display: block; width: 315px;' onclick='get_submission(${submission.id}, true, true)'><b>${i + 1}.</b> ${submission_date} <label class="has-tooltip-multiline has-tooltip-right" data-tooltip="Programming partner: ${submission.partner_name}"><i class="fab fa-product-hunt"></i></label></button>`;
            else
                submission_html += `<button class='button ${button_bd_color}' id='submission_button_${submission.id}' style='display: block; width: 315px;' onclick='get_submission(${submission.id}, true, true)'><b>${i + 1}.</b> ${submission_date}</button>`;
        }

        submission_html += "</div>";
    }

    submissions_div.innerHTML = submission_html;
}

function showSubmitModal() {
    user_code = get_user_code();
    if (user_code == "") {
        return false;
    }

    var modal = document.getElementById("submit_exercise_modal");
    var span = document.getElementsByClassName("close")[4];

    modal.style.display = "block";

    var cancelButton = document.getElementById("submit_cancel_button");
    var modalSubmitButton = document.getElementById("modal_submit_button");

    modalSubmitButton.onclick = function() {
        var partner_name = "";

        if ($("#partner_name").length > 0)
            partner_name = $("#partner_name")[0].value;

        if (partner_name == "") {
            submit();
            modal.style.display = "none";
        } else {
            $("#submit_exercise_modal_message")[0].innerHTML = "";

            $.ajax({
                type: 'GET',
                url: "/get_partner_id/{{ course_basics['id'] }}/" + partner_name,
                async: true
                })
                .done(function(data) {
                    response = JSON.parse(data);

                    if (response == "") {
                        $("#submit_exercise_modal_message")[0].innerHTML = "<div style='margin:15px 0px' class='space_div notification is-danger is-light smaller-font'>An invalid partner was specified. Please try again.</div>";
                    }
                    else {
                        $("#partner_id")[0].value = response;
                        modal.style.display = "none";
                        submit();
                    }
                })
                .fail(function(data) {
                    $("#submit_exercise_modal_message")[0].innerHTML = "<div style='margin:15px 0px' class='space_div notification is-danger is-light smaller-font'>An unexpected error occurred. Please try again and notify the instructor if the error persists.</div>";
                    console.log(data);
                });
        }
    }

    cancelButton.onclick = function() {
        modal.style.display = "none";
    }
}

function save_presubmission() {
   user_code = editor.getValue();
   if (user_code.trim() == "")
       return false;

   $.ajax({
        type: 'POST',
        url: "/save_presubmission/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}",
        data: {"user_code": user_code},
        async: true
        })
    .done(function(result) {
        if (result == "") {
            codeChanged = false;

            last_saved_at = new Intl.DateTimeFormat('default', {
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
            }).format(Date.now());

            saved_div.innerHTML = `<em>(saved at ${last_saved_at})</em>`;
        }
        else {
            console.log("An error occurred when the user attempted to save their code.");
            console.log(result);
            saved_div.innerHTML = "<em>An error occurred when saving your code. If this error persists, please contact the instructor.</em>";
        }
    })
    .fail(function(result) {
        console.log("An error occurred when the user attempted to save their code.");
        console.log(result);
        saved_div.innerHTML = "<em>An error occurred when saving your code. If this error persists, please contact the instructor.</em>";
    });
}

/*function showLinkModal() {
    var modal = document.getElementById("share_modal");
    var span = document.getElementsByClassName("close")[0];
    var copyText = document.getElementById("share_link");
    modal.style.display = "block";
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
}*/

/*function copyLink() {
    var copyText = document.getElementById("share_link");
    copyText.select();
    copyText.setSelectionRange(0, 99999); //For mobile devices
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
}*/

function showHideHint() {
    if ($("#hint_text").hasClass("is-hidden")) {
        $("#hint_button")[0].innerHTML = "Hide hint";
        $("#hint_text").removeClass("is-hidden");
        $("#hint_button").addClass("is-light");
    }
    else {
        $("#hint_button")[0].innerHTML = "Show hint";
        $("#hint_text").addClass("is-hidden");
        $("#hint_button").removeClass("is-light");
    }
}

// function showHelpRequestModal() {
//     var modal = document.getElementById("help_request_modal");
//     var span = document.getElementsByClassName("close")[1];
//     modal.style.display = "block";

//     document.getElementById("student_comment").focus();

//     var submitButton = document.getElementById("submit_request_button");
//     submitButton.onclick = async function() {
//         var user_code = editor.getValue();
//         var student_comment = document.getElementById("student_comment").value;
//         var post_data = { "user_code": user_code, "student_comment": student_comment };

//         await $.post("/submit_request/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}", post_data);
//         modal.style.display = "none";

//         location.reload();
//     }

//     var cancelButton = document.getElementById("cancel_request_button");
//     cancelButton.onclick = function() {
//         modal.style.display = "none";
//     }

//     span.onclick = function() {
//         modal.style.display = "none";
//     }

//     window.onclick = function(event) {
//         if (event.target == modal) {
//           modal.style.display = "none";
//         }
//     }
// }

// function showMatchingModal() {
//     var modal = document.getElementById("matching_modal");
//     var span = document.getElementsByClassName("close")[2];
//     modal.style.display = "block";

//     var deleteButton = document.getElementById("delete_request_button");
//     deleteButton.onclick = async function() {
//         await $.post("/delete_request/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ user_info['user_id'] }}");
//         modal.style.display = "none";

//         location.reload();
//     }

//     var keepButton = document.getElementById("keep_request_button");
//     keepButton.onclick = function() {
//         modal.style.display = "none";
//     }

//     span.onclick = function() {
//         modal.style.display = "none";
//     }

//     window.onclick = function(event) {
//         if (event.target == modal) {
//           modal.style.display = "none";
//         }
//     }
// }

// function showSuggestionModal() {
//     var modal = document.getElementById("suggestion_modal");
//     var span = document.getElementsByClassName("close")[3];
//     modal.style.display = "block";

//     span.onclick = function() {
//         modal.style.display = "none";
//     }

//     window.onclick = function(event) {
//         if (event.target == modal) {
//           modal.style.display = "none";
//         }
//     }
// }

function showHideData(dataPanelID, dataButtonID) {
    var data_panel = document.getElementById(dataPanelID);
    var data_button = document.getElementById(dataButtonID);

    if (data_panel.hidden) {
        data_panel.hidden = false;
        data_button.innerHTML = "Hide";
    }
    else {
        data_panel.hidden = true;
        data_button.innerHTML = "Show";
    }
}

function isTakingRestrictedAssignment() {
    $.ajax({
        type: 'GET',
        url: "/is_taking_restricted_assignment/{{ user_info['user_id'] }}/{{ assignment_basics['id'] }}",
        async: true
        })
    .done(function(data) {
        if (JSON.parse(data))
            window.location.replace("/unavailable_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}");
    })
    .fail(function(data) {
        console.log(data);
    });
}
</script>
