{% if len(exercise_submissions) > 0 %}
    <div>
        <h4 style="display: inline-block;">Submissions for {{ exercise_basics["title"] }}</h4>
        <div class="buttons is-pulled-right">
            <a class="button is-dark" onclick="showAllSubmissions()">Show All</a>
            <a class="button is-light" onclick="hideAllSubmissions()">Hide All</a>
        </div>
    </div>

    {% for student in exercise_submissions %}
        {% if student[1]["passed"] %}
            {% if student[1]["partner_name"] %}
                <button type="button" class="clickable collapsible"><strong>{{ student[1]["name"] }}</strong> pair programmed with <strong>{{student[1]["partner_name"]}}</strong></button>
            {% else %}
                <button type="button" class="clickable collapsible"><strong>{{ student[1]["name"] }}</strong></button>
            {% end %}

            <div class="c-content">
                <p style="margin-top: 9px; margin-bottom: 3px;">Exercise score: <strong>{{ student[1]["score"] }}%</strong>:</p>

                <p><pre style="margin-bottom: 7px;">{{ student[1]["code"] }}</pre></p>

                <p><a href="/student_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{exercise_basics['id'] }}/{{ student[0] }}" target="_blank">More details</a></p>
            </div>
        {% else %}
            {% if student[1]["partner_name"] %}
                <button type="button" class="clickable collapsible"><strong>{{ student[1]["name"] }}</strong> pair programmed with <strong>{{student[1]["partner_name"]}}</strong></button>
            {% else %}
                <button type="button" class="clickable collapsible"><strong>{{ student[1]["name"] }}</strong></button>
            {% end %}

            <div class="c-content">
                {% if student[1]["code"] %}
                    <p style="margin-top: 9px; margin-bottom: 3px;">No passing score yet.</p>
                    <p>Most recent submission:</p>
                    
                    <p><pre style="margin-bottom: 3px;">{{ student[1]["code"] }}</pre></p>

                    <p><a href="/student_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{exercise_basics['id'] }}/{{ student[0] }}" target="_blank">More details</a></p>
                {% else %}
                    <p style="margin-top: 9px; margin-bottom: 3px;">This student has not made a submission yet.</p>
                {% end %}
            </div>
        {% end %}
    {% end %}

    <script>
        var coll = document.getElementsByClassName("clickable");
        var content = document.getElementsByClassName("c-content");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }

        function showAllSubmissions() {
            for (i = 0; i < content.length; i++) {
                content[i].style.display = "block";
                coll[i].classList.add("active");
            }
        }

        function hideAllSubmissions() {
            for (i = 0; i < content.length; i++) {
                content[i].style.display = "none";
                coll[i].classList.remove("active");
            }
        }
    </script>
{% else %}
    <h2>No submissions have been made for this exercise.</h2>
{% end %}
