{% if course_basics["exists"] %}
    <h2>Import an assignment for {{ course_basics["title"] }}</h2>

    {% if is_administrator or is_instructor %}
        <p>
            Please upload a JSON file that was exported from this application and that contains details about an assignment.
        </p>

        <p>
            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" id="upload_file_control" accept="application/json">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Choose a file...
                        </span>
                    </span>
                </label>
            </div>
        </p>

        <div class="notification is-hidden" id="result_message"></div>

        <script>
            function upload(file_text) {
                showResultMessage("<b>Please wait...</b>", "warning");

                $.ajax({
                    type: 'POST',
                    url: "/import_assignment/{{ course_basics['id'] }}",
                    data: {"file_text": file_text},
                    async: true})
                    .done(function(result) {
                        if (result.startsWith("Error: "))
                            showResultMessage(`<p>An error occurred.</p><pre>${result.replace('Error: ', '')}</pre>`, "danger");
                        else
                            showResultMessage(`The <a href="/assignment/{{ course_basics['id'] }}/${result}">assignment</a> was imported successfully.`, "primary");
                    })
                    .fail(function(data) {
                        showResultMessage("An error occurred when connecting to the server. It may be down.", "danger");
                    });
            }

            function showResultMessage(messageHTML, messageType) {
                $("#result_message").removeClass("is-primary");
                $("#result_message").removeClass("is-warning");
                $("#result_message").removeClass("is-danger");

                $("#result_message").addClass(`is-${messageType}`);

                $("#result_message").removeClass("is-hidden");
                $("#result_message")[0].innerHTML = messageHTML;
            }

            $("#upload_file_control").change(function() {
                (async () => {
                    if ($("#upload_file_control")[0].files.length == 0) {
                        showResultMessage("That file was just uploaded, so it will be ignored.", "danger");
                    }
                    else {
                        const file_text = await $("#upload_file_control")[0].files[0].text();
                        upload(file_text);
                    }
                })();
            });
        </script>
    {% else %}
        <p>You are not allowed to view this page.</p>
    {% end %}
{% else %}
    <h2>This course does not exist.</h2>
{% end %}
