            {% if "course_basics" in globals() and course_basics["exists"] %}
                <div id="course_dropdown" class="navbar-item has-dropdown" onclick="toggleDropdown('course_dropdown')">
                    {% if len(courses) == 1 %}
                        <a class="navbar-link is-arrowless" style="cursor: pointer;" href="/course/{{ course_basics['id'] }}">
                            {{ course_basics["title"] }}
                        </a>
                    {% else %}
                        <div class="navbar-item is-arrowless" style="cursor: pointer;">
                            {{ course_basics["title"] }}
                            <i class="fas fa-chevron-down" style="margin-left: 10px;margin-right: 10px;"></i>
                        </div>

                        <div id="moreDropdown" class="navbar-dropdown">
                            {% for course in courses %}
                                {% if course[0] == course_basics['id'] %}
                                    <a class="navbar-item is-active"
                                {% else %}
                                    <a class="navbar-item"
                                {% end %}

                                href="/course/{{ course[0] }}">{{ course[1]["title"] }}</a>
                            {% end %}
                        </div>
                    {% end %}
                </div>
            {% end %}





