<script>
    const toggleBurger = () => {
        let burgerIcon = document.getElementById('burger');
        let dropMenu = document.getElementById('the_menu');
        burgerIcon.classList.toggle('is-active');
        dropMenu.classList.toggle('is-active');
    };
    
    function toggleDropdown(div_id) {
        var element = document.getElementById(div_id);
        element.classList.toggle('is-active');
    }

    window.addEventListener('click', function(e) {
        for (menu of ["course", "assignment", "exercise", "menu"]) {
            var dropdown = document.getElementById(`${menu}_dropdown`);

            if (dropdown == null)
                continue;

            if (!dropdown.contains(e.target) && dropdown.classList.contains("is-active"))
                dropdown.classList.remove("is-active");
        }
    });
</script>

<nav id="navbar" class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation" style="border-radius: 0px; padding: 5px; box-shadow: 3px 3px 6px lightgray;">
  
  <div class="navbar-brand" style="padding: 3px 0px 0px 0px;">
   <a href="/" id="navbar-start">CodeBuddy <i class="fa fa-home" style="padding: 0 .3em; width:auto;" aria-hidden="true"></i></a>

        <div style="padding: 5px 0 0 15px;">
            <!--<a href="/"><img src="/static/Logo.png" width="90" alt="CodeBuddy" /></a>-->
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="burger" onclick="toggleBurger()">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu is-size-5" id="the_menu">
        <div class="navbar-start">
