            <div class="navbar-item has-dropdown is-hoverable">
                {% if len(exercises) > 0 and "exercise_basics" in globals() and exercise_basics["exists"] %}
                    <div class="navbar-link is-arrowless">
                        {{ exercise_basics["title"] }}
                        <i class="fas fa-chevron-down" style="margin-left: 10px;"></i>
                    </div>

                    <div id="moreDropdown" class="navbar-dropdown">
                        {% for exercise in exercise_statuses %}
                            <a class="navbar-item" style="white-space: nowrap;" href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">
                                {% if exercise[1]["passed"] %}
                                    <img src="/static/greencheck.png" alt="Completed" class="navbar-img"/>
                                {% elif exercise[1]["in_progress"] %}
                                    <img src="/static/inprogress.png" alt="In progress" class="navbar-img"/>
                                {% else %}
                                    <img src="/static/unchecked.png" alt="Not completed" class="navbar-img"/>
                                {% end %}

                                {{ exercise[1]["title"] }}

                                {% if exercise[1]["enable_pair_programming"] %}
                                    <label class="has-tooltip-multiline has-tooltip-right" style="margin-left: 7px;" data-tooltip="Pair programming is enabled for this exercise."><i class="fab fa-product-hunt"></i></label>
                                {% end %}
                            </a>
                        {% end %}
                    </div>
                {% end %}
            </div>
