        <!-- <div class="tab-title"> -->
            <h3>Personal info</h3>
        <!-- </div> -->
        <!-- <div class="tab-content columns">
            <div class="column is-half white-box"> -->
                <p><strong>User ID:</strong> {{ user_info['user_id'] }}</p>
                <p><strong>First name:</strong> {{ user_info['given_name'] }}</p>
                <p><strong>Last name:</strong> {{ user_info['family_name'] }}</p>
                <p><strong>Email address:</strong> {{ user_info['email_address'] }}</p>
            <!-- </div>
        </div>
    </div>
</div> -->