        <div class="tab-title">
            <h3>Help Requests</h3>
            <p>Write suggestions in response to help requests from students</p>
        </div> 

        <div class="bottom-spacing">
            <p class="instructor-content">This feature allows you to view code, output, and comments from students in your class about
                exercises that are particularly challenging for them. For each request, you can write a suggestion that should help them
                get past the point they are stuck on.
            </p>
        </div>

        {% if courses %}
            <div>
                <p>To use this feature, please select a course below:</p>
                <ul>
                {% for course in courses %}
                    <li><a href="/help_requests/{{ course[0] }}">{{ course[1]["title"] }}</a></li>
                {% end %}
                </ul>
            </div>
        {% else %}
            <p>There are no available courses</p>
        {% end %}

    </div>
</div>