        <div class="tab-title">
            <h3>Manage Users</h3>
        </div>

        <form method="post" action="/profile/manage_users">

        <div>
            <p><strong>Remove all submissions for an existing user:</strong></p>
            <input class="input is-medium is-primary" type="text" name="remove_user" placeholder="Enter ID of an existing user."/>
            <input type="submit" id="remove_button" class="modal-button button is-dark" value="Remove"/>
        </div>

        <div style="padding-top: 30px;">
            <p><strong>Delete an existing user:</strong></p>
            <input class="input is-medium is-primary" type="text" name="delete_user" placeholder="Enter ID of an existing user."/>
            <input type="submit" id="delete_button" class="modal-button button is-dark" value="Remove"/>
        </div>

        {% if result %}
            {% if result.startswith("Error:") %}
                <p><div class="notification error-message"><strong>{{ result }}</strong></div></p>
            {% else %}
                <p><div class="notification success-message"><strong>{{ result }}</strong></div></p>
            {% end %}
        {% end %}

        </form>
    </div>
</div>
