<div class="columns" style="min-height: 100%;">
    <div class="column is-one-quarter profile-menu">
        <aside class="menu">
            <p class="menu-label">General</p>
            <ul class="menu-list">
                <li><a href="/profile/courses/{{ user_info['user_id'] }}"
                {% if page == "courses" %}
                    class="is-active"
                {% end %}
                >Courses</a></li>

                <li><a href="/profile/personal_info/{{ user_info['user_id'] }}"
                {% if page == "personal_info" %}
                    class="is-active"
                {% end %}
                >Personal info</a></li>

                {% if is_administrator %}
                    <li><a href="/profile/admin/{{ user_info['user_id'] }}"
                    {% if page == "admin" %}
                        class="is-active"
                    {% end %}
                >Admin menu</a></li>
                {% end %}

                {% if is_instructor or is_administrator %}
                    <li><a href="/profile/instructor_select_course/{{ user_info['user_id'] }}"
                    {% if page == "instructor" %}
                        class="is-active"
                    {% end %}
                >Instructor menu</a></li>
                {% end %}
            </ul>
            {% if is_administrator or is_instructor %}
                <p class="menu-label">Tools</p>
                <ul class="menu-list">
                    <li><a href="/profile/manage_users"
                    {% if page == "manage_users" %}
                        class="is-active"
                    {% end %}
                    >Manage users</a></li>
                </ul>
            {% end %}
            <p class="menu-label">Settings</p>
            <ul class="menu-list">
                <li><a href="/profile/preferences/{{ user_info['user_id'] }}"
                {% if page == "preferences" %}
                    class="is-active"
                {% end %}
                >Preferences</a></li>
            </ul>
        </aside>
    </div>
    <div class="column is-three-quarters profile-main">
        <div class="content">
