{% if course_basics["exists"] %}
    {% if assignment_basics["exists"] %}
        <h4>{{ assignment_basics["title"] }}</h4>

        <h6>Scores for {{ student_info["name"] }}</h6>
        <p>Click on an exercise to view the student's past submissions.</p>

        <div class="table-container">
            <table class="table is-striped" id="scores_table">
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th># Submissions</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                {% for exercise in exercise_statuses %}
                    <tr>
                    {% if exercise[1]["num_submissions"] > 0 %}
                        <td><a href="/student_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[1]['id'] }}/{{ student_info['user_id'] }}">{{ exercise[1]["title"] }}</a></td>
                    {% else %}
                        <td>{{ exercise[1]["title"] }}</td>
                    {% end %}
                        <td class="has-text-left">{{ exercise[1]["num_submissions"] }}</td>
                        <td class="has-text-left">{{ round(exercise[1]["score"]) }}%</td>
                    </tr>
                {% end %}    
                </tbody>
            </table>
        </div>

        <br />
        <a href="/view_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">Back to all scores</a> |
        <a href="/edit_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ student_info['user_id'] }}">Edit scores</a>

    {% end %}
{% end %}
<br /><br />
