{% if course_basics["exists"] %}
    {% if assignment_basics["exists"] %}
        {% if exercise_basics["exists"] %}
            <div class="student-exercise-notification">
                <p>
                    <span class="has-text-weight-bold">{{ student_info["name"] }}</span>
                    
                    {% if len(submissions) == 0 %}
                        - Has not submitted yet
                    {% else %}
                        - Last submission date: <span id="last_submission_date"></span>
                    {% end %}
                </p>
                <p>
                    {% if next_prev_student_ids[0] != None %}
                        <a class="button is-outlined" href="/student_exercise/{{course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ next_prev_student_ids[0] }}">Previous student</a>
                    {% end %}

                    {% if next_prev_student_ids[1] != None %}
                        <a class="button is-outlined" href="/student_exercise/{{course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ next_prev_student_ids[1] }}">Next student</a>
                    {% end %}
                </p>
            </div>

            {% if len(submissions) > 0 %}
                <script>

                        document.getElementById("last_submission_date").innerHTML = new Date("{{ submissions[-1]["date"] }}").toLocaleString();
                </script>
            {% end %}

            <div>
                <h4 style="display: inline-block;">Assignment: {{ exercise_basics["assignment"]["title"] }}</h4>
                <div class="row-container">
                    <div>
                        <h5 style="display: inline-block;">Exercise: {{ exercise_basics["title"] }}</h5>
                    </div>
                </div>
            </div>

            <div class="instructions">
                <h6>Instructions:</h6>
                <div id="instructions">{{ exercise_details["instructions"] }}</div>
            </div>

            {% if len(exercise_details["data_files"]) > 0 %}
                <div id="data_file_div" class="top-space">
                <h6>Data files:</h6>
                {% for data_file_index in range(len(exercise_details["data_files"])) %}
                    <p>
                        <a class="is-family-monospace is-size-5" href="/download_file/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ sorted(list(exercise_details['data_files'].keys()))[data_file_index] }}">{{ list(exercise_details["data_files"].keys())[data_file_index] }}</a>
                        <a class="button is-white" id="data_button_{{ data_file_index }}" onclick="showHideData('data_panel_{{ data_file_index }}', 'data_button_{{ data_file_index }}')">Show</a>
                    </p>
                    <pre id="data_panel_{{ data_file_index }}" hidden>
                        {{ exercise_details["data_files"][sorted(list(exercise_details["data_files"].keys()))[data_file_index]] }}
                    </pre>
                {% end %}
                </div>
            {% end %}

            <p class="top-space" id="user_code_area">
                <textarea class="textarea is-fullwidth monospace" rows="15" id="user_code"></textarea>
            </p>

            <div class="buttons">
                {% if exercise_details["back_end"] != "not_code" and not exercise_details["allow_any_response"] %}
                    <a class="button is-medium is-primary is-outlined" onclick='run_code(false)' id='run_button'>Run</a>
                {% end %}
            </div>

            <p id="test_outputs"></p>

            <p id="result_message"></p>

            <p><div id="submissions"></div></p>

            <script>
                ace.require("ace/ext/language_tools");
                var editor = ace.edit("user_code", {
                    theme: "ace/theme/{{ user_info['ace_theme'] }}",
                    autoScrollEditorIntoView: false,
                    minLines: 20,
                    fontSize: "12pt"
                });
                let codeChanged = false

                {% if user_info['enable_vim'] %}
                   editor.setKeyboardHandler("ace/keyboard/vim");
                {% end %}

                {% if user_info["use_auto_complete"] and exercise_details["back_end"] != "not_code" %}
                    editor.setOptions({
                        enableBasicAutocompletion: false,
                        enableSnippets: true,
                        enableLiveAutocompletion: true
                    });
                {% end %}

                editor.focus();
                editor.getSession().setMode("{{ code_completion_path }}");

                const tests = {{ jsonify(tests) }};

                var submissions = {{ jsonify(submissions) }};
                show_past_submissions();

                if (submissions.length > 0)
                    get_submission(submissions[submissions.length - 1].id, false, true);
                else
                    showTestOutputs(null, false);
            </script>
        {% else %}
            <p>This exercise does not exist.</p>
        {% end %}
    {% else %}
        <p>This assignment does not exist.</p>
    {% end %}
{% else %}
    <p>This course does not exist.</p>
{% end %}
