{% if exercise_basics["exists"] %}
    {% if exercise_details["show_peer_solution"] %}
        {% if peer_code == "" %}
            <p>You are the first in the class to complete this exercise. Please try again later. We apologize for the inconvenience.</p>
        {% else %}
            <div>
                <h4>Your solution:</h4>
                <pre class="student-content">{{ user_code }}</pre>

                {% if exercise_details["solution_code"] != "" %}
                    <h4>A peer's solution (anonymized, randomly selected):</h4>
                    <pre class="instructor-content">{{ peer_code }}</pre>
                {% end %}
            </div>

            <br />
            <p><a href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}">Back to exercise</a></p>
        {% end %}
    {% else %}
        <p>This exercise is configured so that peers' solutions are not shown to you.</p>
    {% end %}
{% else %}
    <p>This exercise does not exist.</p>
{% end %}
