{% if len(exercise_scores) > 0 %}
    <h2>Scores for {{ exercise_basics["title"] }}</h2>

    <div class="table-container">
        <table class="table is-striped" id="scores_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Student ID</th>
                    <th># Submissions</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for student in exercise_scores %}
                    <tr>
                        <td class="has-text-left"><a href="/view_student_assignment_scores/{{ course_basics['id'] }}/{{ student[1]['user_id'] }}">{{ student[1]["name"] }}</a></td>
                        <td>{{ student[1]["user_id"] }}</td>
                        <td>
                            {% if student[1]["num_submissions"] == 0 %}
                                {{ student[1]["num_submissions"] }}
                            {% else %}
                                <a href="/student_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ student[1]['user_id'] }}">{{ student[1]["num_submissions"] }}</a>
                            {% end %}
                        </td>
                        <td>
                            {% if student[1]["num_submissions"] == 0 %}
                                {{ student[1]["score"] }}%
                            {% else %}
                                <a href="/edit_assignment_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ student[1]['user_id'] }}">{{ student[1]["score"] }}%</a>
                            {% end %}
                        </td>
                    </tr>
                {% end %}  
            </tbody>
        </table>
    </div>
{% else %}
    <h2>No submissions have been made for this exercise.</h2>
{% end %}