<section class="section section-padding-medium">
<div class="content is-medium">
  {% if course_exists %}
    <h2>{{ this_assignment_title }}</h2>

    {% if assignment_exists %}
      <p>{{ introduction }}</p>

      {% if len(problems) > 0 %}
        <h4>Problems</h4>

        <ul>
        {% for problem in problems %}
          <li><a href="/problem/{{ this_course }}/{{ this_assignment }}/{{ problem[0] }}">Problem {{ problem[0] }} - {{ problem[1] }}</a></li>
        {% end %}
        </ul>
      {% end %}

      <p><a href="/edit_assignment/{{ this_course }}/{{ this_assignment }}">Edit Assignment</a></p>
    {% else %}
      <p><a href="/edit_assignment/{{ this_course }}/{{ this_assignment }}">Create Assignment</a></p>
    {% end %}
  {% else %}
    <p>This course does not exist.</p>
  {% end %}
</div>
</section>
