<section class="section section-padding-medium">
<div class="content is-medium">

<h2>{{ this_course_title }}</h2>

<p>{{ introduction }}</p>

<h2>Assignments</h2>

{% if len(assignments) == 0 %}
  <p>No assignments have yet been created.</p>
{% else %}
  <ul>
  {% for assignment in assignments %}
    <li><a href="/assignment/{{ this_course }}/{{ assignment[0] }}">{{ assignment[1] }}</a></li>
  {% end %}
  </ul>
{% end %}

<p>
  <a href="/">Home</a> |
  <a href="/edit_course/{{ this_course }}">Edit course</a> |
  <a href="/edit_assignment/{{ this_course }}/{{ new_assignment_id }}">Create assignment</a>
</p>

</div>
</section>
