<section class="section section-padding-medium">
<div class="content is-medium">

<h2>Delete Course</h2>

{% if result %}
  {% if result.startswith("Error:") %}
    <p><div class='notification is-danger'><strong>{{ result }}</strong></div></p>
  {% else %}
    <p><div class='notification is-success'><strong>{{ result }}</strong></div></p>
  {% end %}
{% end %}

{% if course_basics["exists"] %}
    <form method="post" action="/delete_course/{{ course_basics["id"] }}">

    <p><strong>Title: </strong>{{ course_basics["title"] }}</p>

    <p>Are you sure you want to delete this problem?</p>

    <p><input type="submit" class="button is-info is-large is-fullwidth" value="Confirm" /></p>
{% end %}

<p>
    <a href="/">Home</a>
</p>

</form>
</div>
</section>
