<section class="section section-padding-medium">
<div class="content is-medium">

<h2>
{% if course_basics["exists"] %}
    Edit Course
{% else %}
    Create Course
{% end %}
</h2>

{% if result %}
  {% if result.startswith("Error:") %}
    <p><div class='notification is-danger'><strong>{{ result }}</strong></div></p>
  {% else %}
    <p><div class='notification is-success'><strong>{{ result }}</strong></div></p>
  {% end %}
{% end %}

<form method="post" action="/edit_course/{{ course_basics["id"] }}">

<p><strong>Title: </strong><input name="title" class="input is-info is-normal is-medium" placeholder="Please specify a descriptive title for this course." value="{{ course_basics["title"] }}" autofocus /></p>

<p><strong>Introduction: </strong><br />
<textarea class="textarea is-info is-normal is-medium is-fullwidth" placeholder="Please provide an introduction for this course." rows="8" name="introduction">{{ course_details["introduction"] }}</textarea></p>

<p><strong>Password: </strong><input name="password" class="input is-info is-normal is-medium" type="password" placeholder="Please enter password" /></p>

<p><input type="submit" class="button is-info is-large is-fullwidth" value="Save" /></p>

<p>
    <a href="/">Home</a>
    {% if course_basics["exists"] %}
      | <a href="/course/{{ course_basics["id"] }}">Done editing</a>
      | <a href="/delete_course/{{ course_basics["id"] }}">Delete course</a>
    {% end %}
</p>

</form>
</div>
</section>
