<section class="section section-padding-medium">
<div class="content is-medium">

{% if course_basics["exists"] %}
  {% if assignment_basics["exists"] %}
    <h2>Edit Assignment</h2>
  {% else %}
    <h2>Create Assignment</h2>
  {% end %}
{% end %}

{% if result %}
  {% if result.startswith("Error:") %}
    <p><div class='notification is-danger'><strong>{{ result }}</strong></div></p>
  {% else %}
    <p><div class='notification is-success'><strong>{{ result }}</strong></div></p>
  {% end %}
{% end %}

{% if course_basics["exists"] %}
  <form method="post" action="/edit_assignment/{{ course_basics["id"]}}/{{ assignment_basics["id"] }}" />

  <p><strong>Title: </strong><input name="title" class="input is-info is-normal is-medium" placeholder="Please specify a descriptive title for this assignment." value="{{ assignment_basics["title"] }}" /></p>

  <p><strong>Introduction: </strong><br />
  <textarea class="textarea is-info is-normal is-medium is-fullwidth" placeholder="Please provide an introduction for this assignment." rows="8" name="introduction">{{ assignment_details["introduction"] }}</textarea></p>

  <p><strong>Password: </strong><input name="password" class="input is-info is-normal is-medium" type="password" placeholder="Please enter password" /></p>

  <p><input type="submit" class="button is-info is-large is-fullwidth" value="Save" /></p>

  <p>
      <a href="/">Home</a> |
      <a href="/course/{{ course_basics["id"] }}">Course home</a>
      {% if assignment_basics["exists"] %}
          | <a href="/assignment/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}">Done editing</a>
          | <a href="/delete_assignment/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}">Delete assignment</a>
      {% end %}
  </p>
{% else %}
  This course has not been created yet.
{% end %}

  </form>
</div>
</section>
