<script src="/js/jquery.min.js"></script>

<section class="section section-padding-medium">
<div class="content is-medium">

<h2>
{% if course_exists %}
    Edit course
{% else %}
    Create course
{% end %}
</h2>

{% if result %}
  {% if result.startswith("Error:") %}
    <p><div class='notification is-danger'><strong>{{ result }}</strong></div></p>
  {% else %}
    <p><div class='notification is-success'><strong>{{ result }}</strong></div></p>
  {% end %}
{% end %}

<form method="post" />

<p><strong>Course identifier: </strong><input name="course_id" class="input is-info is-normal is-medium" placeholder="Please specify a unique identifier for this course. Only alphanumeric characters may be used."  value="{{ this_course }}" /></p>

<p><strong>Title: </strong><input name="course_title" class="input is-info is-normal is-medium" placeholder="Please specify a descriptive title for this course." value="{{ this_course_title }}" /></p>

<p><strong>Introduction: </strong><br />
<textarea class="textarea is-info is-normal is-medium is-fullwidth" placeholder="Please provide an introduction for this course." rows="8" name="introduction">{{ introduction }}</textarea></p>

<p><strong>Password: </strong><input name="password" class="input is-info is-normal is-medium" type="password" placeholder="Please enter password" /></p>

<p><input type="submit" class="button is-info is-large is-fullwidth" value="Save" /></p>

{% if this_course != "" %}
  <p><a href="/course/{{ this_course }}">Done editing</a></p>
{% end %}

</form>

</div>
</section>
