<section class="section section-padding-medium">
<div class="content is-medium">

<p class="title is-size-2 is-spaced">
    Welcome to the Code Checker!
</p>

<p class="subtitle is-size-4">
    Use this tool to create coding assignments.
</p>

<hr />

{% if len(courses) > 0 %}
  Please select one of the following courses:

  <ul>
    {% for course in courses %}
        <li><a href="/course/{{ course[0] }}">{{ course[1]["title"] }}</a></li>
    {% end %}
  </ul>
{% end %}

<p><a href="/edit_course/">Create course</a></p>

</div>
</section>
