            <div class="navbar-item has-dropdown is-hoverable">
                {% if assignment_basics["exists"] %}
                    <a class="navbar-link" href="/assignment/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}">
                        {{ assignment_basics["title"] }}
                    </a>

                    {% if len(course_basics["assignments"]) > 0 %}
                      <div id="moreDropdown" class="navbar-dropdown is-size-4">
                        {% for assignment in course_basics["assignments"] %}
                            <a class="navbar-item " href="/assignment/{{ course_basics["id"] }}/{{ assignment[0] }}">
                                {{ assignment[1]["title"] }}
                            </a>
                        {% end %}
                      </div>
                    {% end %}
                {% end %}
            </div>
