            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/assignment/{{ this_course }}/{{ this_assignment }}">
                    {% if len(this_assignment_title) > 0 %}
                      {{ this_assignment_title }}
                    {% else %}
                      New Assignment
                    {% end %}
                </a>

                <div id="moreDropdown" class="navbar-dropdown is-size-4">
                    {% for assignment in assignments %}
                        <a class="navbar-item " href="/assignment/{{ this_course }}/{{ assignment[0] }}">
                            {{ assignment[1] }}
                        </a>
                    {% end %}
                </div>
            </div>
