            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/course/{{ this_course }}">
                    {% if len(this_course_title) > 0 %}
                      {{ this_course_title }}
                    {% else %}
                      New Course
                    {% end %}
                </a>

                <div id="moreDropdown" class="navbar-dropdown is-size-4">
                    {% for course in courses %}
                    <a class="navbar-item is-active" href="/course/{{ course[0] }}">
                        {{ course[1] }}
                    </a>
                    {% end %}
                </div>
            </div>
