.container {
    padding-top: 3.5rem;
}

.container-color {
    background-color: #f5f5f5;
    padding: 3.5rem;
}

.invisible {
    display: none;
}

.visible {
    display: inline;
}

.landing-main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #f5f5f5, #c6cccf);
}

.landing-main-row-item {
    margin: 0 100px 0 100px;
}

.landing-courses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 60px 60px 60px;
}

.landing-course-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.landing-courses-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(165, 100%, 35%);
    font-size: 30px;
    padding: 30px 0 30px 0;
}

.landing-course {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    width: 400px;
    margin: 20px;
}

.has-background-light {
    background-color: #f5f5f5;
}

.top-space {
    margin-top: 15px;
}

.bottom-space {
    margin-bottom: 25px;
}

.space-div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-button {
    margin-top: 10px;
}

.tooltip-img {
    height: 25px;
    width: 25px;
    vertical-align: top;
    padding: 3px;
}

.monospace {
    font-family: monospace;
}

.text-18 {
    font-size: 18px;
}

.success-message {
    background-color: #80cdc1;
    color: white;
}

.error-message {
    background-color: #f4a582;
    color: white;
}

.green-text {
    color: #00b386;
}

.navbar-img {
    padding-right: 8px;
}

.edit-select {
    padding: 2px;
}

.table-icon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.student-content {
    font-size: 14px;
    border: 2px solid  #00b386;
    width: 100%;
    border-left: 12px solid  #00b386;
    border-radius: 5px;
    padding: 14px;
    background-color: white;
}

.instructor-content {
    font-size: 14px;
    border: 2px solid  #19334d;
    width: 100%;
    border-left: 12px solid  #19334d;
    border-radius: 5px;
    padding: 14px;
    background-color: white;
}

.extra-content {
    font-size: 14px;
    border: 2px solid  #0095e3;
    width: 100%;
    border-left: 12px solid  #0095e3;
    border-radius: 5px;
    padding: 14px;
    background-color: white;
}

.comment {
    font-size: 14px;
    border: 2px solid  #0095e3;
    width: 100%;
    border-radius: 5px;
    padding: 14px;
    background-color: white;
}

.light-heading {
    font-weight: normal !important;
}

.help_request_div {
    background-color: #f5f5f5;
    border: 2px solid  #f5f5f5;
    border-radius: 15px;
    margin-top: 25px;
    padding: 20px;
}

.suggestion-div {
    background-color: #f5f5f5;
    border: 2px solid  #f5f5f5;
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
}

.space-buttons {
    margin-top: 10px;
}

td > button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.ace_gutter {
    z-index: auto !important;
}

#filter_container {
    width: 100%;
    overflow: hidden;
    padding-bottom: 0px;
}

#filter_container input {
    display: inline;
    width: 50%;
}

.shadow-box {
    box-shadow: 3px 3px 6px lightgray;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.front-row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.a-title-container {
    width: 80%;
}

.a-visible {
    margin-right: 100px;
}

.date-container {
    width: 45%;
}

.hint-div {
    border: 2px solid  #00b386;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

.file-cta {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.file-name {
    padding: 10px 20px 10px 20px;
}

.uploaded-files {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.uploaded-file {
    padding: 5px 15px 10px 15px;
    display: inline-block;
}

.file-text {
    display: inline-block;
}

.show-button {
    margin-left: 10px;
}

.spread-div {
    display: flex;
    justify-content: space-between;
}

.collapsible {
    background-color: white;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    border: 2px solid  #19334d;
    width: 100%;
    border-left: 12px solid  #19334d;
    border-radius: 5px;
    padding: 14px;
    margin-top: 10px;
}

.collapsible-f {
    background-color: white;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    border: 2px solid  #f4a582;
    width: 100%;
    border-left: 12px solid  #f4a582;
    border-radius: 5px;
    padding: 14px;
    margin-top: 10px;
}

.active, .collapsible:hover {
    background-color: #f8f8f8;
}

.active, .collapsible-f:hover {
    background-color: #f8f8f8;
}

.c-content {
    padding: 0 18px;
    display: none;
}

#first-p {
    margin-bottom: 0;
}

.tall-button {
    height: 100%;
    width: 30px;
    background-color: #00b386;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.padded-div {
    padding: 20px;
    width: 95%;
    overflow-y: auto;
    padding-bottom: 120px;
}