.container {
    padding-top: 3.5rem;
}

.container-color {
    background-color: #f5f5f5;
    padding: 3.5rem;
}

.invisible {
    display: none;
}

.visible {
    display: inline;
}

.modal-button {
    margin-top: 10px;
}

.tooltip-img {
    height: 25px;
    width: 25px;
    vertical-align: top;
    padding: 3px;
}

.monospace {
    font-family: monospace;
}

.success-message {
    background-color: #80cdc1;
    color: white;
}

.error-message {
    background-color: #f4a582;
    color: white;
}

.navbar-img {
    padding-right: 8px;
}

.edit-select {
    padding: 2px;
}

.table-icon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.ace_gutter {
    z-index: auto !important;
}

.shadow-box {
    box-shadow: 3px 3px 6px lightgray;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title-container {
    width: 50%;
}

.a-title-container {
    width: 80%;
}

.a-visible {
    margin-right: 100px;
}

.instructions-container {
    margin-top: 15px;
}

.hint-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.date-container {
    width: 45%;
}

#allow_late_text {
    margin-top: 15px;
}