.invisible {
    display: none;
}

.visible {
    display: inline;
}

.modal-button {
    margin-top: 10px;
}

.tooltip-img {
    height: 25px;
    width: 25px;
    vertical-align: top;
    padding: 3px;
}

.monospace {
    font-family: monospace;
}

.success-message {
    background-color: #80cdc1;
}

.error-message {
    background-color: #f4a582;
}

.navbar-img {
    padding-right: 8px;
}

.edit-select {
    padding: 2px;
}

.table-icon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.student-content {
    font-size: 14px;
    border: 2px solid  #00b386;
    width: 100%;
    border-left: 12px solid  #00b386;
    border-radius: 5px;
    padding: 14px;
}

.instructor-content {
    font-size: 14px;
    border: 2px solid  #19334d;
    width: 100%;
    border-left: 12px solid  #19334d;
    border-radius: 5px;
    padding: 14px;
}

.extra-content {
    font-size: 14px;
    border: 2px solid  #008ae6;
    width: 100%;
    border-left: 12px solid  #008ae6;
    border-radius: 5px;
    padding: 14px;
}