<h2>Instructor's assistants for this course:</h2>

{% if assistants %}
    <ul>
    {% for user in assistants %}
        <li>{{ user }}<a href="/remove_assistant/{{ course_basics["id"] }}/{{ user }}"> remove</a></li>
    {% end %}
    </ul>
{% else %}
    <p>No assistants have been added for this course.</p>
{% end %}

<form method="post" action="/add_assistant/{{ course_basics["id"] }}">

<div class="field">
  <label class="label is-large">Add an instructor's assistant:</label>
  <div class="control">
    <textarea name="new_assistant" class="textarea is-primary is-fullwidth" type="text" rows="1" placeholder="Enter ID (email address) of an existing user." autofocus></textarea>
  </div>
</div>

<div class="field">
  <p class="control">
    <button class="button is-primary is-medium is-rounded">Add</button>
  </p>
</div>

{% if result %}
    {% if result.startswith("Success") %}
        <article class="message is-success is-large">
            <div class="message-body">
                {{ result }}
            </div>
        </article>
    {% else %}
        <article class="message is-danger is-large">
            <div class="message-body">
                {{ result }}
            </div>
        </article>
    {% end %}
{% end %}

</form>

<p>
    <br/><a href="/course/{{ course_basics["id"] }}">Back to course</a>
</p>