<h4>CodeBuddy Administrators:</h4>
{% if admins %}
    {% for user in admins %}
        <li>{{ user }}</li>
    {% end %}
{% end %}
<br />

<form method="post" action="/add_admin" name="form1">

<p><input class="button is-primary" value="Add Administrator" onClick="unhideReg()" /></p>
<input type="input" placeholder="Enter user_id" name="new_admin" id="new_admin" style="display:none" /><br />
<input class="button is-info" type="submit" name="button_1" value="Submit" id="submit_id" style="display:none" />
{% if attempt %}
    <p>{{ status_message }}</p>
{% end %}

</form>

<script>
    function unhideReg() {
        document.getElementById('new_admin').style.display = "block";
        document.getElementById('submit_id').style.display = "block";
    }
</script>