<h2>Current administrators:</h2>

{% if admins %}
    <ul>
    {% for user in admins %}
        <li>{{ user }}</li>
    {% end %}
    </ul>
{% else %}
    <p>There are no existing administrators.</p>
{% end %}

<form method="post" action="/add_admin">

<div class="field">
  <label class="label is-large">Add an administrator:</label>
  <div class="control">
    <input name="new_admin" class="input is-large is-active" type="text" placeholder="Enter ID of an existing user." autofocus>
  </div>
</div>

<div class="field">
  <p class="control">
    <button class="button is-info is-large">Add</button>
  </p>
</div>

{% if result %}
    {% if result.startswith("Success") %}
        <article class="message is-success is-large">
            <div class="message-body">
                {{ result }}
            </div>
        </article>
    {% else %}
        <article class="message is-danger is-large">
            <div class="message-body">
                {{ result }}
            </div>
        </article>
    {% end %}
{% end %}

</form>
