{% if course_basics["exists"] %}
  <h2>{{ assignment_basics["title"] }}</h2>

  {% if assignment_basics["exists"] %}
    <p>{{ assignment_details["introduction"] }}</p>

    {% if len(problem_statuses) > 0 %}

      <style>
        #clockdiv{
            font-family: sans-serif;
            color: #fff;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
        }

        #clockdiv > div{
            padding: 10px;
            border-radius: 3px;
            background: #00BF96;
            display: inline-block;
        }

        #clockdiv div > span{
            padding: 15px;
            border-radius: 3px;
            background: #00816A;
            display: inline-block;
        }

        .smalltext{
            padding-top: 5px;
            font-size: 16px;
        }
      </style>

      <script>
        function showTimer() {
          var timer_div = document.getElementById("clockdiv");
          timer_div.style.display = "inline";
          startTimer();
        }
      
        function startTimer() {
          start_time = "{{ start_time }}";
          if (start_time == 0) {
            start_time = new Date();
          }
          else {
            start_time = new Date(start_time);
          }
          document.getElementById("start_time").innerHTML = start_time.toUTCString();
          var deadline = new Date(start_time);
          deadline.setHours(deadline.getHours() + {{ assignment_details["hour_timer"] }});
          deadline.setMinutes(deadline.getMinutes() + {{ assignment_details["minute_timer"] }});
          initializeClock('clockdiv', deadline);
        }
      
        function getTimeRemaining(endtime){
          const total = Date.parse(endtime) - Date.parse(new Date());
          const seconds = Math.floor( (total/1000) % 60 );
          const minutes = Math.floor( (total/1000/60) % 60 );
          const hours = Math.floor( (total/(1000*60*60)) % 24 );
      
          return {
            total,
            hours,
            minutes,
            seconds
          };
        }
      
        function initializeClock(id, endtime) {
          const clock = document.getElementById(id);
          const hoursSpan = clock.querySelector('.hours');
          const minutesSpan = clock.querySelector('.minutes');
          const secondsSpan = clock.querySelector('.seconds');
      
          function updateClock(){
            const t = getTimeRemaining(endtime);
            hoursSpan.innerHTML = t.hours;
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
      
            if (t.total <= 0) {
              clearInterval(timeinterval);
              hoursSpan.innerHTML = 0;
              minutesSpan.innerHTML = 0;
              secondsSpan.innerHTML = 0;
            }
          }
      
          updateClock(); // run function once at first to avoid delay
          var timeinterval = setInterval(updateClock,1000);
        }
      </script>

      <form onsubmit="showTimer()" method="post" action="/assignment/{{ course_basics["id"]}}/{{ assignment_basics["id"] }}" />
      <div id="clockdiv" style="display: none;">
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>

      <input type="hidden" name="start_time" id="start_time"></input>

      {% if assignment_details["has_timer"] %}
        {% if start_time == 0 %}
          <button class="button is-link is-medium is-rounded" style="margin-bottom: 20px;" type="submit">Begin Assignment</button>    
        {% else %}
          <script>showTimer();</script>
        {% end %}
 
      {% end %}

      <table class="table" id="assignment_table" style="margin-top: 30px;">
        <thead>
          <tr>
            <th>Problem</th>
            <th># Submissions</th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody>
          {% for problem in problem_statuses %}
            <tr>
              {% if assignment_details["has_timer"] and start_time == 0 %}
                  <td><a>{{ problem[1]["title"] }}</a></td>
              {% else %}
                  <td><a href="/problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem[0] }}">{{ problem[1]["title"] }}</a></td>
              {% end %}
              <td>{{ problem[1]["num_submissions"] }}</td>
              {% if problem[1]["passed"] %}
                <td><label>
                  <img src="/static/greencheck.png" alt="Completed" height="30" width="30" style="vertical-align: middle;"/>
                </label>Completed</td>
              {% else %}
                {% if problem[1]["in_progress"] %}
                  <td><label>
                  <img src="/static/inprogress.png" alt="In progress" height="30" width="30" style="vertical-align: middle;"/>
                  </label>In progress</td>
                {% else %}
                  <td><label>
                    <img src="/static/unchecked.png" alt="Not completed" height="30" width="30" style="vertical-align: middle;"/>
                  </label>Not started</td>
                {% end %}
              {% end %}
            </tr>
          {% end %} 
        </tbody>
      </table>

      </form> 

    {% end %}

  {% else %}
    <p>This assignment does not exist.</p>
  {% end %}
{% else %}
  <p>This course does not exist.</p>
{% end %}
<br/><a href="/course/{{ course_basics["id"] }}">Back to assignments</a>
<br /><br />