{% if course_basics["exists"] %}
  <h2>{{ assignment_basics["title"] }}</h2>

  {% if assignment_basics["exists"] %}
    <p>{{ assignment_details["introduction"] }}</p>

    {% if len(problems) > 0 %}
      <h4>Problems</h4>

      <ul>
      {% for problem in problems %}
        <li><a href="/problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem[0] }}">{{ problem[1]["title"] }}</a></li>
      {% end %}
      </ul>
    {% end %}

    <p>
      <a href="/course/{{ course_basics["id"] }}">Course home</a> |
      <a href="/edit_assignment/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}">Edit assignment</a> |
      <a href="/edit_problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/">New problem</a>
    </p>
  {% else %}
    <p>This assignment does not exist.</p>
  {% end %}
{% else %}
  <p>This course does not exist.</p>
{% end %}
