{% if course_basics["exists"] %}
    <h4>{{ assignment_basics["title"] }}</h4>

    {% if assignment_basics["exists"] %}
        <p>{{ assignment_details["introduction"] }}</p>

        <link rel="stylesheet" href="/static/modal.css">

        <script>
            function showDeleteModal(exercise_id) {
                var modal = document.getElementById("delete_exercise_modal");
                var span = document.getElementsByClassName("close")[0];
                var confirm_text = document.getElementById("confirm_delete");

                modal.style.display = "block";
                confirm_text.innerHTML = 'Are you sure you want to delete this exercise?';

                var cancelButton = document.getElementById("delete_cancel_button");
                var deleteButton = document.getElementById("delete_button");

                deleteButton.onclick = function() {
                    $.ajax({
                        type: 'POST',
                        url: "/delete_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/" + exercise_id,
                        success: function(result) {
                            modal.style.display = "none";
                            location.reload();
                        },
                        async: false
                    });
                }

                cancelButton.onclick = function() {
                    modal.style.display = "none";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }

                window.onclick = function(event) {
                    if (event.target == modal) {
                    modal.style.display = "none";
                    }
                }
            }

            function showCopyAssignmentModal() {
                var modal = document.getElementById("copy_assignment_modal");
                var span = document.getElementsByClassName("close")[1];
                modal.style.display = "block";

                var cancelButton = document.getElementById("copy_cancel_button");

                cancelButton.onclick = function() {
                    modal.style.display = "none";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }

            function showDeleteSubmissionsModal() {
                var modal = document.getElementById("delete_submissions_modal");
                var span = document.getElementsByClassName("close")[2];
                modal.style.display = "block";

                var deleteButton = document.getElementById("delete_submissions_button");
                var cancelButton = document.getElementById("delete_submissions_cancel_button");

                deleteButton.onclick = function() {
                    $.ajax({
                        type: 'POST',
                        url: "/delete_assignment_submissions/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}",
                        success: function(result) {
                            modal.style.display = "none";
                            location.reload();
                        },
                        async: false
                    });
                }

                cancelButton.onclick = function() {
                    modal.style.display = "none";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }

            function showVideoModal() {
                var modal = document.getElementById("video_modal");
                var span = document.getElementsByClassName("close")[3];

                modal.style.display = "block";
                document.getElementById("video_title").focus();

                var cancelButton = document.getElementById("video_cancel_button");
                var createButton = document.getElementById("video_create_button");
                document.getElementById("video_title").focus();
                document.getElementById("video_error").innerHTML = "";

                createButton.onclick = function() {
                    var title = document.getElementById("video_title").value.trim();
                    var instructions = document.getElementById("video_instructions").value.trim();
                    var url = document.getElementById("video_url").value.trim();

                    if (title.length == 0 || instructions.length == 0 || url == 0) {
                        document.getElementById("video_error").innerHTML = "<div class='notification error-message'>All inputs must be specified.</div>";
                        return;
                    }

                    if (url.includes("youtube") || url.includes("youtu.be")) {
                      var video_id = url.replace("https://youtu.be/", "").replace("https://www.youtube.com/watch?v=", "").replace("&feature=youtu.be", "");
                      post_data = {"title": title, "instructions": instructions + "\n\nyoutube:" + video_id};
                    }
                    else {
                      if (url.includes("panopto.com")) {
                        var url_parts = url.replace("https://", "").split("/Panopto/Pages/Viewer.aspx?id=");
                        var video_id = url_parts[0] + "/" + url_parts[1];
                        post_data = {"title": title, "instructions": instructions + "\n\npanopto:" + video_id};
                      }
                      else {
                        document.getElementById("video_error").innerHTML = "<div class='notification error-message'>The video URL is invalid.</div>";
                        return;
                      }
                    }

                    $.post("/create_video_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}",
                        post_data,
                        function(data, status) {
                            var message = JSON.parse(data)["message"];

                            if (message == "") {
                                document.getElementById("video_error").innerHTML = "";
                                modal.style.display = "none";

                                location.reload();
                            }
                            else {
                                document.getElementById("video_error").innerHTML = "<div class='notification error-message'>" + message + "</div>";
                            }
                    });
                }

                cancelButton.onclick = function() {
                    modal.style.display = "none";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }
            }
        </script>

        {% if len(exercises) > 0 %}

            <table class="table" id="assignment_table">
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th>Visibility</th>
                        <th>Scores</th>
                        <th>Submissions</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                {% for exercise in exercises %}
                    <tr>
                        <td><a href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">{{ exercise[1]["title"] }}</a>
                          {% if exercise[1]["enable_pair_programming"] %}
                          <label class="has-tooltip-multiline has-tooltip-right" data-tooltip="Pair programming is enabled for this exercise."><i class="fab fa-product-hunt"></i></label>
                          {% end %}
                        </td>

                        {% if exercise[1]["visible"] == 0 %}
                            <td class="has-text-centered">Hidden</td>
                            <td> </td>
                            <td> </td>
                        {% else %}
                            <td class="has-text-centered">Visible</td>
                            <td class="has-text-centered"><a href="/exercise_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">Scores</a></td>
                            <td class="has-text-centered"><a href="/exercise_submissions/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">Submissions</a></td>
                        {% end %}
                        <td class="has-text-centered">
                            <a href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[1]['id'] }}">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td class="has-text-centered">
                            <a onclick="showDeleteModal({{ exercise[1]['id'] }})">
                                <i class="fas fa-trash-alt"></i>
                            </a> 
                        </td>
                    </tr>
                {% end %}  
                </tbody>
            </table>

        {% else %}
            <p><strong>No exercises have been created for this assignment.</strong></p>
        {% end %}

        <div id="delete_exercise_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="confirm_delete"></p>
                <p class="buttons">
                    <a id="delete_cancel_button" class="modal-button button is-light">Cancel</a>
                    <a id="delete_button" class="modal-button button is-dark">Delete</a>
                </p>
            </div>
        </div>

        <div id="copy_assignment_modal" class="modal">
            <form method="post" action="/copy_assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Copy an assignment to a different course:</p>
                <div class="select is-primary">
                    <select name="new_course_id" id="new_course_id">
                    {% for course in course_options %}
                        <option value="{{ course['id'] }}">{{ course["title"] }}</option>
                    {% end %}
                    </select>
                </div>
                <p class="buttons">
                    <a id="copy_cancel_button" class="modal-button button is-light">Cancel</a>
                    <input type="submit" id="copy_button" class="modal-button button is-dark" value="Copy"/>
                </p>
            </div>
            </form>
        </div>

        <div id="delete_submissions_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Are you sure you want to delete all submissions for this assignment?</p>
                <p><font color="red">This will also delete all scores for this assignment.</font></p>
                <p class="buttons">
                    <a id="delete_submissions_cancel_button" class="modal-button button is-light">Cancel</a>
                    <input type="submit" id="delete_submissions_button" class="modal-button button is-dark" value="Delete"/>
                </p>
            </div>
        </div>

        <div id="video_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p><strong>Create video exercise</strong></p>               

                <p>Use this option to create an exercise that displays a video and asks the user to submit a response based on a prompt in the video. <a href="https://youtube.com" target="_blank">YouTube</a> and <a href="https://panopto.com" target="_blank">Panopto</a> are currently supported.</p>

                <p>Title:
                    <input class="input is-medium is-primary" type="text" id="video_title" name="video_title"/>
                </p>

                <p>Instructions:
                    <input class="input is-medium is-primary" type="text" id="video_instructions" name="video_instructions" value="Please watch this video and then enter the requested response in the box below. If no response was requested, enter `Done`."/>
                </p>

                <p>Video URL:
                    <input class="input is-medium is-primary" type="text" id="video_url" name="video_url"/>
                </p>

                <div id="video_error"></div>

                <p class="buttons">
                    <button type="button" id="video_cancel_button" class="modal-button button is-light">Cancel</button>
                    <input type="submit" id="video_create_button" class="modal-button button is-dark" value="Create"/>
                </p>
            </div>
        </div>

        <div style="display: inline;">
            <div class="buttons">
                <button class="button is-dark" onclick="window.location.href='/edit_exercise/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/';">New exercise</button>
                <button class="button" onclick="showVideoModal()">New video exercise</button>
            </div>
            <button class="button is-primary is-pulled-right" onclick="window.location.href='/view_scores/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}';">View scores</button>
        </div>
        <div>
            <a href="/course/{{ course_basics['id'] }}">Back to course</a>
            | <a href="/edit_assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">Edit assignment</a>
            | <a href="/download_scores/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}" download="{{ download_file_name }}">Download scores</a><br />

            {% if is_administrator or is_instructor %}
                <a onclick="showCopyAssignmentModal()">Copy assignment</a>
                | <a onclick="showDeleteSubmissionsModal()">Delete assignment submissions</a>
            {% end %}
        </div>
    {% else %}
        <p>This assignment does not exist.</p>
    {% end %}
{% else %}
    <p>This course does not exist.</p>
{% end %}
<br /><br />
