        <link rel="stylesheet" href="/static/modal.css">
        <div>
            <div class="bottom-spacing">
            <h2 style="display: inline">My consent forms</h2>
            <br>
            {% if registered_courses %}
                {% for course in registered_courses %}
                    {% if course[1]["consent_text"] != '' and course[1]["consent_text"] %}
                        <p><strong>Consent form for: {{ course[1]["title"] }}</strong></p>
                        <p>{{ course[1]["consent_text"] }}</p>
                        <hr>
                    {% end %}
                {% end %}
            {% else %}

            <p>No current courses</p>
            {% end %}
            </div>
        </div>
    </div>
</div>
