        <link rel="stylesheet" href="/static/modal.css">
        <div>
            <div class="bottom-spacing">
            <h2 style="display: inline">Student Consent Forms</h2>
            <br>
            {% if registered_courses %}
                {% for course in registered_courses %}
                    {% if course[1]["consent_text"] != '' and course[1]["consent_text"] %}
                        <p class="space-div">Consent forms for <strong>{{ course[1]["title"] }}:</strong></p>
                        {% for student in course[1]['student_names'] %}
                            <div class="suggestion-div space-div" style="background-color: white">
                                <p>{{ course[1]["consent_text"] }}</p>
                                <p><strong>I, {{ student[1]['name'] }}, consent to participate in this study under the terms described above.</strong></p>
                            </div>
                        {% end %}
                    {% end %}
                {% end %}
            {% else %}

            <p>No current courses</p>
            {% end %}
            </div>
        </div>
    </div>
</div>
