{% if course_basics["exists"] %}
  <h2>{{ course_basics["title"] }}</h2>

  <p>{{ course_details["introduction"] }}</p>

  <h3>Assignments</h3>

  {% if len(assignment_statuses) == 0 %}
    <p>No assignments have been created.</p>
  {% else %}

  <script src="/static/shared.js" type="text/javascript" charset="utf-8"></script>

    <table class="table" id="assignment_table">
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Start Date</th>
          <th>Due Date</th>
          <th>Exercises Completed</th>
          <th>Timer</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for assignment in assignment_statuses %}
          <tr>
            {% if assignment[1]["start_date"] and assignment[1]["start_date"] > curr_datetime %}
              <td>{{ assignment[1]["title"] }}</td>
            {% else %}
              <td><a href="/assignment/{{ course_basics['id'] }}/{{ assignment[0] }}">{{ assignment[1]["title"] }}</a></td>
            {% end %}
            {% if assignment[1]["start_date"] %}
              <td>
                <script>
                  var s = new Date("{{ assignment[1]["start_date"].strftime('%Y-%m-%dT%H:%M:%SZ') }}");
                  document.write(convertDate(s));
                </script>
              </td>
            {% else %}
              <td> </td>
            {% end %}
            {% if assignment[1]["due_date"] %}
              <td>
                <script>
                  var d = new Date("{{ assignment[1]["due_date"].strftime('%Y-%m-%dT%H:%M:%SZ') }}");
                  document.write(convertDate(d));
                </script>
              </td>
            {% else %}
              <td> </td>
            {% end %}
            <td><progress class="progress is-small is-primary" value="{{ assignment[1]['num_passed'] }}" max="{{ assignment[1]['num_problems'] }}"></progress>{{ assignment[1]["num_passed"] }} / {{ assignment[1]["num_problems"] }}</td>
            {% if assignment[1]["has_timer"] %}
              <td>{{ assignment[1]["hour_timer"] }} hours {{ assignment[1]["minute_timer"] }} minutes </td>
            {% else %}
              <td>Untimed</td>
            {% end %}
            {% if assignment[1]["passed"] %}
              <td><label>
                <img src="/static/greencheck.png" alt="Completed" height="30" width="30" style="vertical-align: middle;"/>
              </label>Completed</td>
            {% else %}
                {% if assignment[1]["in_progress"] %}
                  <td><label>
                  <img src="/static/inprogress.png" alt="In progress" height="30" width="30" style="vertical-align: middle;"/>
                  </label>In progress</td>
                {% else %}
                  <td><label>
                    <img src="/static/unchecked.png" alt="Not completed" height="30" width="30" style="vertical-align: middle;"/>
                  </label>Not started</td>
                {% end %}
            {% end %}
          </tr>
        {% end %}
      </tbody>
    </table>
  {% end %}

{% else %}
  <h2>This course does not exist.</h2>
{% end %}
<br /><br />
