{% if course_basics["exists"] %}
  <h2>{{ course_basics["title"] }}</h2>

  <p>{{ course_details["introduction"] }}</p>

  <h3>Assignments</h3>

  {% if len(assignments) == 0 %}
    <p>No assignments have been created.</p>
  {% else %}
    <ul>
    {% for assignment in assignments %}
      <li><a href="/assignment/{{ course_basics["id"] }}/{{ assignment[0] }}">{{ assignment[1]["title"] }}</a></li>
    {% end %}
    </ul>
  {% end %}

  <p>
    {% if user_id in administrators["administrators"] %}
      <a href="/edit_course/{{ course_basics["id"] }}">Edit course</a>
      | <a href="/edit_permissions/{{ course_basics["id"] }}" id="per">Edit Course Permissions</a>
    {% else %}
      {% if course_basics["exists"] %}
        {% if instructor_dict["role"] == "instructor" %}
          <a href="/edit_course/{{ course_basics["id"] }}">Edit course</a>
          | <a href="/edit_assignment/{{ course_basics["id"] }}/">Create assignment</a>
          | <a href="/edit_permissions/{{ course_basics["id"] }}" id="per">Edit Course Permissions</a>
        {% end %}
      {% end %}
    {% end %}
  </p>
{% else %}
  <h2>This course does not exist.</h2>
{% end %}
