{% if course_basics["exists"] %}
  <h2>{{ course_basics["title"] }}</h2>

  <p>{{ course_details["introduction"] }}</p>

  {% if len(assignments) > 0 %}
    
    <table class="table" id="assignment_table">
      <thead>
        <tr>
          <th>Assignment</th>
          <th>Visibility</th>
          <th># Students Completed</th>
          <th>Avg Score</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for assignment in assignments %}
          <tr>
            <td><a href="/assignment/{{ course_basics["id"] }}/{{ assignment[0] }}">{{ assignment[1]["title"] }}</a></td>
            {% if assignment[1]["visible"] == 0 %}
              <td>Hidden</td>
              <td> </td>
              <td> </td>
            {% else %}
              <td>Visible</td>
              <td>{{ course_scores[assignment[1]["id"]]["num_students_completed"] }} / {{ course_scores[assignment[1]["id"]]["num_students"] }}</td>
              <td>{{ course_scores[assignment[1]["id"]]["avg_score"] }}%</td>
            {% end %}
            <td>
              <a href="/edit_assignment/{{ course_basics["id"] }}/{{ assignment[1]["id"] }}">
                <img src="/static/editicon.png" alt="Edit problem" height="25px" width="25px">
              </a>
            </td>
            <td>
              <a href="/delete_assignment/{{ course_basics["id"] }}/{{ assignment[1]["id"] }}">
                <img src="/static/trashcan.png" alt="Completed" height="25px" width="25px">
              </a> 
            </td>
          </tr>
        {% end %}
      </tbody>
    </table>
  {% end %}

  <p>
    <p><a class="button is-small is-rounded is-primary" onclick="window.location.href='/edit_assignment/{{ course_basics["id"] }}/';">
      <span>New assignment</span>
    </a></p>
    {% if role == "administrator" or role == "instructor" %}
      <a href="/edit_course/{{ course_basics["id"] }}">Edit course</a> |
      <a href="/delete_course/{{ course_basics["id"] }}">Delete course</a>
      {% if role == "administrator" %}
        | <a href="/add_instructor/{{ course_basics["id"] }}">Add/remove instructor</a>
      {% end %}
      {% if role == "instructor" %}
        | <a href="/add_assistant/{{ course_basics["id"] }}">Add/remove instructor assistant</a>
      {% end %}
    {% end %}
  </p>
{% else %}
  <h2>This course does not exist.</h2>
{% end %}
<br /><br />