<h2>Delete course</h2>

{% if result %}
  {% if result.startswith("Error:") %}
    <p><div class='notification is-danger' style='background-color: #f4a582'><strong>{{ result }}</strong></div></p>
  {% else %}
    <p><div class='notification is-success' style='background-color: #80cdc1'><strong>{{ result }}</strong></div></p>
  {% end %}
{% end %}

{% if course_basics["exists"] %}
    {% if not result %}
        <form method="post" action="/delete_course/{{ course_basics["id"] }}">

        <p><strong>Title: </strong>{{ course_basics["title"] }}</p>

        <p><font color="red">Are you sure you want to delete this course? It will also delete any assignments and problems for this course. In addition, it will delete any submissions that students have made for this course.</font></p>

        <p><input type="submit" class="button is-info is-large is-fullwidth" value="Confirm" /></p>

        </form>
    {% end %}
{% end %}
