<h2>Delete exercise submissions</h2>

{% if result %}
  {% if result.startswith("Error:") %}
    <p><div class='notification is-danger' style='background-color: #f4a582'><strong>{{ result }}</strong></div></p>
  {% else %}
    <p><div class='notification is-success' style='background-color: #80cdc1'><strong>{{ result }}</strong></div></p>
  {% end %}
{% end %}

{% if course_basics["exists"] %}
  {% if assignment_basics["exists"] %}
    {% if problem_basics["exists"] %}
      {% if not result %}
          <form method="post" action="/delete_problem_submissions/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ problem_basics['id'] }}" />

          <p><strong>Title: </strong>{{ problem_basics["title"] }}</p>

          <p><font color="red">Are you sure you want to delete any submissions that students have made for this exercise?</font></p>

          <p><input type="submit" class="button is-info is-large is-fullwidth" value="Confirm" /></p>

          </form>
      {% end %}
    {% end %}
  {% else %}
    This assignment has not been created yet.
  {% end %}
{% else %}
  This course has not been created yet.
{% end %}
