<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="CodeBuddy">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <link rel="stylesheet" href="/static/bulma.0.9.3.min.css">
        <link rel="stylesheet" href="/static/css/mystyles.css">
        <link rel="stylesheet" href="/static/css/bulma-tooltip.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/font-awesome.5.3.1.all.min.js"
            integrity="sha512-IJcmeopmq+pfSnTIIqxay7uUBlIYP+f9wnqhfCMnfS5VOb2X9WDToczDCsbgXthcZZTNGbJyF+TvKSYGWeBpdQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" data-observe-mutations></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/js/all.min.js"
            integrity="sha512-IJcmeopmq+pfSnTIIqxay7uUBlIYP+f9wnqhfCMnfS5VOb2X9WDToczDCsbgXthcZZTNGbJyF+TvKSYGWeBpdQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" data-observe-mutations></script>-->
        <script
            src="/static/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <!--<script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>-->

        <title>CodeBuddy</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
            rel="stylesheet">

        <style type="text/css" media="screen">
            .ace_editor {
                border: 1px solid lightgray;
                margin: auto;
                height: 500px;
                width: 100%;
            }

            .scrollmargin {
                height: 80px;
                text-align: center;
            }
        </style>
    </head>

    <body>
            <div>
<script src="/static/ace/ace.js"></script>

<script>
  ace.config.set("basePath", "/static/ace");
</script>

<!--<script src="/static/ace/mode-r.js"></script>-->
<script src="/static/ace/ext-language_tools.js"></script>
<script>
    const toggleBurger = () => {
        let burgerIcon = document.getElementById('burger');
        let dropMenu = document.getElementById('the_menu');
        burgerIcon.classList.toggle('is-active');
        dropMenu.classList.toggle('is-active');
    };

    // $(document).ready(function() {
    //     // Function to check if the navbar contents are wider than the available space
    //     function isNavbarOverflowed() {
    //         return $('.navbar-menu').prop('scrollWidth') > $('.navbar-menu').width();
    //     }

    //     // Function to toggle the burger icon and menu based on screen width and contents
    //     function toggleNavbar() {
    //         if ($(window).width() > 1224 && isNavbarOverflowed()) {
    //             $('.navbar-burger').show();
    //             $('.navbar-menu').hide();
    //         } else {
    //             $('.navbar-burger').hide();
    //             $('.navbar-menu').show();
    //         }
    //     }

    //     // Initial toggle when the page loads
    //     toggleNavbar();

    //     $(window).resize(function() {
    //         toggleNavbar();
    //     });

    //     // Toggle the navbar when the burger icon is clicked
    //     $('.navbar-burger').click(function() {
    //         $('.navbar-menu').toggle();
    //     });
    // });
    
    function toggleDropdown(div_id) {
        var element = document.getElementById(div_id);
        element.classList.toggle('is-active');
    }

    window.addEventListener('click', function(e) {
        for (menu of ["course", "assignment", "exercise", "menu"]) {
            var dropdown = document.getElementById(`${menu}_dropdown`);

            if (dropdown == null)
                continue;

            if (!dropdown.contains(e.target) && dropdown.classList.contains("is-active"))
                dropdown.classList.remove("is-active");
        }
    });
</script>

<nav id="navbar" class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation" style="border-radius: 0px; padding: 1px; box-shadow: 3px 3px 6px lightgray;">
    <div class="navbar-brand" style="padding: 3px 0px 0px 0px;">
        <a href="/" id="navbar-start">CodeBuddy <i class="fa fa-home" style="padding: 0 .3em; width:auto;" aria-hidden="true"></i></a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="burger" onclick="toggleBurger()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu is-size-5" id="the_menu">
        <div class="navbar-start">            {% if len(courses) > 1 and "course_basics" in globals() and course_basics["exists"] %}
                <div id="course_dropdown" class="navbar-item has-dropdown" onclick="toggleDropdown('course_dropdown')">
                    <div class="navbar-item is-arrowless" style="cursor: pointer;">
                        Courses

                        <i class="fas fa-chevron-down" style="margin-left: 10px;margin-right: 10px;"></i>
                    </div>

                    <div id="moreDropdown" class="navbar-dropdown">
                        {% for course in courses %}
                            {% if course[0] == course_basics['id'] %}
                                <a class="navbar-item" style="background-color: #003DA5; color: white; white-space: nowrap;"
                            {% else %}
                                <a class="navbar-item" style="white-space: nowrap;"
                            {% end %}

                            {% if "is_edit_page" in globals() and is_edit_page == True %}
                                href="/edit_course/{{ course[0] }}"
                            {% else %}
                                href="/course/{{ course[0] }}"
                            {% end %}
                            
                            >
                            
                            {{ course[1]["title"] }}
                        
                            </a>
                        {% end %}
                    </div>
                </div>
            {% end %}{% if "assignment_statuses" in globals() and len(assignment_statuses) > 1 and "assignment_basics" in globals() and assignment_basics["exists"] %}
    <div id="assignment_dropdown" class="navbar-item has-dropdown" onclick="toggleDropdown('assignment_dropdown')">
        <div class="navbar-item is-arrowless" style="cursor: pointer;">
            Assignments

            <i class="fas fa-chevron-down" style="margin-left: 10px;margin-right: 10px;"></i>
        </div>

        <div id="moreDropdown" class="navbar-dropdown">
            {% set prev_assignment_group = None %}
            {% set non_other_assignment_group = False %}

            {% for assignment in assignment_statuses %}
                {% set current_assignment_group = assignment[1] %}

                {% if current_assignment_group != "" %}
                    {% set non_other_assignment_group = True %}
                {% end %}

                {% if current_assignment_group != prev_assignment_group and non_other_assignment_group %}
                    <div class="navbar-item has-text-weight-bold" style="padding-top: 10px; padding-bottom: 5px;">
                        {% if current_assignment_group == "" %}
                            Other
                        {% else %}
                            {{ current_assignment_group }}
                        {% end %}                        
                    </div>

                    {% set prev_assignment_group = current_assignment_group %}
                {% end %}

                {% if assignment[0] == assignment_basics['id'] %}
                    <a class="navbar-item" style="background-color: #003DA5; color: white; white-space: nowrap;"
                {% else %}
                    <a class="navbar-item" style="white-space: nowrap;"
                {% end %}

                {% if "is_edit_page" in globals() and is_edit_page == True %}
                    href="/edit_assignment/{{ course_basics['id'] }}/{{ assignment[0] }}"
                {% else %}
                    href="/assignment/{{ course_basics['id'] }}/{{ assignment[0] }}"
                {% end %}
                >

                {% if assignment[2]["completed"] %}
                    <i class="far fa-check-circle"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i>
                {% elif assignment[2]["in_progress"] %}
                    <i class="far fa-hourglass"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i>
                {% elif assignment[2]["timer_has_ended"] %}
                    <!-- <i class="far fa-clock"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i> -->
                    <i class="far fa-check-circle"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i>
                {% else %}
                    <i class="far fa-circle"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i>
                {% end %}
                
                &nbsp;
                
                {{ assignment[2]["title"] }}
            
                </a>
            {% end %}
        </div>
    </div>
{% end %}{% if "exercise_statuses" in globals() and len(exercise_statuses) > 1 and "exercise_basics" in globals() and exercise_basics["exists"] %}
    <div id="exercise_dropdown" class="navbar-item has-dropdown" onclick="toggleDropdown('exercise_dropdown')">
        <div class="navbar-item is-arrowless" style="cursor: pointer;">
            Exercises

            <i class="fas fa-chevron-down" style="margin-left: 10px;margin-right: 10px;"></i>
        </div>

        <div id="moreDropdown" class="navbar-dropdown">
            {% for exercise in exercise_statuses %}
                {% if exercise[0] == exercise_basics['id'] %}
                    <a class="navbar-item" style="background-color: #003DA5; color: white; white-space: nowrap;"
                {% else %}
                    <a class="navbar-item" style="white-space: nowrap;"
                {% end %}
                
                    {% if "is_edit_page" in globals() and is_edit_page == True %}
                        href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}"
                    {% else %}
                        href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}"
                    {% end %}
                    >

                    {% if exercise[1]["completed"] %}
                        <i class="far fa-check-circle"
                        
                        {% if exercise[0] == exercise_basics['id'] %}
                            style="color: white;"
                        {% end %}

                        ></i>&nbsp;
                    {% elif exercise[1]["in_progress"] %}
                        <i class="far fa-hourglass"
                        
                        {% if exercise[0] == exercise_basics['id'] %}
                            style="color: white;"
                        {% end %}

                        ></i>&nbsp;
                    {% else %}
                        <i class="far fa-circle"
                        
                        {% if exercise[0] == exercise_basics['id'] %}
                            style="color: white;"
                        {% end %}

                        ></i>&nbsp;
                    {% end %}

                    {{ exercise[1]["title"] }}

                    {% if exercise[1]["enable_pair_programming"] %}
                        <label style="margin-left: 5px;" class="has-tooltip-multiline has-tooltip-left" data-tooltip="Pair programming is enabled for this exercise"><i class="fab fa-product-hunt"></i></label>
                    {% end %}
                </a>
            {% end %}
        </div>
    </div>

    {% if "prev_exercise" in globals() and prev_exercise %}
        <div class="navbar-item is-arrowless" style="cursor: pointer;">
            {% if "is_edit_page" in globals() and is_edit_page == True %}
                <a href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ prev_exercise['id'] }}">
            {% else %}
                <a href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ prev_exercise['id'] }}">
            {% end %}

                <i class="fas fa-arrow-left" style="margin-left: 5px;margin-right: 1px;"></i>
            </a>
        </div>
    {% end %}

    {% if "next_exercise" in globals() and next_exercise %}
        <div class="navbar-item is-arrowless" style="cursor: pointer;">
            {% if "is_edit_page" in globals() and is_edit_page == True %}
                <a href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ next_exercise['id'] }}">
            {% else %}
                <a href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ next_exercise['id'] }}">
            {% end %}

                <i class="fas fa-arrow-right" style="margin-left: 1px;margin-right: 5px;"></i>
            </a>
        </div>
    {% end %}
{% end %}
            </div>
            <div class="navbar-end">
                <div id="menu_dropdown" class="navbar-item has-dropdown" onclick="toggleDropdown('menu_dropdown')">
                    <div class="navbar-item is-arrowless" style="cursor: pointer;">
                        {{ user_info["given_name"] }}
                        <i class="fas fa-chevron-down" style="margin-left: 10px;"></i>
                    </div>

                    <div class="navbar-dropdown is-size-5 is-right">
                        <a class="navbar-item" href="/">Courses</a>

                        <a class="navbar-item" href="/my_profile/{{ user_info['user_id'] }}">My profile</a>

                        <a class="navbar-item" href="/preferences/{{ user_info['user_id'] }}">Preferences</a>

                        {% if is_administrator %}
                            <hr class="navbar-divider">

                            <a class="navbar-item" href="/edit_course/">Create course</a>

                            <a class="navbar-item" href="/manage_admins">Manage admins</a>

                            <a class="navbar-item" href="/manage_users">Manage users</a>

                            <a class="navbar-item" href="/summarize_logs">View logs</a>

                            <a class="navbar-item" href="/clean_up_courses">Clean up courses</a>
                        {% end %}

                        <hr class="navbar-divider">

                        <a class="navbar-item" href="/logout">Log out</a>
                    </div>
                </div>
            </div>        </div>
    </div>
</nav><div class="has-background-light container-padding">
    <div class="content is-medium"><script>
    function showPostModal(action, title, data_obj, reload_url, wait_detail_text) {
        var waitDefaultDetail = " while this task completes and the page refreshes\u2026";
        var waitDetail = (wait_detail_text !== undefined && wait_detail_text !== null && wait_detail_text !== "")
            ? wait_detail_text
            : waitDefaultDetail;

        // Build the modal
        var modalElement = document.createElement("div");
        modalElement.setAttribute("class", "modal");
        modalElement.style.display = "block";

        var backgroundElement = document.createElement("div");
        backgroundElement.setAttribute("class", "modal-background");

        var cardElement = document.createElement("div");
        cardElement.setAttribute("class", "modal-card");

        var headerElement = document.createElement("header");
        headerElement.setAttribute("class", "modal-card-head");

        var titleElement = document.createElement("p");
        titleElement.setAttribute("class", "modal-card-title");
        titleElement.innerHTML = `<strong>${title}</strong>`;

        var sectionElement = document.createElement("section");
        sectionElement.setAttribute("class", "modal-card-body is-large");
        messageElement = document.createElement("div");
        messageElement.setAttribute("style", "font-size: 24px;");

        var errorElement = document.createElement("div");

        var waitElement = document.createElement("div");
        waitElement.style.display = "none";

        function setWaiting(isWaiting) {
            if (isWaiting) {
                waitElement.style.display = "block";
                waitElement.innerHTML = `<div class="notification is-info is-light mt-4 mb-0">
                    <div class="is-flex is-align-items-flex-start">
                        <span class="icon is-large has-text-info mr-3 mt-1" style="flex-shrink: 0;">
                            <i class="fas fa-spinner fa-pulse" aria-hidden="true"></i>
                        </span>
                        <p class="is-size-5 mb-0">
                            <strong class="has-text-info">Please wait</strong>
                            <span class="has-text-grey-dark">${waitDetail}</span>
                        </p>
                    </div>
                </div>`;
                actionButton.style.pointerEvents = "none";
                actionButton.style.opacity = "0.5";
                cancelButton.style.pointerEvents = "none";
                cancelButton.style.opacity = "0.5";
            }
            else {
                waitElement.style.display = "none";
                waitElement.innerHTML = "";
                actionButton.style.pointerEvents = "";
                actionButton.style.opacity = "";
                cancelButton.style.pointerEvents = "";
                cancelButton.style.opacity = "";
            }
        }

        function updateErrorMessage(message) {
            if (message == "")
                errorElement.innerHTML = message;
            else
                errorElement.innerHTML = `<hr /><p><font color='red'>${message}</p>`;
                errorElement.scrollIntoView();
        }

        var footerElement = document.createElement("footer");
        footerElement.setAttribute("class", "modal-card-foot");

        var actionButton = document.createElement("a");
        actionButton.setAttribute("class", "modal-button button is-dark");
        actionButton.innerHTML = "Continue";

        var cancelButton = document.createElement("a");
        cancelButton.setAttribute("class", "modal-button button");
        cancelButton.innerHTML = "Cancel";

        // Nest everything within the modal
        modalElement.appendChild(backgroundElement);

        headerElement.appendChild(titleElement);
        sectionElement.appendChild(messageElement);
        sectionElement.appendChild(errorElement);
        sectionElement.appendChild(waitElement);
        footerElement.appendChild(actionButton);
        footerElement.appendChild(cancelButton);

        cardElement.appendChild(headerElement);
        cardElement.appendChild(sectionElement);
        cardElement.appendChild(footerElement);

        modalElement.appendChild(cardElement);
        document.body.appendChild(modalElement);

        var build_body_function = window[`${action}_build_body`];
        if (build_body_function)
            build_body_function(data_obj, messageElement);

        actionButton.onclick = function() {
            // This sets it back to the original value if they get an error and then click the action button again.
            updateErrorMessage("");

            var postData = {};
            var get_post_data_function = window[`${action}_get_post_data`];
            if (get_post_data_function)
                postData = get_post_data_function();

            if ("error" in postData && postData.error != "") {
                updateErrorMessage(postData.error);
                return;
            }

            setWaiting(true);

            $.ajax({
                type: 'POST',
                url: window[`${action}_get_post_url`](data_obj),
                data: postData,
                async: true,
                success: function(result) {
                    if (result == "") {
                        modalElement.style.display = "none";

                        if (reload_url == "") {
                            //window.scrollTo(0, 0);
                            location.reload();
                        }
                        else {
                            location.href = reload_url;
                        }
                    }
                    else {
                        setWaiting(false);
                        updateErrorMessage(result);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    setWaiting(false);
                    updateErrorMessage(`Error: ${errorThrown}`);
                }
            });
        }

        cancelButton.onclick = function() {
            modalElement.style.display = "none";
        }

        // window.onclick = function(event) {
        //     if (event.target == modalElement)
        //         modalElement.style.display = "none";
        // }
    }

    // https://www.w3docs.com/snippets/javascript/how-to-sort-javascript-object-by-key.html
    // https://fuzzytolerance.info/blog/2019/07/19/The-better-way-to-do-natural-sort-in-JavaScript/
    function sortObj(obj) {
        return Object.keys(obj).sort((a, b) => a.localeCompare(b, navigator.languages[0] || navigator.language, {numeric: true, ignorePunctuation: true})).reduce(function (result, key) {
            result[key] = obj[key];
            return result;
        }, {});
    }

    function parseDateText(text) {
        if (text == "None")
             return "No submissions";

        var the_date = new Date(text);
        // var the_date_mod = the_date.getTime() - (the_date.getTimezoneOffset() * 60000);
        // the_date.setTime(the_date_mod);

        return the_date.toLocaleString();
    }

    function addPasteEventListener(textarea_id) {
        let textarea = document.getElementById(textarea_id);

        textarea.addEventListener('paste', function(event) {
            const items = event.clipboardData.items;
            for (let i = 0; i < items.length; i++) {
                if (items[i].kind === 'file' && items[i].type.startsWith('image/')) {
                    const blob = items[i].getAsFile();
                    const reader = new FileReader();

                    reader.onload = function(event) {
                        const base64Image = event.target.result;
                        const imgTag = `<img src="${base64Image}" alt="An image illustrating something from the instructions." />`;
                        insertTextAtCursor(textarea, imgTag);
                    };

                    reader.readAsDataURL(blob);

                    // Prevent the default paste behavior
                    event.preventDefault();
                    break;
                }
            }
        });
    }

    function insertTextAtCursor(textarea, text) {
        const start = textarea.selectionStart;
        const end = textarea.selectionEnd;
        const before = textarea.value.substring(0, start);
        const after = textarea.value.substring(end, textarea.value.length);

        textarea.value = before + text + after;
        textarea.selectionStart = textarea.selectionEnd = start + text.length;

        textarea.focus();
    }

    function showFiles() {
        if (Object.keys(exercise_details_obj["data_files"]).length == 0) {
            $("#files_table").addClass("is-hidden");
            return;
        }

        var html = "<table class='table is-striped'>";
        html += "<thead><tr><th>Name</th><th>Size (characters)</th><th>View</th><th>Delete</th></thead>";
        html += "<tbody>";

        for (const file_name in sortObj(exercise_details_obj["data_files"])) {
            html += "<tr>";
            html += `  <td>${file_name}</td>`;
            html += `  <td>${exercise_details_obj["data_files"][file_name].length}</td>`;
            html += `  <td>
                            <a onclick="viewFile('${file_name}')">
                                <i class="fas fa-file-alt"></i>
                            </a>
                        </td>`;
            html += `  <td>
                            <a onclick="removeFile('${file_name}')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>`;
            html += "</tr>";
        }

        html += "</tbody>";
        html += "</table>";

        $("#files_table")[0].innerHTML = html;
        $("#files_table").removeClass("is-hidden");

        // This clears the memory for this control so we can re-upload a file after removing it.
        $("#upload_file_control").val(null);
    }

    function viewFile(file_name) {
        $("#view_file_modal_header")[0].innerHTML = file_name;
        view_file_editor.setValue(exercise_details_obj["data_files"][file_name], -1);
        $("#view_file_modal").addClass("is-active");
    }

    function removeFile(file_name) {
        delete exercise_details_obj["data_files"][file_name];
        showFiles();
    }

    function dataFilesTooLarge() {
        var total_file_size = 0;

        for (let file_name of Object.keys(exercise_details_obj["data_files"]))
            total_file_size += exercise_details_obj["data_files"][file_name].length;

        let file_size_limit = 10 * 1000 * 1000;

        return (total_file_size > file_size_limit);
    }
</script>
<div class="row-container is-hidden" id="edit_header">
    <h4>Edit multiple-choice exercise</h4>

    <div class="buttons mb-2">
        <button class="button is-dark" onclick="save()">Save</button>
        <a class="button is-white" id="done_button1">Exercise home</a>

        {% if prev_exercise %}
            <a class="button is-white" href="/edit_mc_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ prev_exercise['id'] }}">Previous exercise</a>
        {% end %}
        {% if next_exercise %}
            <a class="button is-white" href="/edit_mc_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ next_exercise['id'] }}">Next exercise</a>
        {% end %}

        <a class="button is-white" href="/assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">Assignment home</a>

        <a class="button is-white" href='/course/{{ course_basics['id'] }}'>Course home</a>
    </div>
</div>

<h4 id="create_header">Create multiple-choice exercise</h4>

<div class="notification is-danger is-hidden" id="result_message"></div>

{% if course_basics["exists"] %}
  {% if assignment_basics["exists"] %}
    <div class="shadow-box">
        <div class="row-container bottom-space">
            <div class="a-title-container">
                <p><strong>Title*:</strong></p>
                <p><input id="title" class="input is-grey is-fullwidth" placeholder="Please specify a descriptive title." autofocus></p>
            </div>
            <div class="a-visible">
                <p><strong>Visible to students: </strong>
                    <div class="select is-grey">
                        <select id="visible" class="edit-select">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                </p>
            </div>
        </div>

        <div class="top-space">
            <p><strong>Instructions*: </strong><br />Please write instructions for this exercise. You may use <a href="https://www.markdownguide.org/basic-syntax/" target='_blank' rel='noopener noreferrer'>Markdown syntax</a> to format the text. If you would like, you can use the following shortcuts to customize the instructions.</p>
            
            <ul>
                <li>Add a link to the previous exercise by placing <code>[previous_exercise_link]</code> in the instructions. When students see the instructions, this text will be replaced with a link to the previous exercise.</li>
                <li>You can add video(s) to the instructions. To add a YouTube video, specify <code>youtube:id</code>, replacing "id" with the unique identifier for a particular video. For example, for <a href="https://www.youtube.com/watch?v=PLOPygVcaVE" target="_blank">this video</a>, you would use "youtube:PLOPygVcaVE".</li>
            </ul>

            <p><textarea id="instructions" class="textarea" rows=10 placeholder="Please provide instructions for this assignment."></textarea></p>

            <script>
                addPasteEventListener("instructions");
            </script>
        </div>

        <div class="row-container top-space">
            <div>
                <p><strong>Allow students to work in pairs on this exercise: </strong>
                    <div class="select is-grey">
                        <select id="enable_pair_programming" class="edit-select">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                </p>
            </div>
        </div>

        <div class="row-container top-space">
            <div>
                <strong>Weight: </strong>

                <label class="is-primary has-tooltip-multiline has-tooltip-right" data-tooltip="By default, each exercise has a weight of 1.0. You can modify these weights so that some exercises are counted more (or less) toward the assignment score than other exercises.">
                    <i class="far fa-question-circle"></i>
                </label>

                <div style="margin-top:1em;">
                    <input class="input"
                           type="text"
                           id="weight"
                           style="width: 70px;"
                           value="1.0"
                           placeholder="Please enter a positive number."
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                </div>
            </div>
        </div>
    </div>

    <div class="shadow-box">
        <p><strong>Credit: </strong>
            <br />If anyone should be given credit for creating this exercise, please indicate that here. You may use <a href="https://www.markdownguide.org/basic-syntax/" target='_blank' rel='noopener noreferrer'>Markdown syntax</a> to format the text. Please provide a link to the data source(s) if you obtained the dataset from someone else.
        </p>

        <textarea class="textarea is-grey is-fullwidth monospace" placeholder="Please write the credit statement here." rows="2" id="credit"></textarea></p>
    </div>

    <div class="shadow-box">
        <div>
            <p><strong>Answer options*: </strong></p>
            <p>Please specify answer options for this exercise. These will be displayed to students in alphabetical order. You must mark at least one option as correct. If you mark multiple answer options as correct, they will be displayed as checkboxes, and students must select <em>all</em> options correctly to receive points. Optionally, you can provide a blurb for each answer option that explains why that answer option is correct or not. When you provide these blurbs, students will see them when they provide those answers, whether or not they were correct.</p>

            <div id="solutions_table" class="table-container is-hidden"></div>

            <div class="button is-light bottom-space mt-9" id="add_solution_button">
                Add answer option
            </div>
        </div>
    </div>

    <div class="shadow-box">
        <p><strong>Data file(s):</strong></p>

        <p>Optionally, you can upload data files that students will use on this exercise. You can upload more than one file, if needed. The maximum amount of data per exercise is 10 megabytes across all files. If a file name ends with <code>.hide</code>, that file's contents will be hidden from students; hidden files are only available for tests for which the test code and outputs are <em>not</em> shown. If the file name ends with <code>.csv</code>, it will be assumed that the file contains comma-separated values, and students will have an option to view the data as a table. If the file name ends with <code>.tsv</code>, it will be assumed that the file contains tab-separated values, and the same option will be available.</p>

        <div id="files_table" class="table-container"></div>

        <div class="file is-normal">
            <label class="file-label">
                <input class="file-input" type="file" id="upload_file_control" multiple>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Upload a file...
                    </span>
                </span>
            </label>
        </div>
    </div>

    <div class="shadow-box">
        <p><strong>Sandbox: </strong>
            <label for="sandbox_back_end">
                You can provide a way for students to execute code if that is necessary for them to answer the question. Their code will not be saved. To do so, select a programming language below. Currently, only text-based outputs are supported.
            </label>

            <div class="select is-grey">
                <select id="sandbox_back_end" class="edit-select">
                    {% for sandbox_back_end in sandbox_back_ends %}
                        <option value="{{ sandbox_back_end }}">{{ sandbox_back_end }}</option>
                    {% end %}
                </select>
            </div>
        </p>
    </div>

    <p class="buttons">
        <button class="button is-dark" onclick="save()">Save</button>

        <span id="bottom_buttons" class="is-hidden">
            <a class="button is-white ml-1" id="done_button2">Exercise home</a>

            {% if prev_exercise %}
                <a class="button is-white" href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ prev_exercise['id'] }}">Previous exercise</a>
            {% end %}
            {% if next_exercise %}
                <a class="button is-white" href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ next_exercise['id'] }}">Next exercise</a>
            {% end %}
        </span>

        <a class="button is-white ml-3" href="/assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">Assignment home</a>

        <a class="button is-white ml-3" href='/course/{{ course_basics['id'] }}'>Course home</a>
    </p>

    <div id="add_solution_modal" class="modal is-clipped">
        <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <span class="modal-card-title is-size-5 has-text-centered has-text-weight-bold">Specify answer option</span>
                    <button class="delete" aria-label="close" id="add_solution_modal_close"></button>
                </header>

                <section class="modal-card-body">
                    <div>
                        <input id="add_solution_input" type="text" placeholder="Please specify an answer option." class="input is-fullwidth" autofocus />
                        <input id="add_solution_input_before_change" type="hidden" />
                    </div>

                    <div class="mt-4">
                        <label class="checkbox">
                            <input type="checkbox" id="add_solution_checkbox" />
                            This answer is correct.
                        </label>
                    </div>

                    <div class="mt-4">
                        <input id="add_solution_description_input" type="text" placeholder="[Optional] Describe why this answer is correct or incorrect." class="input is-fullwidth" />
                    </div>

                    <div id="solution_message" class="notification mt-4 mb-1"></div>
                </section>

                <footer class="modal-card-foot">
                    <button class="button is-primary" id="add_solution_modal_add"></button>
                    <button class="button" id="add_solution_modal_cancel">Close</button>
                </footer>
            </div>
        </div>
    </div>

    <div id="view_file_modal" class="modal is-clipped">
        <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title is-size-5 has-text-centered has-text-weight-bold" id="view_file_modal_header"></p>
                    <button class="delete" aria-label="close" id="view_file_modal_close"></button>
                </header>

                <section class="modal-card-body">
                    <textarea id="view_file_modal_text" class="textarea is-fullwidth"></textarea>
                </section>
            </div>
        </div>
    </div>

    <script>
        function populateAnswerOptionModal(text, isCorrect, description, buttonText) {
            document.getElementById("add_solution_input").value = text;
            document.getElementById("add_solution_input_before_change").value = text;
            document.getElementById("add_solution_checkbox").checked = isCorrect;
            document.getElementById("add_solution_description_input").value = description;

            $("#add_solution_modal_add").text(buttonText);

            $("#solution_message")[0].innerHTML = "";
            $("#solution_message").addClass("is-hidden");

            $("#add_solution_modal").addClass("is-active");
            $("#add_solution_input").focus();
        }

        $("#add_solution_button").click(function() {
            populateAnswerOptionModal("", false, "", "Add");
        });

        $("#add_solution_modal_cancel").click(function() {
            $("#add_solution_modal").removeClass("is-active");
        });

        $("#add_solution_modal_close").click(function() {
            $("#add_solution_modal").removeClass("is-active");
        });

        $("#add_solution_input")[0].addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                $("#add_solution_modal_add").click();
            }
        });

        $("#add_solution_description_input")[0].addEventListener('keypress', (event) => {
            if (event.key === 'Enter') {
                $("#add_solution_modal_add").click();
            }
        });

        $("#add_solution_modal_add").click(function() {
            const is_new_option = $("#add_solution_modal_add").text() == "Add";

            var solution_option = document.getElementById("add_solution_input").value;
            var solution_option_before_change = document.getElementById("add_solution_input_before_change").value;
            var solution_description = document.getElementById("add_solution_description_input").value.trim();

            // Make sure option is valid
            if (solution_option.trim() == "")
                return showSolutionMessage("Please specify an answer option.", true);

            for (let unallowed_char of ["|"])
                if (solution_option.includes(unallowed_char))
                    return showSolutionMessage(`The answer option cannot include the following character: ${unallowed_char}`, true);

            var solutions_and_descriptions = getSolutionsAndDescriptions();

            if (solution_option in solutions_and_descriptions.solutions && solution_option != solution_option_before_change) {
                return showSolutionMessage("That answer option has already been specified.", true);
            }

            if (!is_new_option) {
                removeAnswerOption(solution_option_before_change);
                solutions_and_descriptions = getSolutionsAndDescriptions();
            }

            let is_correct = $("#add_solution_checkbox")[0].checked;
            solutions_and_descriptions.solutions[solution_option] = is_correct;

            if (solution_description != "")
                solutions_and_descriptions.descriptions[solution_option] = solution_description;

            updateSolutionsAndDescriptions(solutions_and_descriptions);

            // This resets the controls in the modal.
            $("#add_solution_button").click();

            if (is_new_option) {
                showSolutionMessage(`The following answer option has been added: ${solution_option}`, false);
            }
            else {
                $("#add_solution_modal_close").click();
            }
        });

        function getSolutionsAndDescriptions() {
            let solution_code = exercise_details_obj["solution_code"];
            let solution_description = exercise_details_obj["solution_description"];

            var solutions = {};
            var descriptions = {};

            if (solution_code.length > 0) {
                solutions = JSON.parse(solution_code);
            }

            if (solution_description.length > 0) {
                descriptions = JSON.parse(solution_description);
            }

            return {solutions, descriptions};
        }

        function updateSolutionsAndDescriptions(solutions_and_descriptions) {
            exercise_details_obj["solution_code"] = "";
            exercise_details_obj["solution_description"] = "";

            if (Object.keys(solutions_and_descriptions.solutions).length > 0) {
                exercise_details_obj["solution_code"] = JSON.stringify(solutions_and_descriptions.solutions);

                if (hasAnySolutionDescriptions(solutions_and_descriptions)) {
                    exercise_details_obj["solution_description"] = JSON.stringify(solutions_and_descriptions.descriptions);
                }
            }

            showSolutionsTable();
        }

        function hasAnySolutionDescriptions(solutions_and_descriptions) {
            var has = false;

            for (const solution_option in solutions_and_descriptions.descriptions) {
                if (solutions_and_descriptions.descriptions[solution_option] != "") {
                    has = true;
                    break;
                }
            }

            return has;
        }

        function removeAnswerOption(solution_option) {
            var solutions_and_descriptions = getSolutionsAndDescriptions();

            if (solution_option in solutions_and_descriptions.solutions)
                delete solutions_and_descriptions.solutions[solution_option];

            if (solution_option in solutions_and_descriptions.descriptions)
                delete solutions_and_descriptions.descriptions[solution_option];
            
            updateSolutionsAndDescriptions(solutions_and_descriptions);
        }

        function showSolutionsTable() {
            var solutions_and_descriptions = getSolutionsAndDescriptions();

            if (solutions_and_descriptions.length == 0) {
                $("#solutions_table").addClass("is-hidden");
                return;
            }

            const table = document.createElement("table");
            table.className = "table is-striped";

            // Create table header
            const thead = document.createElement("thead");
            const headerRow = document.createElement("tr");
            ["Answer", "Correct", "Description", "Edit", "Delete"].forEach(text => {
                const th = document.createElement("th");
                th.textContent = text;
                headerRow.appendChild(th);
            });
            thead.appendChild(headerRow);
            table.appendChild(thead);

            // Create table body
            const tbody = document.createElement("tbody");

            for (const solution_option in sortObj(solutions_and_descriptions.solutions)) {
                const row = document.createElement("tr");

                // Answer cell
                const tdAnswer = document.createElement("td");
                tdAnswer.textContent = solution_option;
                row.appendChild(tdAnswer);

                // Correct cell
                const tdCorrect = document.createElement("td");
                tdCorrect.textContent = solutions_and_descriptions.solutions[solution_option] ? "Yes" : "No";
                row.appendChild(tdCorrect);

                // Description cell
                const tdDesc = document.createElement("td");
                const desc = solutions_and_descriptions.descriptions[solution_option];
                tdDesc.textContent = desc ? desc : "";
                row.appendChild(tdDesc);

                // Action cell with edit icon
                const tdEdit = document.createElement("td");
                const aEdit = document.createElement("a");
                aEdit.onclick = () => populateAnswerOptionModal(solution_option, solutions_and_descriptions.solutions[solution_option], (solution_option in solutions_and_descriptions.descriptions) ? solutions_and_descriptions.descriptions[solution_option] : "", "Update");
                const iconEdit = document.createElement("i");
                iconEdit.className = "fas fa-edit";
                aEdit.appendChild(iconEdit);
                tdEdit.appendChild(aEdit);
                row.appendChild(tdEdit);

                // Action cell with delete icon
                const tdDelete = document.createElement("td");
                const aDelete = document.createElement("a");
                aDelete.onclick = () => removeAnswerOption(solution_option);
                const iconDelete = document.createElement("i");
                iconDelete.className = "fas fa-trash-alt";
                aDelete.appendChild(iconDelete);
                tdDelete.appendChild(aDelete);
                row.appendChild(tdDelete);

                tbody.appendChild(row);
            }

            table.appendChild(tbody);

            const container = document.getElementById("solutions_table");
            container.innerHTML = "";
            container.appendChild(table);

            $("#solutions_table").removeClass("is-hidden");
        }

        function getNumAnswerOptions() {
            return Object.keys(getSolutionsAndDescriptions().solutions).length;
        }

        function getNumCorrectAnswerOptions() {
            let count = 0;
            let solutions_and_descriptions = getSolutionsAndDescriptions();

            for (const answer_option in solutions_and_descriptions.solutions) {
                count += solutions_and_descriptions.solutions[answer_option];
            }

            return count;
        }

        function showSolutionMessage(message, isError) {
            $("#solution_message").removeClass("is-hidden");

            if (isError) {
                $("#solution_message").removeClass("is-info");
                $("#solution_message").addClass("is-danger");
            }
            else {
                $("#solution_message").removeClass("is-danger");
                $("#solution_message").addClass("is-info");
            }

            $("#solution_message")[0].innerHTML = message;
            $("#solution_message")[0].scrollIntoView();
        }

        function getEditor(textAreaID, minLines, maxLines) {
            var editor = ace.edit(textAreaID, {
                theme: "ace/theme/{{ user_info['ace_theme'] }}",
                minLines: minLines,
                maxLines: maxLines,
                fontSize: "12pt"
            });

            editor.setHighlightActiveLine(false);
            editor.setShowPrintMargin(false);
            editor.session.setOption('newLineMode', 'unix');
            return(editor);
        }

        function getValue(id) {
            return $(`#${id}`)[0].value;
        }

        function setValue(id, value) {
            $(`#${id}`)[0].value = value;
        }

        function showResultMessage(messageHTML, messageType) {
            $("#result_message").removeClass("is-primary");
            $("#result_message").removeClass("is-warning");
            $("#result_message").removeClass("is-danger");

            $("#result_message").addClass(`is-${messageType}`);

            $("#result_message").removeClass("is-hidden");
            $("#result_message")[0].innerHTML = messageHTML;
            window.scrollTo(0, 0);
        }

        function showTopBottomButtons(exists) {
            if (exists) {
                $("#edit_header").removeClass("is-hidden");
                $("#create_header").addClass("is-hidden");
                $("#bottom_buttons").removeClass("is-hidden");
                $("#output").removeClass("is-hidden");
            }
            else {
                $("#edit_header").addClass("is-hidden");
                $("#create_header").removeClass("is-hidden");
                $("#bottom_buttons").addClass("is-hidden");
                $("#output").addClass("is-hidden");
            }
        }

        function load() {
            showTopBottomButtons(exercise_basics_obj["exists"]);
            setValue("title", exercise_basics_obj["title"]);

            for (let id of ["instructions", "credit"])
                setValue(id, exercise_details_obj[id]);

            for (let id of ["enable_pair_programming"])
                setValue(id, exercise_details_obj[id] ? "Yes" : "No");

            if (String(exercise_details_obj["weight"]) == String(parseInt(exercise_details_obj["weight"])))
                setValue("weight", `${exercise_details_obj["weight"]}.0`);
            else
                setValue("weight", exercise_details_obj["weight"]);

            setValue("visible", exercise_basics_obj["visible"] ? "Yes" : "No");

            updateSolutionsAndDescriptions(getSolutionsAndDescriptions());
            showFiles();

            // We are storing this in starter_code so that we don't need to create a new database field for the sandbox back end.
            if (exercise_details_obj["starter_code"] == "") {
                setValue("sandbox_back_end", "None");
            }
            else {
                setValue("sandbox_back_end", exercise_details_obj["starter_code"]);
            }
        }

        function save() {
            const title = getValue("title").trim();
            const instructions = getValue("instructions");
            const weight = getValue("weight");

            // Check submission details
            if (title == "")
                return(showResultMessage("Please provide a title.", "danger"));
            if (title.length > 80)
                return(showResultMessage("The title cannot exceed 80 characters in length.", "danger"));
            if (instructions == "")
                return(showResultMessage("Please provide instructions.", "danger"));
            if (exercise_details_obj["solution_code"] == "")
                return(showResultMessage("You must provide at least one answer option.", "danger"));
            if (getNumAnswerOptions() < 2)
                return(showResultMessage("You must provide at least two answer options.", "danger"));
            if (getNumCorrectAnswerOptions() < 1)
                return(showResultMessage("You must provide at least one answer option marked as correct.", "danger"));
            if(isNaN(weight))
                return(showResultMessage("The specified weight is not a number.", "danger"));

            var submission_obj = {
                "title": title,
                "visible": getValue("visible") == "Yes",
                "instructions": instructions,
                "enable_pair_programming": getValue("enable_pair_programming") == "Yes",
                "weight": weight,
                "credit": getValue("credit"),
                "solution_code": exercise_details_obj["solution_code"],
                "solution_description": exercise_details_obj["solution_description"],
                "max_submissions": 0,
                "data_files": exercise_details_obj["data_files"],
                "starter_code": getValue("sandbox_back_end")
            }

            showResultMessage("<b>Please wait...</b>", "warning");

            $.ajax({
                type: 'POST',
                url: "/edit_mc_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/" + exercise_basics_obj['id'],
                data: JSON.stringify(submission_obj),
                async: true})
                .done(function(data) {
                    var json_data = JSON.parse(data);

                    if (json_data["message"] == "") {
                        exercise_basics_obj["id"] = json_data["exercise_id"];
                        exercise_details_obj = json_data["exercise_details"];

                        showTopBottomButtons(true);
                        showResultMessage("<b>The exercise was saved successfully.</b>", "primary");
                    }
                    else {
                        showTopBottomButtons(true | exercise_basics_obj["exists"]);
                        showResultMessage(`<p>An error occurred.</p><pre>${json_data["message"]}</pre>`, "danger");
                    }
                })
                .fail(function(data) {
                    console.log(data);
                    showResultMessage("<p>An error occurred when connecting to the server. It may be down.</p>", "danger");
                });
        }

        $("#done_button1").click(function() {
            location.href = `/exercise/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/${exercise_basics_obj["id"]}`;
        });

        $("#done_button2").click(function() {
            location.href = `/exercise/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/${exercise_basics_obj["id"]}`;
        });

        //TODO: This is duplicated with edit_exercise.html.
        $("#view_file_modal_close").click(function() {
            $("#view_file_modal").removeClass("is-active");
        });

        //TODO: This is duplicated with edit_exercise.html.
        $("#upload_file_control").change(function() {
            (async () => {
                for (var i = 0; i < $("#upload_file_control")[0].files.length; i++) {
                    const fileName = $("#upload_file_control")[0].files[i]["name"];
                    const fileText = await $("#upload_file_control")[0].files[i].text();

                    if (Array.isArray(exercise_details_obj["data_files"])) {
                        exercise_details_obj["data_files"] = {}
                    }
                    exercise_details_obj["data_files"][fileName] = fileText;
                }

                showFiles();
            })();
        });

        // Code to run on page load
        var view_file_editor = getEditor("view_file_modal_text", 15, 15);
        ace.require("ace/ext/language_tools");

        var exercise_basics_obj = JSON.parse("{{ exercise_basics_json }}");
        var exercise_details_obj = JSON.parse("{{ exercise_details_json }}");

        load();
    </script>

    {% else %}
        This assignment has not been created yet.
    {% end %}
{% else %}
    This course has not been created yet.
{% end %}    </div>
</div>                <div class="columns is-gapless has-text-centered is-size-6 pt-4 pb-4">
                    <div class="column">
                        <a href="/static/about.html">About</a>
                    </div>
                    <div class="column">
                        <a href="https://privacy.byu.edu" target="_blank">Privacy Notice</a>
                    </div>
                    <div class="column">
                        <a href="https://infosec.byu.edu/cookie-prefs" target="_blank">Cookie Preferences</a>
                    </div>
                    <div class="column">
                        <a href="/static/contact_us.html">Contact Us</a>
                    </div>
                </div>
        </div>
    </body>
</html>