<form enctype='multipart/form-data' method="post" action="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}" id="myForm" />
{% if exercise_basics["exists"] %}
    <div class="row-container">
        <h2>Edit exercise</h2>
        <p>
            {% if result %}
                <a href="#code-output" class="right-space">View code output</a>
            {% end %}
            <input type="submit" class="button is-dark" value="Save" />
            <button class="button is-white" onclick="location.href='/exercise/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ exercise_basics["id"] }}'; return false;">Done</button>
            {% if prev_exercise %}
                <a class="button is-white" href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ prev_exercise['id'] }}">Previous exercise</a>
            {% end %}
            {% if next_exercise %}
                <a class="button is-white" href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ next_exercise['id'] }}">Next exercise</a>
            {% end %}
        </p>
    </div>
{% else %}
    <h2>Create exercise</h2>
{% end %}

{% if result %}
    {% if result.startswith("Error:") %}
        <p><div class="notification error-message"><strong>{{ result }}</strong></div></p>
    {% elif result.startswith("Code") %}
        <p><pre class="error-message">{{ result }}</pre></p>
    {% else %}
        <p><div class="notification success-message"><strong>{{ result }}</strong></div></p>
    {% end %}
{% end %}

{% if course_basics["exists"] %}
  {% if assignment_basics["exists"] %}

    <!-- Global JavaScript -->
    <script>
        function updateBackEndOptions(back_end, output_type_to_select) {
            // Clear out existing options from the dropdown
            $("#output_types").empty();

            ot_select = document.getElementById("output_types");

            $.get('/back_end/' + back_end, function( data ) {
                var json_data = JSON.parse(data);

                var i;
                for (i = 0; i < Object.keys(json_data["output_types"]).length; i++) {
                    key = Object.keys(json_data["output_types"])[i];
                    description = json_data["output_types"][key];

                    var opt = document.createElement('option');
                    opt.style.width = "50px";
                    opt.innerHTML = description;
                    opt.value = key;

                    if (output_type_to_select == '') {
                        if (key == "txt")
                            opt.selected = true;
                    }
                    else {
                        if (key == output_type_to_select)
                            opt.selected = true;
                    }

                    ot_select.appendChild(opt);
                }

                answer_code_editor.getSession().setMode(json_data["code_completion_path"]);
                starter_code_editor.getSession().setMode(json_data["code_completion_path"]);
                test_code_editor.getSession().setMode(json_data["code_completion_path"]);
            });
        }

        ace.require("ace/ext/language_tools");
    </script>

        <div class="shadow-box">
            <div class="row-container bottom-space">
                <div class="a-title-container">
                    <p><strong>Title*: </strong></p>
                    <p><textarea name="title" class="textarea is-grey is-fullwidth monospace" placeholder="Please specify a descriptive title." rows="1" autofocus>{{ exercise_basics["title"] }}</textarea></p>
                </div>
                <div class="a-visible">
                    <p><strong>Visible: </strong>
                        <div class="select is-grey">
                            <select name="is_visible" class="edit-select">
                            {% if exercise_basics["visible"] %}
                                <option value="Yes" selected>Yes</option>
                                <option value="No">No</option>
                            {% else %}
                                <option value="Yes">Yes</option>
                                <option value="No" selected>No</option>
                            {% end %}
                            </select>
                        </div>
                    </p>
                </div>
            </div>

            <div class="front-row-container">
                <div class="a-visible">
                    <p><strong>Back end: </strong>
                        <label class="is-primary has-tooltip-multiline has-tooltip-right" data-tooltip="Choose the back end (programming language environment) that will be used to check the students' solution.">
                            <i class="far fa-question-circle"></i>
                        </label>
                        <div class="select is-grey">
                            <select name="back_end" onchange="updateBackEndOptions(this.value, '')" class="edit-select">
                            {% for back_end in back_ends %}
                                <option
                                {% if back_end == exercise_details["back_end"] %}
                                    selected
                                {% end %}
                                >{{ back_end }}</option>
                            {% end %}
                            </select>
                        </div>
                    </p>
                </div>

                <div>
                    <p><strong>Output type: </strong>
                        <div class="select is-grey">
                            <select name="output_type" id="output_types" class="edit-select">
                            </select>
                        </div>
                    </p>
                </div>
            </div>

            <div class="top-space">
                <p><strong>Instructions*: </strong><br />Please use <a href="https://www.markdownguide.org/basic-syntax/" target='_blank' rel='noopener noreferrer'>Markdown syntax</a> to write instructions for this exercise.</p>
                <p><div class="textarea is-grey is-fullwidth monospace" id="instructions" placeholder="Please provide instructions for this exercise." style="min-height: 400px" contenteditable="true">{{ exercise_details["instructions"] }}</div></p>
                <textarea name="instructions" id="instructions_text" class="invisible"></textarea>
            </div>

            <div class="row-container top-space">
                <div>
                    <p><strong>Enable pair programming for this exercise: </strong>
                        <div class="select is-grey">
                            <select id="enable_pair_programming" name="enable_pair_programming" class="edit-select">
                            {% if exercise_details["enable_pair_programming"] %}
                                <option value="Yes" selected>Yes</option>
                                <option value="No">No</option>
                            {% else %}
                                <option value="Yes">Yes</option>
                                <option value="No" selected>No</option>
                            {% end %}
                            </select>
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <div class="shadow-box">
            <p><strong>Credit: </strong>
                <br />If anyone should be given credit for creating this exercise, please indicate that using <a href="https://www.markdownguide.org/basic-syntax/" target='_blank' rel='noopener noreferrer'>Markdown syntax.</a>
                <br />Please provide a link to the data source(s) if you obtained the dataset from someone else.
            </p>
            <textarea class="textarea is-grey is-fullwidth monospace" placeholder="Please write the credit statement here." rows="2" name="credit">{{ exercise_details["credit"] }}</textarea></p>

            <div id="file_upload">
                <p><strong>Data file(s): </strong>
                    <br />Optionally, you can upload data files that students will use on this exercise. To upload more than one, select multiple files in a single upload or click "Add another file". The maximum total file size is 10 megabytes across all files.
                </p>
                <div id="uploaded_files" class="uploaded-files"></div>
                <input id="file_container" name="file_container" style="display: none;"></input>
                <div id="data_file" class="file is-small has-name space-div">
                    <label class="file-label">
                        <input class="file-input" type="file" name="data" multiple>
                        <span class="file-cta">
                            <span class="file-icon">
                            <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">Choose a file…</span>
                        </span>
                        <span class="file-name"></span>
                    </label>
                </div>
            </div>
            <div id="add_file">
                <a onclick="showAddFile()">Add another file</a>
            </div>
        </div>

        <div class="shadow-box">
            <div>
                <p><strong>Solution*: </strong></p>
                <p>Please specify a solution for this exercise. If it requires programming, the solution will be executed, and the output of your solution will be used as the expected output. If the back end is "free_response," your solution itself will be used as the expected output. If the back end is "any_response," you need not enter a solution. Please note: If your solution changes after students have already submitted answers, any students' answers that were previously marked as correct will remain as correct, but only your most recent solution will appear when students view past submissions. This may be confusing to students, so use caution when changing the solution; consider creating a new exercise instead.</p>
                <textarea name="answer_code" id="answer_code" placeholder="Please provide a solution." rows="10">{{ exercise_details["answer_code"] }}</textarea>
                <!-- https://stackoverflow.com/questions/50662513/ace-editor-how-to-move-changed-data-to-post-or-get -->
                <textarea name="answer_code_text" id="answer_code_text" class="invisible"></textarea>
            </div>

            <div id="code-output">
            {% if exercise_basics["exists"] %}
                <p><strong>Output:</strong><br />

                {% if exercise_details["expected_text_output"] != "" %}
                    <p><pre><code>{{ exercise_details["expected_text_output"] }}</code></pre></p>
                {% end %}

                {% if exercise_details["expected_image_output"] != "" %}
                    <p><figure class='img'><img src='data:image/jpg;base64,{{ exercise_details["expected_image_output"] }}' width='95%' /></figure></p>
                {% end %}
            {% end %}
            </div>

            <div>
                <p><strong>Show expected output: </strong>
                    <div class="select is-grey">
                        <select name="show_expected" class="edit-select">
                        {% if exercise_details["show_expected"] %}
                            <option value="Yes" selected>Yes</option>
                            <option value="No">No</option>
                        {% else %}
                            <option value="Yes">Yes</option>
                            <option value="No" selected>No</option>
                        {% end %}
                        </select>
                    </div>
                </p>
            </div>
        </div>

        <div class="shadow-box">
            <div>
                <p><strong>Starter code: </strong></p>
                <p>Starter code will be given to a student when they haven't made any submissions yet. They'll be able to add to this code in order to solve the exercise.</p>
                <p>
                    <textarea class="textarea is-fullwidth monospace" placeholder="Please provide starter code." rows="10" id="starter_code" name="starter_code">{% if exercise_details["starter_code"] %}{{ exercise_details["starter_code"] }}{% end %}</textarea>
                    <textarea name="starter_code_text" id="starter_code_text" class="invisible"></textarea>
                </p>
            </div>
        </div>

        <div class="shadow-box">
            <div>
                <p><strong>Test code: </strong></p>
                <p>Test code can be used to run one or more tests using the student's code. It helps test the integrity of their code rather than its ability to produce the expected output.</p>
                <p>
                    <textarea class="textarea is-fullwidth monospace" placeholder="Please provide test code." rows="10" id="test_code" name="test_code">{{ exercise_details["test_code"] }}</textarea>
                    <textarea name="test_code_text" id="test_code_text" class="invisible"></textarea>
                </p>
            </div>

            <div>
                <p><strong>Show test code: </strong>
                    <div class="select is-grey">
                        <select name="show_test_code" class="edit-select">
                        {% if exercise_details["show_test_code"] %}
                            <option value="Yes" selected>Yes</option>
                            <option value="No">No</option>
                        {% else %}
                            <option value="Yes">Yes</option>
                            <option value="No" selected>No</option>
                        {% end %}
                        </select>
                    </div>
                </p>
            </div>
        </div>

        <div class="shadow-box">
            <div class="space-div">
                <p><strong>Hint:</strong><br />Please use <a href="https://www.markdownguide.org/basic-syntax/" target='_blank' rel='noopener noreferrer'>Markdown syntax</a> to write an <em>optional</em> hint for this exercise.</p>
                <p><textarea class="textarea is-grey is-fullwidth monospace" placeholder="Please write in Markdown." rows="3" name="hint">{{ exercise_details["hint"] }}</textarea></p>
            </div>

            <div class="bottom-space">
                <p><strong>Solution description:</strong><br />Please use <a href="https://www.markdownguide.org/basic-syntax/" target='_blank' rel='noopener noreferrer'>Markdown syntax</a> to write a tutorial that describes your solution to this exercise.</p>
                <p><textarea class="textarea is-grey is-fullwidth monospace" placeholder="Please write in Markdown." rows="5" name="answer_description">{{ exercise_details["answer_description"] }}</textarea></p>
            </div>

            <div class="row-container bottom-space">
                <div>
                    <p><strong>Allow students to view the instructor's solution after they pass the exercise: </strong>
                        <div class="select is-grey">
                            <select name="show_answer" class="edit-select" onchange="showStudentSubmissionsDiv(this.value)">
                            {% if exercise_details["show_answer"] %}
                                <option value="Yes" selected>Yes</option>
                                <option value="No">No</option>
                            {% else %}
                                <option value="Yes">Yes</option>
                                <option value="No" selected>No</option>
                            {% end %}
                            </select>
                        </div>
                    </p>
                </div>
            </div>

            <div class="row-container bottom-space">
                <div>
                    <p><strong>Allow students to see submissions from other students: </strong>
                        <div class="select is-grey">
                            <select name="show_student_submissions" id="show_student_submissions" class="edit-select">
                            {% if exercise_details["show_student_submissions"] %}
                                <option value="Yes" selected>Yes</option>
                                <option value="No">No</option>
                            {% else %}
                                <option value="Yes">Yes</option>
                                <option value="No" selected>No</option>
                            {% end %}
                            </select>
                        </div>
                    </p>
                </div>
            </div>

            <div class="row-container bottom-space">
                <div>
                    <p><strong>Maximum # of submissions:</strong></p>
                    <p>
                        <div class="select is-grey">
                            <select name="max_submissions" class="edit-select">
                            {% for i in range(101) %}
                                {% if i == 0 %}
                                    {% if exercise_details["max_submissions"] == i %}
                                        <option value="0" selected>Unlimited</option>
                                    {% else %}
                                        <option value="0">Unlimited</option>
                                    {% end %}
                                {% else %}
                                    {% if exercise_details["max_submissions"] == i %}
                                        <option selected>{{ i }}</option>
                                    {% else %}
                                        <option>{{ i }}</option>
                                    {% end %}
                                {% end %}
                            {% end %}
                            </select>
                        </div>
                    </p>
                </div>
            </div>
        </div>

        <p><input type="submit" class="button is-dark is-medium is-fullwidth" value="Save" /></p>

        <p>
        {% if exercise_basics["exists"] %}
            <a href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}">Done</a> |
        {% end %}
            <a href="#top">Back to top</a>
        </p>

        <!-- Code to modify page behavior at the end of loading -->
        <script>
            var answer_code_editor = ace.edit("answer_code", {
                theme: "ace/theme/{{ user_info['ace_theme'] }}",
                autoScrollEditorIntoView: true,
                minLines: 10,
                maxLines: 25,
                fontSize: "12pt"
            });

            var starter_code_editor = ace.edit("starter_code", {
                theme: "ace/theme/{{ user_info['ace_theme'] }}",
                autoScrollEditorIntoView: true,
                minLines: 10,
                maxLines: 15,
                fontSize: "12pt"
            });

            var test_code_editor = ace.edit("test_code", {
                theme: "ace/theme/{{ user_info['ace_theme'] }}",
                autoScrollEditorIntoView: true,
                minLines: 10,
                maxLines: 15,
                fontSize: "12pt"
            });

            updateBackEndOptions('{{ exercise_details["back_end"] }}', '{{ exercise_details["output_type"] }}');

            document.getElementById("myForm").onsubmit = function(evt) {
                document.getElementById("answer_code_text").value = answer_code_editor.getValue();
                document.getElementById("starter_code_text").value = starter_code_editor.getValue();
                document.getElementById("test_code_text").value = test_code_editor.getValue();
                document.getElementById("instructions_text").value = document.getElementById("instructions").innerHTML
            }

            var index = 1;

            function showAddFile() {
                var file_div = document.createElement("div");
                file_div.classList.add("file", "is-small", "has-name", "space-div");

                var file_label = document.createElement("label");
                file_label.className = "file-label";

                var file_input = document.createElement("input");
                file_input.className = "file-input";
                file_input.setAttribute("name", "data" + index);
                index += 1;
                file_input.type = "file";
                file_input.multiple = true;
                file_label.appendChild(file_input);

                var file_span = document.createElement("span");
                file_span.className = "file-cta";

                var icon_span = document.createElement("span");
                icon_span.className = "file-icon";
                var icon = document.createElement("i");
                icon.classList.add("fas", "fa-upload");
                icon_span.appendChild(icon);
                file_span.appendChild(icon_span);

                var label_span = document.createElement("span");
                label_span.className = "file-label";
                label_span.innerHTML = "Choose a file...";
                file_span.appendChild(label_span);
                file_label.appendChild(file_span);

                var name_span = document.createElement("span");
                name_span.className = "file-name";
                file_label.appendChild(name_span);

                file_div.appendChild(file_label);

                var file_upload_div = document.getElementById("file_upload");
                file_upload_div.appendChild(file_div);

                updateFiles();
            }

            const container = document.querySelector("#file_upload");

            {% if exercise_details["data_files"] != "" %}
                // add previously uploaded files to the page
                data_file_div = document.getElementById("data_file");
                data_file_div.style.display = "none";
                var uploaded_files = JSON.parse('{{ json_files }}');
                var file_container = document.getElementById("file_container");
                file_container.value = JSON.stringify(uploaded_files);

                upload_div = document.getElementById("uploaded_files");
                for (let i = 0; i < {{ len(exercise_details["data_files"]) }}; i++) {
                    var file_div = document.createElement("div");
                    file_div.setAttribute("class", "uploaded-file");
                    file_div.setAttribute("id", i);

                    var text = document.createElement("p");
                    text.setAttribute("class", "file-text");

                    // sort data files alphabetically by file name
                    var file_name = document.createTextNode({{ sorted(exercise_details["data_files"], key=str.lower) }}[i]);
                    text.appendChild(file_name);

                    var d_button = document.createElement("button");
                    d_button.classList.add("button", "is-small", "is-primary", "is-inverted");
                    d_button.textContent = "X";

                    d_button.addEventListener("click", function(event) {
                        event.preventDefault();
                        delete uploaded_files[{{ sorted(exercise_details["data_files"], key=str.lower) }}[i]];
                        file_container.value = JSON.stringify(uploaded_files);

                        var file_div_to_remove = document.getElementById(i);
                        file_div_to_remove.style.display = "none";
                    });

                    file_div.appendChild(text);
                    file_div.appendChild(d_button);
                    upload_div.appendChild(file_div);
                }
            {% end %}

            updateFiles();

            function updateFiles() {
                var files = container.querySelectorAll("div.file");

                files.forEach(function(file) {
                    var fileInput = file.querySelector("input");
                    var fileName = file.querySelector("span.file-name");

                    fileInput.onchange = () => {
                        if (fileInput.files.length == 1) {
                            fileName.textContent = fileInput.files[0].name;
                        }
                        else if (fileInput.files.length > 1) {
                            fileName.textContent = fileInput.files.length + " files";
                        }
                    }
                });
            }

          $('div[contenteditable]').bind('paste', function(e) {
            if (e.originalEvent.clipboardData.items[0].kind != "string") {
            	var data = e.originalEvent.clipboardData.items[0].getAsFile()
            	var elem = this;
            	var fr = new FileReader;

            	fr.onloadend = function() {
            	  var img = new Image;
            	  img.src = fr.result;
            	  img.onload = function() {
            		  $(elem).append(img);
            	  };
            	};

            	fr.readAsDataURL(data);
            	e.preventDefault();
            }
          });

        </script>
        </form>
    {% else %}
        This assignment has not been created yet.
    {% end %}
{% else %}
    This course has not been created yet.
{% end %}
