<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="CodeBuddy">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <link rel="stylesheet" href="/static/bulma.0.9.3.min.css">
        <link rel="stylesheet" href="/static/css/mystyles.css">
        <link rel="stylesheet" href="/static/css/bulma-tooltip.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/font-awesome.5.3.1.all.min.js"
            integrity="sha512-IJcmeopmq+pfSnTIIqxay7uUBlIYP+f9wnqhfCMnfS5VOb2X9WDToczDCsbgXthcZZTNGbJyF+TvKSYGWeBpdQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" data-observe-mutations></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/js/all.min.js"
            integrity="sha512-IJcmeopmq+pfSnTIIqxay7uUBlIYP+f9wnqhfCMnfS5VOb2X9WDToczDCsbgXthcZZTNGbJyF+TvKSYGWeBpdQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" data-observe-mutations></script>-->
        <script
            src="/static/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <!--<script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>-->

        <title>CodeBuddy</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
            rel="stylesheet">

        <style type="text/css" media="screen">
            .ace_editor {
                border: 1px solid lightgray;
                margin: auto;
                height: 500px;
                width: 100%;
            }

            .scrollmargin {
                height: 80px;
                text-align: center;
            }
        </style>
    </head>

    <body>
            <div>
<script>
    const toggleBurger = () => {
        let burgerIcon = document.getElementById('burger');
        let dropMenu = document.getElementById('the_menu');
        burgerIcon.classList.toggle('is-active');
        dropMenu.classList.toggle('is-active');
    };

    // $(document).ready(function() {
    //     // Function to check if the navbar contents are wider than the available space
    //     function isNavbarOverflowed() {
    //         return $('.navbar-menu').prop('scrollWidth') > $('.navbar-menu').width();
    //     }

    //     // Function to toggle the burger icon and menu based on screen width and contents
    //     function toggleNavbar() {
    //         if ($(window).width() > 1224 && isNavbarOverflowed()) {
    //             $('.navbar-burger').show();
    //             $('.navbar-menu').hide();
    //         } else {
    //             $('.navbar-burger').hide();
    //             $('.navbar-menu').show();
    //         }
    //     }

    //     // Initial toggle when the page loads
    //     toggleNavbar();

    //     $(window).resize(function() {
    //         toggleNavbar();
    //     });

    //     // Toggle the navbar when the burger icon is clicked
    //     $('.navbar-burger').click(function() {
    //         $('.navbar-menu').toggle();
    //     });
    // });
    
    function toggleDropdown(div_id) {
        var element = document.getElementById(div_id);
        element.classList.toggle('is-active');
    }

    window.addEventListener('click', function(e) {
        for (menu of ["course", "assignment", "exercise", "menu"]) {
            var dropdown = document.getElementById(`${menu}_dropdown`);

            if (dropdown == null)
                continue;

            if (!dropdown.contains(e.target) && dropdown.classList.contains("is-active"))
                dropdown.classList.remove("is-active");
        }
    });
</script>

<nav id="navbar" class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation" style="border-radius: 0px; padding: 1px; box-shadow: 3px 3px 6px lightgray;">
    <div class="navbar-brand" style="padding: 3px 0px 0px 0px;">
        <a href="/" id="navbar-start">CodeBuddy <i class="fa fa-home" style="padding: 0 .3em; width:auto;" aria-hidden="true"></i></a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="burger" onclick="toggleBurger()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu is-size-5" id="the_menu">
        <div class="navbar-start">            {% if len(courses) > 1 and "course_basics" in globals() and course_basics["exists"] %}
                <div id="course_dropdown" class="navbar-item has-dropdown" onclick="toggleDropdown('course_dropdown')">
                    <div class="navbar-item is-arrowless" style="cursor: pointer;">
                        Courses

                        <i class="fas fa-chevron-down" style="margin-left: 10px;margin-right: 10px;"></i>
                    </div>

                    <div id="moreDropdown" class="navbar-dropdown">
                        {% for course in courses %}
                            {% if course[0] == course_basics['id'] %}
                                <a class="navbar-item" style="background-color: #003DA5; color: white; white-space: nowrap;"
                            {% else %}
                                <a class="navbar-item" style="white-space: nowrap;"
                            {% end %}

                            {% if "is_edit_page" in globals() and is_edit_page == True %}
                                href="/edit_course/{{ course[0] }}"
                            {% else %}
                                href="/course/{{ course[0] }}"
                            {% end %}
                            
                            >
                            
                            {{ course[1]["title"] }}
                        
                            </a>
                        {% end %}
                    </div>
                </div>
            {% end %}{% if "assignment_statuses" in globals() and len(assignment_statuses) > 1 and "assignment_basics" in globals() and assignment_basics["exists"] %}
    <div id="assignment_dropdown" class="navbar-item has-dropdown" onclick="toggleDropdown('assignment_dropdown')">
        <div class="navbar-item is-arrowless" style="cursor: pointer;">
            Assignments

            <i class="fas fa-chevron-down" style="margin-left: 10px;margin-right: 10px;"></i>
        </div>

        <div id="moreDropdown" class="navbar-dropdown">
            {% set prev_assignment_group = None %}
            {% set non_other_assignment_group = False %}

            {% for assignment in assignment_statuses %}
                {% set current_assignment_group = assignment[1] %}

                {% if current_assignment_group != "" %}
                    {% set non_other_assignment_group = True %}
                {% end %}

                {% if current_assignment_group != prev_assignment_group and non_other_assignment_group %}
                    <div class="navbar-item has-text-weight-bold" style="padding-top: 10px; padding-bottom: 5px;">
                        {% if current_assignment_group == "" %}
                            Other
                        {% else %}
                            {{ current_assignment_group }}
                        {% end %}                        
                    </div>

                    {% set prev_assignment_group = current_assignment_group %}
                {% end %}

                {% if assignment[0] == assignment_basics['id'] %}
                    <a class="navbar-item" style="background-color: #003DA5; color: white; white-space: nowrap;"
                {% else %}
                    <a class="navbar-item" style="white-space: nowrap;"
                {% end %}

                {% if "is_edit_page" in globals() and is_edit_page == True %}
                    href="/edit_assignment/{{ course_basics['id'] }}/{{ assignment[0] }}"
                {% else %}
                    href="/assignment/{{ course_basics['id'] }}/{{ assignment[0] }}"
                {% end %}
                >

                {% if assignment[2]["completed"] %}
                    <i class="far fa-check-circle"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i>
                {% elif assignment[2]["in_progress"] %}
                    <i class="far fa-hourglass"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i>
                {% elif assignment[2]["timer_has_ended"] %}
                    <!-- <i class="far fa-clock"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i> -->
                    <i class="far fa-check-circle"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i>
                {% else %}
                    <i class="far fa-circle"
                    
                    {% if assignment[0] == assignment_basics['id'] %}
                        style="color: white;"
                    {% end %}

                    ></i>
                {% end %}
                
                &nbsp;
                
                {{ assignment[2]["title"] }}
            
                </a>
            {% end %}
        </div>
    </div>
{% end %}            </div>
            <div class="navbar-end">
                <div id="menu_dropdown" class="navbar-item has-dropdown" onclick="toggleDropdown('menu_dropdown')">
                    <div class="navbar-item is-arrowless" style="cursor: pointer;">
                        {{ user_info["given_name"] }}
                        <i class="fas fa-chevron-down" style="margin-left: 10px;"></i>
                    </div>

                    <div class="navbar-dropdown is-size-5 is-right">
                        <a class="navbar-item" href="/">Courses</a>

                        <a class="navbar-item" href="/my_profile/{{ user_info['user_id'] }}">My profile</a>

                        <a class="navbar-item" href="/preferences/{{ user_info['user_id'] }}">Preferences</a>

                        {% if is_administrator %}
                            <hr class="navbar-divider">

                            <a class="navbar-item" href="/edit_course/">Create course</a>

                            <a class="navbar-item" href="/manage_admins">Manage admins</a>

                            <a class="navbar-item" href="/manage_users">Manage users</a>

                            <a class="navbar-item" href="/summarize_logs">View logs</a>

                            <a class="navbar-item" href="/clean_up_courses">Clean up courses</a>
                        {% end %}

                        <hr class="navbar-divider">

                        <a class="navbar-item" href="/logout">Log out</a>
                    </div>
                </div>
            </div>        </div>
    </div>
</nav><div class="has-background-light container-padding">
    <div class="content is-medium"><form method="post" action="/edit_course/{{ course_basics['id'] }}" id="courseForm">

{% if course_basics["exists"] %}
<div class="row-container">
    <h4>Edit course</h4>
    <p>
        <input type="submit" class="button is-dark" value="Save" />
        <a class="button is-white" href="/course/{{ course_basics['id'] }}">Course home</a>
    </p>
</div>
{% else %}
    <h4>Create course</h4>
{% end %}

{% if result %}
    {% if result.startswith("Error:") %}
        <p><div class="notification is-danger"><strong>{{ result }}</strong></div></p>
    {% else %}
        <p><div class="notification is-primary"><strong>{{ result }}</strong></div></p>
    {% end %}
{% end %}

<div class="shadow-box">
    <div class="row-container">
        <div class="a-title-container">
            <p><strong>Title*: </strong></p>
            <p><textarea name="title" class="textarea is-grey is-medium monospace" placeholder="Please specify a descriptive title for this course." rows="1" autofocus>{{ course_basics["title"] }}</textarea></p>
        </div>

        <div class="a-visible top-space">
            <p><strong>Visible to students: </strong>
                <div class="select is-grey">
                    <select name="is_visible" class="edit-select">
                    {% if course_basics["visible"] %}
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                    {% else %}
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    {% end %}
                    </select>
                </div>
            </p>
        </div>
    </div>

    <div class="top-space">
        <p><strong>Introduction*: </strong></p>
        <p><textarea class="textarea" name="introduction" rows=10 placeholder="Please provide an introduction for this course.">{{ course_details["introduction"] }}</textarea></p>
    </div>
</div>

<div class="shadow-box">
    <div class="a-visible">
        <p>
            <strong>Highlight this course on the registration page?</strong>
            
            <br />
            
            This option can only be enabled by users with administrator privileges.
        </p>

        <div class="select is-grey">
            <select name="highlighted" class="edit-select">
                {% if course_details["highlighted"] %}
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                {% else %}
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                {% end %}
            </select>
        </div>
    </div>
</div>

<div class="shadow-box">
    <div class="a-visible">
        <p>
            <strong>Support email address:</strong>
            
            <br />
            
            If you would like, you can provide an email address. If question-answering is supported for any assignment in the course, students' questions will be sent to the specified email address. You will then be able to review the questions and respond to them via a Web interface. This option also requires that an SMTP server be specified in the app's settings file.
        </p>

        <div>
            <input class="input"
                type="text"
                name="email_address"
                value="{{ course_details['email_address'] if course_details['email_address'] else '' }}"
                placeholder="Please enter a valid email address." />
        </div>
    </div>
</div>

<div class="shadow-box">
    <div class="a-visible top-space">
        <p><strong>Allow students to download their code for this course?</strong>
        <br />With this option, students are allowed to download their code for all assignments and exercises in this course as a single HTML file. The file includes their <i>latest, passing</i> submission for each exercise. To provide context, assignment introductions and exercise instructions are provided. Timed assignments, hidden assignments, and non-code exercises are excluded.</p>
            <div class="select is-grey">
                <select name="allow_students_download_submissions" class="edit-select">
                {% if course_details["allow_students_download_submissions"] %}
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                {% else %}
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                {% end %}
                </select>
            </div>
        </p>
    </div>
</div>

<div class="shadow-box">
    <p><strong>Passcode (optional): </strong><br/>Students are required to enter this code in order to register for the course.</p>
    <p><textarea name="passcode" class="textarea is-grey is-medium is-fullwidth monospace" rows="1">{% if course_details["passcode"] %}{{ course_details["passcode"] }}{% end %}</textarea></p>
</div>

<div class="shadow-box">
    <p><strong>Virtual Assistant configuration (optional): </strong><br/>This feature is currently <em>experimental</em>. The goal is to automate the process of helping students when they are stuck on programming exercises. It uses the <em>Chat Completions</em> endpoint of <a href="https://platform.openai.com/docs/guides/gpt/chat-completions-api" target="_blank">OpenAI's API</a> (similar to what is used by ChatGPT). To enable this feature, you must specify configuration information in YAML format, as shown in <a href="https://github.com/srp33/CodeBuddy/blob/master/examples/openai_example.yaml" target="_blank">this example</a>. Then you must indicate whether this feature is enabled in the settings for <em>each assignment</em>.

    <p><textarea name="virtual_assistant_config" class="textarea is-grey is-medium is-fullwidth monospace" rows="5">{% if course_details["virtual_assistant_config"] %}{{ course_details["virtual_assistant_config"] }}{% end %}</textarea></p>
</div>

<div class="shadow-box">
    <p><strong>Templates</strong></p>
    <p>Here you can create, edit, and delete template text, each associated with a name. Then within your assignment and introductions, you can specify the template name (surrounded by squiggly brackets) to use the template text.</p>
    <link rel="stylesheet" href="/static/css/modal.css">

    <div id="templates-bootstrap" data-b64="{{ course_templates_b64 }}" style="display:none"></div>

    <div class="table-container" style="margin-bottom: 0;">
        <table class="table is-striped" id="templates_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Text</th>
                    <th style="text-align: center;">Edit</th>
                    <th style="text-align: center;">Delete</th>
                </tr>
            </thead>
            <tbody id="templates_table_body"></tbody>
        </table>
        <p id="no_templates_message" class="is-hidden"><em>No templates have been created.</em></p>
    </div>

    <p class="top-space" id="add_template_button_row">
        <button type="button" class="button is-light" id="add-template-button">Add template</button>
    </p>

    <input type="hidden" name="templates_json" id="templates_json" value="{}" />

    <div id="template_modal" class="modal" style="padding-top: 0;">
        <div class="modal-content" style="margin: 0 auto; width: 90%; max-width: 800px;">
            <span class="close" id="template_modal_close">&times;</span>
            <h4 id="template_modal_title">Add template</h4>

            <div class="field">
                <label class="label">Name</label>
                <input class="input monospace" type="text" id="template_modal_name" placeholder="e.g. disclaimer" />
            </div>

            <div class="field">
                <label class="label">Text</label>
                <textarea class="textarea monospace" id="template_modal_text" rows="8" placeholder="Template content"></textarea>
            </div>

            <div id="template_modal_error" class="notification is-danger is-hidden"></div>

            <p class="buttons">
                <button type="button" class="modal-button button is-dark" id="template_save_button">Save</button>
                <button type="button" class="modal-button button is-light" id="template_cancel_button">Cancel</button>
            </p>
        </div>
    </div>

    <script>
    (function () {
        var templatesObj = {};
        var hiddenJson = document.getElementById("templates_json");
        var boot = document.getElementById("templates-bootstrap");
        var templatesTableBody = document.getElementById("templates_table_body");
        var noTemplatesMessage = document.getElementById("no_templates_message");
        var addTemplateButtonRow = document.getElementById("add_template_button_row");

        var modal = document.getElementById("template_modal");
        var closeBtn = document.getElementById("template_modal_close");
        var cancelBtn = document.getElementById("template_cancel_button");
        var saveBtn = document.getElementById("template_save_button");

        var modalTitle = document.getElementById("template_modal_title");
        var nameInput = document.getElementById("template_modal_name");
        var textInput = document.getElementById("template_modal_text");
        var errorEl = document.getElementById("template_modal_error");

        var addButton = document.getElementById("add-template-button");
        var currentEditingName = null;
        var templateNameRegex = /^[A-Za-z][A-Za-z0-9_]*$/;

        function syncHiddenJson() {
            hiddenJson.value = JSON.stringify(templatesObj);
        }

        function setModalError(message) {
            if (!errorEl) return;
            errorEl.innerHTML = message;
            errorEl.classList.remove("is-hidden");
        }

        function clearModalError() {
            if (!errorEl) return;
            errorEl.innerHTML = "";
            errorEl.classList.add("is-hidden");
        }

        function validateTemplateName() {
            var nm = nameInput.value.trim();
            if (nm === "") {
                return { ok: false, message: "Please provide a template name." };
            }
            if (!templateNameRegex.test(nm)) {
                return { ok: false, message: "Template names must start with a letter and contain only letters, digits, and underscores." };
            }
            var nameBelongsToAnotherTemplate = templatesObj.hasOwnProperty(nm) && (currentEditingName === null || nm !== currentEditingName);
            if (nameBelongsToAnotherTemplate) {
                return { ok: false, message: "A template with that name already exists. Please choose a different name for the template you are adding or editing." };
            }
            return { ok: true, name: nm };
        }

        function validateTemplateText() {
            var txt = (textInput.value || "").trim();
            if (txt === "") {
                return { ok: false, message: "Please provide template text." };
            }
            if (txt.indexOf("{") !== -1 || txt.indexOf("}") !== -1) {
                return { ok: false, message: "Template text cannot contain squiggly brackets." };
            }
            return { ok: true };
        }

        function previewText(text) {
            var t = (text === undefined || text === null) ? "" : String(text);
            // Show only the first 20 words (no scrolling), and append an ellipsis if truncated.
            var words = t.trim().split(/\s+/).filter(function (w) { return w.length > 0; });
            if (words.length <= 20) return t;
            return words.slice(0, 20).join(" ") + "…";
        }

        function renderTemplatesTable() {
            if (!templatesTableBody) return;

            templatesTableBody.innerHTML = "";

            var keys = Object.keys(templatesObj || {});
            keys.sort();

            var hasAny = keys.length > 0;
            if (noTemplatesMessage) {
                if (hasAny) noTemplatesMessage.classList.add("is-hidden");
                else noTemplatesMessage.classList.remove("is-hidden");
            }
            if (addTemplateButtonRow) {
                addTemplateButtonRow.style.marginTop = hasAny ? "15px" : "25px";
            }

            for (var i = 0; i < keys.length; i++) {
                (function () {
                    var name = keys[i];
                    var text = templatesObj[name];

                    var tr = document.createElement("tr");

                    var tdName = document.createElement("td");
                    tdName.textContent = name;
                    tr.appendChild(tdName);

                    var tdText = document.createElement("td");
                    tdText.textContent = previewText(text);
                    tdText.title = (text === undefined || text === null) ? "" : String(text);
                    tr.appendChild(tdText);

                    var tdEdit = document.createElement("td");
                    tdEdit.style.textAlign = "center";
                    var editLink = document.createElement("a");
                    editLink.href = "#";
                    editLink.title = "Edit template";
                    editLink.innerHTML = "<i class=\"far fa-edit\"></i>";
                    editLink.onclick = function (e) {
                        e.preventDefault();
                        openEditModal(name);
                    };
                    tdEdit.appendChild(editLink);
                    tr.appendChild(tdEdit);

                    var tdDelete = document.createElement("td");
                    tdDelete.style.textAlign = "center";
                    var deleteLink = document.createElement("a");
                    deleteLink.href = "#";
                    deleteLink.title = "Delete template";
                    deleteLink.innerHTML = "<i class=\"far fa-trash-alt\"></i>";
                    deleteLink.onclick = function (e) {
                        e.preventDefault();
                        delete templatesObj[name];
                        syncHiddenJson();
                        renderTemplatesTable();
                    };
                    tdDelete.appendChild(deleteLink);
                    tr.appendChild(tdDelete);

                    templatesTableBody.appendChild(tr);
                })();
            }
        }

        function closeModal() {
            if (!modal) return;
            modal.style.display = "none";
            currentEditingName = null;
            clearModalError();
            if (nameInput) nameInput.classList.remove("is-danger");
        }

        function openModalAndCenter() {
            // Ensure consistent vertical centering regardless of first-open/layout changes.
            modal.style.display = "flex";
            modal.style.alignItems = "center";
            modal.style.justifyContent = "center";
        }

        function openAddModal() {
            currentEditingName = null;
            modalTitle.textContent = "Add template";
            nameInput.value = "";
            textInput.value = "";
            clearModalError();
            nameInput.classList.remove("is-danger");
            openModalAndCenter();
            setTimeout(function () {
                nameInput.focus();
            }, 0);
        }

        function openEditModal(name) {
            currentEditingName = name;
            modalTitle.textContent = "Edit template";
            nameInput.value = name;
            textInput.value = templatesObj[name] || "";
            clearModalError();
            nameInput.classList.remove("is-danger");
            openModalAndCenter();
            setTimeout(function () {
                nameInput.focus();
                nameInput.selectionStart = nameInput.selectionEnd = nameInput.value.length;
            }, 0);
        }

        addButton.onclick = openAddModal;
        closeBtn.onclick = closeModal;
        cancelBtn.onclick = closeModal;
        window.addEventListener("click", function (event) {
            if (event.target === modal) closeModal();
        });

        nameInput.addEventListener("input", function () {
            var trimmed = nameInput.value.trim();
            if (trimmed === "") {
                clearModalError();
                nameInput.classList.remove("is-danger");
                return;
            }

            var validation = validateTemplateName();
            if (!validation.ok) {
                setModalError(validation.message);
                nameInput.classList.add("is-danger");
                return;
            }

            clearModalError();
            nameInput.classList.remove("is-danger");
        });

        saveBtn.onclick = function () {
            var validation = validateTemplateName();
            if (!validation.ok) {
                setModalError(validation.message);
                nameInput.classList.add("is-danger");
                return;
            }

            var textValidation = validateTemplateText();
            if (!textValidation.ok) {
                setModalError(textValidation.message);
                nameInput.classList.remove("is-danger");
                return;
            }

            nameInput.classList.remove("is-danger");
            clearModalError();

            var newName = validation.name;
            var newText = textInput.value || "";

            if (currentEditingName !== null && newName !== currentEditingName) {
                delete templatesObj[currentEditingName];
            }

            templatesObj[newName] = newText;
            syncHiddenJson();
            renderTemplatesTable();
            closeModal();
        };

        // Keep templates_json synced even if the user never opens the modal again.
        var courseForm = document.getElementById("courseForm");
        courseForm.addEventListener("submit", function () {
            syncHiddenJson();
        });

        if (boot && boot.dataset && boot.dataset.b64) {
            try {
                templatesObj = JSON.parse(atob(boot.dataset.b64)) || {};
            } catch (e) {
                templatesObj = {};
            }
        }

        renderTemplatesTable();
        syncHiddenJson();
    })();
    </script>
</div>

<p class="buttons">
    <input type="submit" class="button is-dark is-half-width" value="Save" />

    {% if course_basics["exists"] %}
        <a class="button is-white" href="/course/{{ course_basics['id'] }}">Course home</a>
    {% end %}
</p>

</form>    </div>
</div>                <div class="columns is-gapless has-text-centered is-size-6 pt-4 pb-4">
                    <div class="column">
                        <a href="/static/about.html">About</a>
                    </div>
                    <div class="column">
                        <a href="https://privacy.byu.edu" target="_blank">Privacy Notice</a>
                    </div>
                    <div class="column">
                        <a href="https://infosec.byu.edu/cookie-prefs" target="_blank">Cookie Preferences</a>
                    </div>
                    <div class="column">
                        <a href="/static/contact_us.html">Contact Us</a>
                    </div>
                </div>
        </div>
    </body>
</html>