            <link rel="stylesheet" href="/static/modal.css">

            <script>
                function get_user_code() {
                    user_code = editor.getSelectedText().trim();

                    if (user_code == "")
                        user_code = editor.getValue().trim();

                    return user_code;
                }

                function run_code() {
                    user_code = get_user_code();
                    if (user_code == "")
                        return false;

                    hideMessages();
                    showWaitMessage();

                    $.ajax({
                        type: 'POST',
                        url: "/run_code/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}",
                        data: {"user_code": user_code},
                        async: true})
                        .done(function(result) {
                            var response_dict = JSON.parse(result);

                            if (response_dict["message"] == "") {
                                hideMessages();
                                showTestOutputs(response_dict["test_outputs"]);

                                if (response_dict["all_passed"])
                                    showInfoMessage("Be sure to click on Submit so your solution and score will be saved.");
                            }
                            else
                                showErrorMessage(response_dict["message"]);
                        })
                        .fail(function(result) {
                            showErrorMessage(result);
                        });

                    editor.focus();
                    return false;
                }

                function submit() {
                    user_code = get_user_code();
                    if (user_code == "") {
                        return false;
                    }

                    hideMessages();
                    showWaitMessage();

                    let partner_id = $("#partner_id")[0].value == "" ? null : $("#partner_id")[0].value;
                    post_data = { "partner_id": partner_id, "user_code": user_code, "date": new Date().toLocaleString("en-US", {timeZone: "UTC"})};

                    $.ajax({
                        type: 'POST',
                        url: "/submit/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}",
                        data: post_data,
                        async: true})
                        .done(function(result) {
                            var response_dict = JSON.parse(result);

                            if (response_dict["message"] == "") {
                                hideMessages();
                                showTestOutputs(response_dict["test_outputs"]);
                                submissions[response_dict["submission_id"]]["test_outputs"] = response_dict["test_outputs"]

                                if (response_dict["all_passed"])
                                    showSuccessMessage();
                                    show_past_submission_buttons();
                                else
                                    showNotPassingMessage(response_dict["test_outputs"].length);
                            }
                            else {
                                showErrorMessage(response_dict["message"]);
                            }
                        })
                        .fail(function(result) {
                            showErrorMessage(result);
                        });

                    editor.focus();


//                    $.post("/submit/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}",
                    //await $.post("/submit/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}",
//                        post_data,
//
 //                       function(data, status) {
 //                           json_data = JSON.parse(data);
 //                           display_results(json_data);
 
//                            if (json_data.submission_id != "") {
//                                last_submission_id = json_data.submission_id;

//                                {% if exercise_details["max_submissions"] > 0 %}
//                                    document.getElementById("num_submissions").innerHTML = last_submission_id;

//                                    if (last_submission_id >= {{ exercise_details["max_submissions"] }})
//                                        document.getElementById("submit_button").disabled = true;
//                                {% end %}
//                            }
//                        });

                    //await show_past_submission_buttons();
//                    show_past_submission_buttons();
                    return false;
                }

                function showWaitMessage() {
                    $("#result_message")[0].innerHTML = "<div class='notification is-warning'>Please wait while your solution is being executed...</div>";
                    $("#result_message")[0].scrollIntoView();
                }

                 function hideMessages() {
                    $("#result_message")[0].innerHTML = "";
                    $("#test_outputs")[0].innerHTML = "";
                }

                function showSuccessMessage() {
                    {% if exercise_details["allow_any_response"] %}
                        let message = "Thank you for your submission.";
                    {% else %}
                        {% if len(exercise_details["tests"]) == 1 %}
                            var message = "Congratulations! Your solution passes the test.";
                        {% else %}
                            var message = "Congratulations! Your solution passes all of the tests.";
                        {% end %}
                    {% end %}

                    var result = "<div class='notification success-message' style='color:white'><p><strong>" + message + "</strong></p>";

                    {% if exercise_details["show_peer_solutions"] %}
                        result += "<p><a class='grey-text' href='/view_answer/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}'>View other students' solutions</a></p>";
                    {% elif exercise_details["show_instructor_solution"] and (exercise_details["solution_code"] != "" or exercise_details["solution_description"] != "") %}
                        result += "<p><a class='grey-text' href='/view_answer/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}'>View the instructor's solution</a></p>";
                    {% end %}

                    {% if next_exercise %}
                        result += "<p><a class='grey-text' href='/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ next_exercise['id'] }}'>Next exercise</a></p>\n\n";
                    {% end %}

                    result += "</div>"

                    $("#result_message")[0].innerHTML = result;
                }

                function showNotPassingMessage(num_tests) {
                    var message = "Your solution does not yet pass the test";

                    if (num_tests > 1)
                        message += "s";
                    
                    message += ". Keep working at it. You can do this!";

                    $("#result_message")[0].innerHTML = `<div class='notification not-passing' style='color: white'>${message}</div>`;
                }

                function showErrorMessage(message) {
                    $("#result_message")[0].innerHTML = `<div class='notification is-danger' style='color: white'>An error occurred while your code was being executed.</div><pre>${message}</pre>`;
                    $("#result_message")[0].scrollIntoView();
                }

                function showInfoMessage(message) {
                    $("#result_message")[0].innerHTML = `<div class='notification is-dark'>${message}</div>`;
                }

                function showTestOutputs(test_outputs) {
                    // This is what we do if we haven't gone to the server yet.
                    if (test_outputs == null) {
                        test_outputs = {};
                        for (let test_title of Object.keys(tests)) {
                            test_outputs[test_title] = {};
                            test_outputs[test_title]["txt_output"] = null;
                            test_outputs[test_title]["jpg_output"] = null;
                            test_outputs[test_title]["passed"] = null;
                        }
                    }

                    if (Object.keys(test_outputs).length == 1) {
                        var output = "<h6>Test:</h6>" + buildTestOutput(test_outputs, Object.keys(test_outputs)[0], false, true);
                    } else {
                        var output = "<h6>Tests:</h6>";

                        const test_titles = Object.keys(test_outputs)
                        for (let test_title of test_titles) {
                            //output += "<p>" + test_title + "</p>";
                            output += buildTestOutput(test_outputs, test_title, true, test_title == test_titles[test_titles.length - 1]);
                        }
                    }

                    $("#test_outputs")[0].innerHTML = output;
                    $("#test_outputs")[0].scrollIntoView();
                }

                function buildTestOutput(test_outputs, test_title, show_title, is_last) {
                    if (test_outputs[test_title].passed == null) {
                        var test_class = "neutral-bd-color";
                        var test_message = show_title ? test_title : "";
                    }
                    else {
                        if (test_outputs[test_title].passed) {
                            var test_class = "passing-bd-color";

                            if (show_title)
                                var test_message = `${test_title} - Passing`;
                            else
                                var test_message = `Passing`;
                        }
                        else {
                            var test_class = "failing-bd-color";

                            if (show_title)
                                var test_message = `${test_title} - Not passing`;
                            else
                                var test_message = `Not passing`;
                        }
                    }

                    if (is_last)
                        var output = `<div class='${test_class}' style="font-size: 1em; margin-bottom: 0px">`;
                    else
                        var output = `<div class='${test_class}' style="font-size: 1em; margin-bottom: 10px">`;

                    if (test_message == "")
                        output += `<div style="padding: 0.75em 0.5em 0em 1.25em;margin:0"> </div>`;
                    else
                        output += `<h6 style="padding: 0.75em 0.5em 0.25em 1.25em;margin:0">${test_message}</h6>`;

                    output += '<div style="padding: 0em 1.25em 0.75em 1.25em">';

                    if (tests[test_title]["instructions"] != "") {
                        output += `<div style="padding: 0.5em 0em 0.5em 0em;margin:0">${tests[test_title]["instructions"]}</div>`;
                    }

                    if (tests[test_title].can_see_test_code) {
                        if (tests[test_title].before_code != "") {
                            var message = '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Code that will be executed before your code:</div>';
                            if (test_outputs[test_title].passed != null)
                                message = '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Code that was executed before your code:</div>';

                            output += message + '<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">' + tests[test_title].before_code + '</pre>';
                        }

                        if (tests[test_title].after_code != "") {
                            var message = '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Code that will be executed after your code:</div>';
                            if (test_outputs[test_title].passed != null)
                                message = '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Code that was executed after your code:</div>';

                            output += message + '<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">' + tests[test_title].after_code + '</pre>';
                        }
                    }
                    else {
                        output += '<div style="padding: 0.5em 0em 0.5em 0em;margin:0"><em>The test code will not be shown for this test.</em></div>';
                    }

                    if (test_outputs[test_title]["passed"] == null || !test_outputs[test_title]["passed"]) {
                        if (tests[test_title].can_see_expected_output) {
                            var expected_output = "";

                            if (tests[test_title]["txt_output"] != null && tests[test_title]["txt_output"] != "") {
                                expected_output += '<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">' + tests[test_title]["txt_output"] + '</pre>';
                            }

                            if (tests[test_title]["jpg_output"] != null && tests[test_title]["jpg_output"] != "") {
                                expected_output += '<p style="padding: 0em 0em 0em 0em;margin:0"><img src="data:image/jpg;base64,' + tests[test_title]["jpg_output"] + '" width="100%" /></p>';
                            }

                            output += '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Expected output:</div>' + expected_output;
                        }
                        else {
                            output += '<div style="padding: 0.5em 0em 0.5em 0em;margin:0"><em>The expected output will not be shown for this test.</em></div>';
                        }
                    }

                    if (test_outputs[test_title].passed != null) {
                        if (tests[test_title].can_see_code_output) {
                            var user_output = "";

                            if (test_outputs[test_title]["txt_output"] != null && test_outputs[test_title]["txt_output"] != "") {
                                user_output += '<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">' + test_outputs[test_title]["txt_output_formatted"] + '</pre>';
                            }

                            if (test_outputs[test_title]["jpg_output"] != null && test_outputs[test_title]["jpg_output"] != "") {
                                user_output += '<p style="padding: 0em 0em 0em 0em;margin:0"><img src="data:image/jpg;base64,' + test_outputs[test_title]["jpg_output"] + '" width="100%" /></p>';
                            }

                            if (user_output != "")
                                output += '<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Your output:</div>' + user_output;

                            if (test_outputs[test_title]["diff_output"] != null && test_outputs[test_title]["diff_output"] != "") {
                                output += `<div style="padding: 0.5em 0em 0.5em 0em;margin:0">Difference between your output and the expected output:</div>`;

                                {% if exercise_details["output_type"] == "txt" %}
                                    output += `<pre style="padding: 0.75em 0.5em 0.75em 0.75em;margin:0">` + test_outputs[test_title]["diff_output"] + "</pre>";
                                    output += `<p style="padding: 0.5em 0.5em 0.5em 0.66em;margin:0"><em>A <code>+</code> in brackets indicates that your output had an extra character.<br />A <code>-</code> in brackets indicates that your output was missing the specified character.</em></p>`;
                                {% else %}
                                    output += '<p style="padding: 0em 0em 0em 0em;margin:0"><img src="data:image/jpg;base64,' + test_outputs[test_title]["diff_output"] + '" width="100%" /></p>';
                                    output += `<p style="padding: 0.5em 0.5em 0.5em 0em;margin:0"><em>Black indicates parts of the image that are identical to the expected output. White indicates parts of the image that are different from the expected output.</em></p>`;
                                {% end %}
                            }
                        }
                        else {
                            output += '<div style="padding: 0.5em 0em 0.5em 0em;margin:0"><em>Your output will not be shown for this test.</em></div>';
                        }
                    }

                    output += `</div>`;
                    output += `</div>`;

                    return output;
                }

                function showSubmitModal() {
                    user_code = get_user_code();
                    if (user_code == "") {
                        return false;
                    }

                    var modal = document.getElementById("submit_exercise_modal");
                    var span = document.getElementsByClassName("close")[4];

                    modal.style.display = "block";

                    var cancelButton = document.getElementById("submit_cancel_button");
                    var modalSubmitButton = document.getElementById("modal_submit_button");

                    modalSubmitButton.onclick = function() {
                        let partner_name = $("#partner_name")[0].value;

                        if (partner_name == "") {
                            submit();
                            modal.style.display = "none";
                        } else {
                            $("#submit_exercise_modal_message")[0].innerHTML = "";

                            $.ajax({
                                type: 'GET',
                                url: "/get_partner_id/{{ course_basics['id'] }}/" + partner_name,
                                async: false
                                })
                                .done(function(data) {
                                    response = JSON.parse(data);

                                    if (response == "") {
                                        $("#submit_exercise_modal_message")[0].innerHTML = "<div style='margin:15px 0px' class='space_div notification is-danger is-light smaller-font'>An invalid partner was specified. Please try again.</div>";
                                    }
                                    else {
                                        $("#partner_id")[0].value = response;
                                        modal.style.display = "none";
                                        submit();
                                    }
                                })
                                .fail(function(data) {
                                    $("#submit_exercise_modal_message")[0].innerHTML = "<div style='margin:15px 0px' class='space_div notification is-danger is-light smaller-font'>An unexpected error occurred. Please try again and notify the instructor if the error persists.</div>";
                                    console.log(data);
                                });
                        }
                    }

                    cancelButton.onclick = function() {
                        modal.style.display = "none";
                    }

                    span.onclick = function() {
                        modal.style.display = "none";
                    }

                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                }

                function get_submission(submission_id, scroll, check_for_presubmission) {
//                    if (document.getElementById("saved_div") != null)
//                        document.getElementById("saved_div").innerHTML = "";

//                    var submission_buttons = document.getElementsByClassName('button is-primary is-medium');

//                    var i;
//                    for (i = 0; i < submissions.length; i++) {

                    var this_submission;
                    for (let submission of submissions) {
                        if (submission.id == submission_id) {
                            this_submission = submission;
                            $(`#submission_button_${submission_id}`)[0].style.border = "solid #34495e";
                        }
                        else
                            $(`#submission_button_${submission_id}`)[0].style.border = "none";
//                            submission_buttons[i].style.border = "none";
                    }

                    {% if not exercise_details["allow_any_response"] %}
//                        $("#code_output")[0].innerHTML = "";

                        // if exercise_details["show_expected"]
//                            document.getElementById("diff_output").innerHTML = "";
                    {% end %}

                    // if exercise_details["show_expected"] and not exercise_details["allow_any_response"]
//                        document.getElementById("diff_output").innerHTML = "";

//                    $.get("/get_submission/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ student_id }}/" + submission_id + `/${check_for_presubmission}` ,
//                        function (data, status) {
//                            var json_data = JSON.parse(data);

                    editor.setValue(this_submission.code, -1);
                    editor.focus();
                    $("#user_code")[0].scrollIntoView();
                    showTestOutputs(submissions[this_submission]["test_outputs"]);

//                            if (json_data.using_presubmission)
//                                if (document.getElementById("saved_div") != null)
//                                    document.getElementById("saved_div").innerHTML = "Code loaded from last session.";

//                            display_results(json_data);
//                        });

//                    if (scroll && document.getElementById("your_code_header") != null)
//                        document.getElementById("your_code_header").scrollIntoView();

//                    return false;
                }

                function show_past_submission_buttons() {
                    submissions_div = document.getElementById("submissions");

//                    $.get("/get_submissions/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ student_id }}",
//                        function (data, status) {
//                            var json_data = JSON.parse(data);


                    var submission_html = "";
                    var revert_html = "";
                    var current_code = editor.getValue()

                    if (submissions.length > 0) {
                        submission_html += "<h6>Past submissions:</h6>";
                        submission_html += "<div class='buttons'>";

                        var i;
                        for (i = 0; i < submissions.length; i++) {
                            submission = submissions[i];
//                                    submission_id = json_data[i][0];
//                                    the_date = json_data[i][1];
//                                    passed = json_data[i][2];
//                                    partner_name = json_data[i][3]

                            if (submission.passed)
                                button_bd_color = "passing-btn-color";
                            else
                                button_bd_color = "failing-btn-color";

                            var submission_date = new Date(submission.date).toLocaleString();

                            if (submission.partner_name)
                                submission_html += `<button class='button ${button_bd_color}' id='submission_button_${submission.id}' style='display: block; width: 315px;' onclick='get_submission(${submission.id}, true, false)'><b>${submission.id}.</b> ${submission_date} <label class="has-tooltip-multiline has-tooltip-right" data-tooltip="Pair programmed with ${submission.partner_name}."><i class="fab fa-product-hunt"></i></label></button>`;
                            else
                                submission_html += `<button class='button ${button_bd_color}' id='submission_button_${submission.id}' style='display: block; width: 315px;' onclick='get_submission(${submission.id}, true, false)'><b>${submission.id}.</b> ${submission_date}</button>`;
                                }

                        submission_html += "</div><br />";
                    }

                    submissions_div.innerHTML = submission_html;
//                    });
                }

                function get_presubmission() {
                    $.get("/get_presubmission/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ student_id }}",
                        function (data, status) {
                            if (data.length > 0) {
                                editor.setValue(data, -1);
                            }
                        });
                }

                function save_presubmission(autosave) {
                    user_code = editor.getValue();
                    if (user_code.trim() == "")
                        return false;

                    saved_div = document.getElementById("saved_div");
                    saved_div.innerHTML = "Please wait while your code is being saved...";

                    $.ajax({
                        type: 'POST',
                        url: "/save_presubmission/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}",
                        data: {"user_code": user_code},
                        success: function(result) {
                            if (result == "") {
                                codeChanged = false;

                            last_saved_at = new Intl.DateTimeFormat('default', {
                                hour: 'numeric',
                                minute: 'numeric',
                            }).format(Date.now());

                            if (autosave)
                                saved_div.innerHTML = `Auto-saved at ${last_saved_at}.`;
                            else
                                saved_div.innerHTML = `Saved at ${last_saved_at}.`;
                           }
                           else {
                               console.log("An error occurred when the user attempted to save their code. The error message is below.");
                               console.log(result);
                               saved_div.innerHTML = "An error occurred, so your code may not have saved. If this error persists, please contact the instructor.";
                           }
                        },
                        async: false
                    });
                }

                function display_results(json_data) {
                    var result = "";

                    if (json_data.passed) {
console.log("passed11");
                        {% if exercise_details["allow_any_response"] %}
                            result = "<div class='notification success-message' style='color:white'><p><strong>Thank you for your submission.</strong></p>";
                        {% else %}
                            result = "<div class='notification success-message smaller-font' style='color:white'><p><strong>Congratulations! Your solution produces the expected output.</strong></p>";
                        {% end %}

                        {% if exercise_details["show_peer_solutions"] %}
                            result += "<p><a class='grey-text' href='/view_answer/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}'>View others' solutions</a></p>";
                        {% elif exercise_details["show_instructor_solution"] and (exercise_details["solution_code"] != "" or exercise_details["solution_description"] != "") %}
                            result += "<p><a class='grey-text' href='/view_answer/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}'>View the instructor's solution</a></p>";
                        {% end %}

                        {% if next_exercise %}
                            result += "<p><a class='grey-text' href='/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ next_exercise['id'] }}'>Next exercise</a></p>";
                        {% end %}

                        result += "</div>\n\n"
                    }
                    else {
console.log("failed11");
                        {% if exercise_details["allow_any_response"] %}
                            result = "<div class='notification error-message smaller-font' style='color: white'><p><strong>Your solution did not produce any output.</strong></p></div>";
                        {% else %}
                            result = "<div class='notification error-message smaller-font' style='color: white'><p><strong>Your solution did not pass.</strong></p>\n\n<p>The output does not match the expected output. Please modify your solution and try again.</div>\n\n";
                        {% end %}

                        // if not exercise_details["allow_any_response"] and exercise_details["show_expected"]
                            var diff_output = "";

                            if (json_data.diff.length > 0) {
                                diff_output += "<h6>Difference between your output and the expected output:</h6>\n\n";
                                {% if exercise_details["output_type"] == "txt" %}
                                    diff_output += "<p><pre>" + json_data.diff + "</pre></p>\n\n<p><em>A <code>+</code> in brackets indicates that your output had an extra character.<br />A <code>-</code> in brackets indicates that your output was missing the specified character.</em></p>";
                                {% else %}
                                    //diff_output += "<p><figure class='img'><img src='data:image/jpg;base64," + json_data.diff + "' width='100%' /></figure></p>";
                                {% end %}
                            }

                            document.getElementById("diff_output").innerHTML = diff_output;
                    }

                    document.getElementById("message_result").innerHTML = result;

                    {% if exercise_details["allow_any_response"] %}
                        if (json_data.txt_output != "" || json_data.jpg_output != "") {
                            var code_output = "<h6>Your output:</h6>\n\n";

                            code_output += build_txt_output(json_data.txt_output);
                            code_output += build_jpg_output(json_data.jpg_output);
                            document.getElementById("code_output").innerHTML = code_output;
                        }
                    {% else %}
                        var expected_text = `exercise_details["expected_txt_output"]`;
                        var expected_image = `exercise_details["expected_jpg_output"]`;

                        // If output includes an index error, provide student with a more helpful error message instead.
                        if (json_data.txt_output.includes("IndexError:&nbsp;list&nbsp;index&nbsp;out&nbsp;of&nbsp;range")) {
                            var code_output = "<h6>Your output:</h6>\n\n";
                            code_output += "Output is not available for this submission. This may be due to the instructor editing the exercise since you last submitted."
                            document.getElementById("code_output").innerHTML = code_output;
                        }
                        else if (((json_data.txt_output != "") || (json_data.jpg_output != "")) || ((expected_text != "") || (expected_image != ""))) {
                            var code_output = "<h6>Your output:</h6>\n\n";
                            code_output += build_txt_output(json_data.txt_output);
                            code_output += build_jpg_output(json_data.jpg_output);
                            document.getElementById("code_output").innerHTML = code_output;
                        }

                        // Build test buttons
                        //build_tests_output(json_data);
                    {% end %}
                }

                function build_txt_output(json_output) {
                    var output = "";

                    if (json_output == "") {
                        // if exercise_details["output_type"] == "txt" 
                        //    output = "<p><pre>[Your solution produced no output.]</pre></p>";
                        //else
                        //    output = "";
                    }
                    else {
                        output = "<p><pre>" + json_output + "</pre></p>";
                    }

                    return output;
                }

                function build_jpg_output(json_output) {
                    var output = "";

                    if (json_output == "")
                        {% if exercise_details["output_type"] == "jpg" %}
                            output = "<p><pre>[Your solution did not produce an image.]</pre></p>";
                        {% else %}
                            output = "";
                        {% end %}
                    else
                        output = "<p><figure class='img'><img src='data:image/jpg;base64," + json_output + "' width='100%' /></figure></p>";

                    return output;
                }

                ace.require("ace/ext/language_tools");
                var editor = ace.edit("user_code", {
                    theme: "ace/theme/{{ user_info['ace_theme'] }}",
                    autoScrollEditorIntoView: false,
                    minLines: 20,
                    fontSize: "12pt"
                });
                let codeChanged = false

                editor.session.on('change', function(delta) {
                  codeChanged = true
                });

                {% if user_info['enable_vim'] %}
                   editor.setKeyboardHandler("ace/keyboard/vim");
                {% end %}

                {% if user_info["use_auto_complete"] and exercise_details["back_end"] != "not_code" %}
                    editor.setOptions({
                        enableBasicAutocompletion: false,
                        enableSnippets: true,
                        enableLiveAutocompletion: true
                    });
                {% end %}

                editor.focus();
                editor.getSession().setMode("{{ code_completion_path }}");

                // Autosave if code has changed
//                setInterval(function() {
//                    if (codeChanged) {
//                        save_presubmission(true);
//                    }
//                }, 60 * 1000);

                submitButton = document.getElementById("submit_button");

                {% if exercise_details["enable_pair_programming"] %}
                      if (submitButton != null)
                          submitButton.onclick = function() {
                              showSubmitModal()
                      }
                {% else %}
                    if (submitButton != null) {
                        submitButton.onclick = function() {
                        submit()
                    }
                }
                {% end %}

                const tests = JSON.parse("{{ tests_json }}");
                var submissions = JSON.parse("{{ submissions_json }}");
                showTestOutputs(null);
            </script>
        {% else %}
            <p>This exercise does not exist.</p>
        {% end %}
    {% else %}
        <p>This assignment does not exist.</p>
    {% end %}
{% else %}
    <p>This course does not exist.</p>
{% end %}

//TODO: Submit button not working.
//        Make sure it works when the middle layer is down.
//        Make sure allow any response exercises work.
//        Change the "View instructor's solution" link to be dynamic, depending on whether peers' solutions are visible.
//        Make sure instructor's solution page still working after submissions.
//        Remove GetSubmissionsHandler? and GetSubmissionHandler?
//TODO: Clean up display_results()
//        Show previous submission buttons.
//        If they have submitted previously, show latest submission when the page loads.
//TODO: student_exercise.html
//TODO: Start with a fresh database and make sure data files are handled correctly.
//        Make sure it works properly to view previous submissions for students from last semester.
//        Do we need to write a Python script that saves files to disk and then reads them back? Or just convert them to bytes and find size.
//TODO: Make sure we have log information indicating when students view the instructor's solution.
