{% if course_basics["exists"] %}
    {% if assignment_basics["exists"] %}
        {% if exercise_basics["exists"] %}

        <link rel="stylesheet" href="/static/modal.css">
        <link rel="stylesheet" href="/static/timer.css">

        <script>
            function startTimer() {
                start_time_js = new Date("{{ start_time }}");
                start_time_js.setMinutes(start_time_js.getMinutes() - start_time_js.getTimezoneOffset());

                var deadline = start_time_js;
                deadline.setHours(deadline.getHours() + {{ assignment_details["hour_timer"] }});
                deadline.setMinutes(deadline.getMinutes() + {{ assignment_details["minute_timer"] }});

                initializeClock('clockdiv', deadline);
            }

            function getTimeRemaining(endtime){
                const total = Date.parse(endtime) - Date.parse(new Date());
                const seconds = Math.floor( (total/1000) % 60 );
                const minutes = Math.floor( (total/1000/60) % 60 );
                const hours = Math.floor( (total/(1000*60*60)) % 24 );

                return {
                    total,
                    hours,
                    minutes,
                    seconds
                };
            }

            function initializeClock(id, endtime) {
                const clock = document.getElementById(id);
                const hoursSpan = clock.querySelector('.hours');
                const minutesSpan = clock.querySelector('.minutes');
                const secondsSpan = clock.querySelector('.seconds');

                function updateClock(){
                    const t = getTimeRemaining(endtime);
                    hoursSpan.innerHTML = t.hours;
                    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                    if (t.total == 120000) {
                        var modal = document.getElementById("time_modal");
                        var span = document.getElementsByClassName("close")[0];
                        modal.style.display = "block";
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        window.onclick = function(event) {
                            if (event.target == modal) {
                            modal.style.display = "none";
                            }
                        }
                    }

                    if (t.total <= 0) {
                        clearInterval(timeinterval);
                        hoursSpan.innerHTML = 0;
                        minutesSpan.innerHTML = 0;
                        secondsSpan.innerHTML = 0;

                        {% if not (assignment_details["due_date"] and assignment_details["due_date"] < curr_datetime) %}
                            window.location.replace("/assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}");
                        {% end %}
                    }
                }

                updateClock(); // run function once at first to avoid delay
                var timeinterval = setInterval(updateClock,1000);
            }

            /*function showLinkModal() {
                var modal = document.getElementById("share_modal");
                var span = document.getElementsByClassName("close")[0];
                var copyText = document.getElementById("share_link");
                modal.style.display = "block";
                span.onclick = function() {
                    modal.style.display = "none";
                }
                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            }*/

            function copyLink() {
                var copyText = document.getElementById("share_link");
                copyText.select();
                copyText.setSelectionRange(0, 99999); /*For mobile devices*/
                document.execCommand("copy");
                alert("Copied the text: " + copyText.value);
            }

            function showHint() {
                var hint_div = document.getElementById("hint_div");
                if (hint_div.style.display == "block") {
                    hint_div.style.display = "none";
                }
                else {
                    hint_div.style.display = "block";
                }
            }

            function showHelpRequestModal() {
                var modal = document.getElementById("help_request_modal");
                var span = document.getElementsByClassName("close")[1];
                modal.style.display = "block";

                document.getElementById("student_comment").focus();

                var submitButton = document.getElementById("submit_request_button");
                submitButton.onclick = async function() {
                    var user_code = editor.getValue();
                    var student_comment = document.getElementById("student_comment").value;
                    var post_data = { "user_code": user_code, "student_comment": student_comment };

                    await $.post("/submit_request/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}", post_data);
                    modal.style.display = "none";

                    location.reload();
                }

                var cancelButton = document.getElementById("cancel_request_button");
                cancelButton.onclick = function() {
                    modal.style.display = "none";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }

                window.onclick = function(event) {
                    if (event.target == modal) {
                      modal.style.display = "none";
                    }
                }
            }

            function showMatchingModal() {
                var modal = document.getElementById("matching_modal");
                var span = document.getElementsByClassName("close")[2];
                modal.style.display = "block";

                var deleteButton = document.getElementById("delete_request_button");
                deleteButton.onclick = async function() {
                    await $.post("/delete_request/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ user_info['user_id'] }}");
                    modal.style.display = "none";

                    location.reload();
                }

                var keepButton = document.getElementById("keep_request_button");
                keepButton.onclick = function() {
                    modal.style.display = "none";
                }

                span.onclick = function() {
                    modal.style.display = "none";
                }

                window.onclick = function(event) {
                    if (event.target == modal) {
                      modal.style.display = "none";
                    }
                }
            }

            function showSuggestionModal() {
                var modal = document.getElementById("suggestion_modal");
                var span = document.getElementsByClassName("close")[3];
                modal.style.display = "block";

                span.onclick = function() {
                    modal.style.display = "none";
                }

                window.onclick = function(event) {
                    if (event.target == modal) {
                      modal.style.display = "none";
                    }
                }
            }

            function showHideData(dataPanelID, dataButtonID) {
                var data_panel = document.getElementById(dataPanelID);
                var data_button = document.getElementById(dataButtonID);

                if (data_panel.hidden) {
                    data_panel.hidden = false;
                    data_button.innerHTML = "Hide";
                }
                else {
                    data_panel.hidden = true;
                    data_button.innerHTML = "Show";
                }
            }
            function showUsers(selection) {
                var partner_selection = document.getElementById("partner_selection");
                if (selection == "Yes") {
                    partner_selection.style.display = "inline";
                }
                else {
                    partner_selection.style.display = "none";
                }
            }

        </script>

        <!--The following divs contain all of the modals for this page-->

        <div id="time_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>You have less than 2 minutes remaining. If you are still working, submit a solution to avoid losing your work.</p>
            </div>
        </div>

        <!--<div id="share_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Share this link with an instructor or assistant:</p>
                <input class="input is-medium is-primary" type="text" id="share_link" value="https://{{ domain }}/student_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ student_id }}" readonly>
                <button class="modal-button button is-dark" onclick="copyLink()">Copy Link</button>
            </div>
        </div>-->

        <div id="help_request_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                {% if help_request and help_request["more_info_needed"] %}
                    <p><strong>An instructor or assistant has requested more info from you about your help request.</strong></p>
                    {% if help_request["suggestion"] %}
                        <p>Comment made by your instructor/assistant:<br />
                        <span class="green-text">{{ help_request["suggestion"] }}</span></p>
                    {% end %}
                    <p>Please update your comment to help us better understand what you need help with:</p>
                {% else %}
                    <p><strong>Submit a help request so an instructor or assistant can review your code/output and make a suggestion.</strong></p>
                    <p>Please write a comment to help us better understand what you need help with:</p>
                {% end %}
                <textarea class="textarea is-primary is-fullwidth monospace" id="student_comment" name="student_comment">{% if help_request and help_request["more_info_needed"] %}{{ help_request["student_comment"] }}{% end %}</textarea>
                <p class="buttons">
                    <a id="cancel_request_button" class="modal-button button is-light">Cancel</a>
                    <a id="submit_request_button" class="modal-button button is-dark">Submit</a>
                </p>
            </div>
        </div>

        <div id="matching_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p><strong>A student in this class previously submitted a help request with the same output as your request. The instructor/assistant made this suggestion:</strong></p>
                <span class="green-text">{{ same_suggestion }}</span></p>
                <p>If this suggestion is helpful, do you want to cancel your own request?</p>
                <p class="buttons">
                    <a id="delete_request_button" class="modal-button button is-light">Cancel request</a>
                    <a id="keep_request_button" class="modal-button button is-dark">Keep request</a>
                </p>
            </div>
        </div>

        <div id="suggestion_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Your comment from the help request:</p>
                <textarea class="textarea is-primary monospace text-18" rows="3">{% if help_request and help_request["student_comment"] %}{{ help_request["student_comment"] }}{% end %}</textarea>
                <br><p>Instructor's suggestion:</p>
                <textarea class="textarea is-primary monospace text-18" rows="3">{% if help_request and help_request["suggestion"] %}{{ help_request["suggestion"] }}{% else %}No suggestion has been made yet.{% end %}</textarea>
            </div>
        </div>

        <div id="submit_exercise_modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="confirm_submit"></p>
                <h6 style="display:inline">Using Pair Programming:</h6>
                <label class="has-tooltip-multiline has-tooltip-right" data-tooltip="If using pair programming for this exercise, enter the name of your partner here.">
                    <i class="far fa-question-circle"></i>
                </label><br />

                <div id="invalid_partner"></div>

                <div id="partner_selection">
                {% if users %}
                <p>Select your pair programming partner here. If you are working on the exercise without a partner, leave this field blank.</p>

                <input class="space_div input is-primary" list="users_list" id="partner_key" placeholder="Enter partner's name here...">
                <datalist id="users_list">
                        {% for user in users %}
                            <option value='{{ user }}'></option>
                        {% end %}
                </datalist>
                {% else %}
                <p>There are no other registered students in this course.</p>
                <input class="invisible" id="partner_key">
                {% end %}
                </div>

                <p class="buttons">
                    <a id="submit_cancel_button" class="modal-button button is-light">Cancel</a>
                    <a id="modal_submit_button" class="modal-button button is-dark">Submit</a>
                </p>
            </div>
        </div>

        <!--Below is the code for showing the exercise title, instructions, data url and contents, test code, and hint-->

        <div>
          <h4 style="display: inline-block;">Assignment: {{ exercise_basics["assignment"]["title"] }}</h4>
          <div class="row-container">
              <div>
                  <h5 style="display: inline-block;">Exercise: {{ exercise_basics["title"] }}</h5>
              </div>

              <div class="buttons is-pulled-right">
              {% if is_administrator or is_instructor or is_assistant %}
                  <a class="button is-white" href="/edit_exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}">Edit exercise</a>
              {% end %}
              {% if prev_exercise %}
                  <a class="button is-white" href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ prev_exercise['id'] }}">Previous exercise</a>
              {% end %}
              {% if next_exercise %}
                  <a class="button is-white" href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ next_exercise['id'] }}">Next exercise</a>
              {% end %}
              </div>
              <!--<button class="button is-light is-pulled-right" onclick="showLinkModal()">Share</button>-->
          </div>
        </div>

        <!--Notification messages at the top of the page for when the due date has passed-->

        <p>
        {% if assignment_details["due_date"] and curr_datetime > assignment_details["due_date"] and assignment_details["view_answer_late"] %}
            <div class='notification is-warning is-light'>The due date for this assignment has passed, but your instructor has enabled viewing the answer.</div>
        {% end %}
        {% if assignment_details["due_date"] and curr_datetime > assignment_details["due_date"] and assignment_details["allow_late"] %}
            <div class='notification is-warning is-light'>The due date for this assignment has passed, but you can make late submissions for {{ round(assignment_details["late_percent"] * 100) }}% of the points.</div>
        {% end %}
        </p>

        <div class="instructions">
            <h6>Instructions:</h6>
            <div>{{ exercise_details["instructions"] }}</div>
            {% if exercise_basics["enable_pair_programming"] %}
            <hr>
            <p><i style='margin: 0 .5em;' class="fab fa-product-hunt"></i><em>Pair programming is enabled for this exercise.</em></p>
            {% end %}
        </div>

        {% if len(exercise_details["data_files"]) > 0 %}
            <h6>Data files:</h6>
            <div id="data_file_div" class="top-space">
                {% for key_index in range(len(exercise_details["data_files"])) %}
                    <p>
                        <a class="is-family-monospace is-size-5" href="/download_file/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}/{{ list(exercise_details['data_files'].keys())[key_index] }}">{{ list(exercise_details["data_files"].keys())[key_index] }}</a>
                        <a class="button is-white" id="data_button_{{ key_index }}" onclick="showHideData('data_panel_{{ key_index }}', 'data_button_{{ key_index }}')">Show</a>
                    </p>
                    <pre id="data_panel_{{ key_index }}" hidden>
                        {{ exercise_details["data_files"][list(exercise_details["data_files"].keys())[key_index]].strip() }}
                    </pre>
                {% end %}
            </div>
        {% end %}

        {% if exercise_details["hint"] != "" %}
            <div class="top-space">
                <button class="button is-primary" onclick="showHint()">Hint</button>
            </div>
        {% end %}

        <div id="hint_div" class="invisible hint-div"><p style="margin-top: 10px;">{{ exercise_details["hint"] }}</p></div>

        <!--Here's the assignment timer.-->

        {% if assignment_details["has_timer"] %}
            {% if start_time %}
                <div id="clockdiv">
                <div>
                    <span class="hours"></span>
                    <div class="smalltext">Hours</div>
                </div>
                <div>
                    <span class="minutes"></span>
                    <div class="smalltext">Minutes</div>
                </div>
                <div>
                    <span class="seconds"></span>
                    <div class="smalltext">Seconds</div>
                </div>
                </div>
                <script>startTimer();</script>
            {% end %}
        {% end %}

        <!--Below is the ace text editor and all of the elements that appear around it-->

        <p class="top-space">
            <textarea class="textarea is-fullwidth monospace" rows="15" id="user_code">{% if exercise_details["starter_code"] and num_submissions == 0 %}{{ exercise_details["starter_code"] }}{% end %}</textarea>
            {% if assignment_details["enable_help_requests"] %}
                <div class="buttons is-pulled-right">
                    {% if help_request %}
                        {% if help_request["more_info_needed"] %}
                            <a class="button is-danger is-light" onclick="showHelpRequestModal()">More info needed</a>
                        {% elif same_suggestion %}
                            <a class="button is-success is-light" onclick="showMatchingModal()">Matching suggestion</a>
                        {% elif help_request["approved"] %}
                            <a class="button is-primary" onclick="showSuggestionModal()">View suggestion</a>
                        {% else %}
                            <a class="button is-warning is-light" onclick="showSuggestionModal()">Request pending</a>
                        {% end %}
                    {% else %}
                        <a class="button is-white" onclick="showHelpRequestModal()">Request help</a>
                    {% end %}
                </div>
            {% end %}
        </p>

        <div id="saved_div" style="margin:7px 15px;" class="space-div smaller-font is-pulled-right"></div>
        <div class="buttons">

            <a class="button is-medium is-primary" onclick='save_presubmission()'>Save</a>
            {% if exercise_details["back_end"] != "any_response" %}
                <a class="button is-medium is-primary" onclick='run_code()'>Run</a>
            {% end %}

            <a class="button is-medium is-dark" id='submit_button'>Submit</a>

            {% if exercise_details["back_end"] == "any_response" %}
                <p class="is-primary has-tooltip-multiline has-tooltip-right" data-tooltip="When you are ready to test your solution against the expected output, click on 'Submit'.">
            {% else %}
                <p class="is-primary has-tooltip-multiline has-tooltip-right" data-tooltip="When you are ready to test your solution against the expected output, click on 'Submit'. If you would like to see the output of your solution without officially submitting it, click on 'Run'. You can highlight a section of your solution and then hit 'Run' to test just that section. If you highlight a section of code and hit the Tab button, it will indent all lines of code in the block. If you hit Shift-Tab, it will reduce the indentation.">
            {% end %}

                <i class="far fa-question-circle"></i>
            </p>
        </div>

        <div>
            {% if exercise_details["max_submissions"] > 0 %}
                <label style="padding-right: 5px;"><em>You have made <span id="num_submissions">{{ num_submissions }}</span> of {{ exercise_details["max_submissions"] }} allowed submission(s).</em></label>
            {% end %}
        </div>

        {% if assignment_details["due_date"] and assignment_details["due_date"] < curr_datetime and assignment_details["allow_late"] == 0 and assignment_details["view_answer_late"] == 1 %}
            <script>document.getElementById("submit_button").disabled = true;</script>
            <div class='notification is-warning'><p>Click <a style='color:#2166ac' href="/view_answer/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise_basics['id'] }}">here</a> to view the instructor's answer.</p></div>
        {% end %}

        <!--Below is all of the code that shows the output, past submissions, and messaging once a solution has been run or submitted-->

        <p><div id="result"></div></p>

        {% if exercise_details["back_end"] != "any_response" %}
            {% if exercise_details["show_expected"] %}
                {% if exercise_details["expected_text_output"] != "" or exercise_details["expected_image_output"] != "" %}
                    <div>
                        <h6 style="display: inline">Expected output:</h6>
                        <label class="has-tooltip-multiline has-tooltip-right" data-tooltip="Compare the output from your solution with the expected output to find and fix errors, as needed.">
                            <i class="far fa-question-circle"></i>
                        </label>
                    </div>
                    {% if exercise_details["output_type"] == "txt" %}
                        <p><pre>{{ exercise_details["expected_text_output"] }}</pre></p>
                    {% elif exercise_details["expected_image_output"] != "" %}
                        <p><figure class="img"><img src="data:image/jpg;base64,{{ exercise_details['expected_image_output'] }}" width="100%"/></figure></p>
                    {% else %}
                        <p><pre>[Expected solution does not produce an image.]</pre></p>
                    {% end %}
                {% end %}

                <div id="expected_tests">

                {% if len(exercise_details["tests"]) > 0 %}

                <h6>Test code (to be executed after your solution):</h6>

                    {% for i in range(len(exercise_details["tests"])) %}

                    <div class="neutral-bd-color bottom-space test-content">
                        <div style="padding: 1.25em 1.5em;">
                            {% if exercise_details["tests"][i]["test_instructions"] == "" %}
                                <h6 style="display: inline;">Test {{i + 1}} code:</h6>
                                <p><pre>{{ exercise_details["tests"][i]["code"] }}</pre></p>

                                <h6 style="display: inline;">Test {{i + 1}} expected output:</h6>

                                {% if exercise_details["output_type"] == "txt" %}
                                    <p><pre style="margin:0">{{ exercise_details["tests"][i]["text_output"] }}</pre></p>
                                {% else %}
                                    <p><figure class="img"><img src="data:image/jpg;base64,{{ exercise_details['tests'][i]['image_output'] }}" width="100%"/></figure></p>
                                {% end %}
                        {% else %}
                            <h6>Test {{i + 1}}:</h6>
                            <div style="-moz-osx-font-smoothing: auto;-webkit-font-smoothing: auto;margin:0">
                                <p>Details for this test are hidden from students. However, the instructor provided the following hint.</p>
                                <hr>
                                <p>{{exercise_details["tests"][i]["test_instructions"]}}</p>
                            </div>
                        {% end %}
                        </div>
                    </div>

                    {% end %}
                {% end %}
                </div>
            {% else %}
                <div id="expected_tests"></div>
                <p><em>This exercise is configured so that the expected output is not shown.</em></p>
            {% end %}

            <p><span id="code_output"></span></p>

            {% if exercise_details["show_expected"] %}
                <p><span id="diff_output"></span></p>
            {% end %}
            <p><span id="test_output"></span></p>
        {% else %}
        <div id="expected_tests"></div>
        {% end %}

        <div id="submissions"></div>

        {% if len(exercise_details["credit"]) > 0 %}
        <div class="front-row-container">
            <p style="padding-right: 5px;"><em>Credit: </em></p>
            <p><em>{{ exercise_details["credit"] }}</em></p>
        </div>
        {% end %}
