<link rel="stylesheet" href="/static/modal.css">

<script>
    function showCourseModal(course_title, course_introduction) {
        var modal = document.getElementById("course_modal");
        var span = document.getElementsByClassName("close")[0];
        modal.style.display = "block";

        document.getElementById("title").innerHTML = course_title;
        document.getElementById("title").style.fontWeight = "bold";
        document.getElementById("introduction").innerHTML = course_introduction;

        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>

<div>
    <div class="landing-main-row">
        <div class="landing-main-row-item">
            <p style="font-size: 30px;">Welcome to CodeBuddy!</p>
            <p>Learn how to code in an environment that provides all the tools you need to interact with your instructor in helpful ways.</p>
        
            <div class="top-space">
                {% if mode == "production" %}
                    <a class="button is-primary is-medium" href="/login">Sign in</a>
                {% else %}
                    <a class="button is-primary is-medium" href="/devlogin">Sign in</a>
                {% end %}
            </div>
        </div>
        <div class="landing-main-row-item">
            <img src="/static/my-ide.png">
        </div>
    </div>
    <div class="landing-courses">
        <div class="landing-courses-heading">
            Available courses
        </div>
        <div class="landing-course-list">
            {% for course in courses %}
                <div class="landing-course box has-background-light">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-128x128">
                                <img src="/static/dark_default_course.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <div class="row-container">
                                    <p><strong>{{ course[1]["title"] }}</strong>&nbsp;
                                    {% if course[1]["passcode"] %}
                                        <i class="fas fa-lock fa-lg"></i>
                                    {% else %}
                                        <i class="fas fa-lock-open fa-lg"></i>
                                    {% end %}
                                    </p>
                                </div>
                                <br />
                                <p>
                                    <a class="button is-primary" onclick="showCourseModal('{{ course[1]['title'] }}', `{{ course[1]['introduction'] }}`)">View details</a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            {% end %}
        </div>
    </div>

    <div id="course_modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="title"></p>
            <p id="introduction"></p>
        </div>
    </div>
</div>
