<p class="title is-size-2 is-spaced">
    Import a course
</p>

<p>
    Use this page to import a course that has previously been exported from this tool. The file must be zipped.
</p>

{% if result %}
  {% if result.startswith("Error:") %}
    <p><div class='notification is-danger' style='background-color: #f4a582'><strong>{{ result }}</strong></div></p>
  {% else %}
    <p><div class='notification is-success' style='background-color: #80cdc1'><strong>{{ result }}</strong></div></p>
  {% end %}
{% end %}

<form method="post" action="/import_course" enctype="multipart/form-data">

<p>
    <input type="file" name="zip_file" id="zip_file" accept=".zip">
</p>

<p><input type="submit" class="button is-info is-large is-fullwidth" value="Import" /></p>

</form>
