<h2>Manage Users</h2></br>

<form method="post" action="/manage_users/{{ course_basics["id"] }}">

<div class="field">
  <label class="label is-large">Remove all submissions for an existing user:</label>
  <div class="control">
    <textarea name="remove_user" class="textarea is-primary is-fullwidth" type="text" rows="1" placeholder="Enter ID (email address) of an existing user."></textarea>
  </div>
</div>

<div class="field">
  <p class="control">
    <button class="button is-primary is-small is-rounded">Remove</button>
  </p>
</div></br></br>

<div class="field">
  <label class="label is-large">Delete an existing user:</label>
  <div class="control">
    <textarea name="delete_user" class="textarea is-primary is-fullwidth" type="text" rows="1" placeholder="Enter ID (email address) of an existing user."></textarea>
  </div>
</div>

<div class="field">
  <p class="control">
    <button class="button is-primary is-small is-rounded">Delete</button>
  </p>
</div>

{% if result %}
    {% if result.startswith("Success") %}
        <article class="message is-success is-large">
            <div class="message-body">
                {{ result }}
            </div>
        </article>
    {% else %}
        <article class="message is-danger is-large">
            <div class="message-body">
                {{ result }}
            </div>
        </article>
    {% end %}
{% end %}

</form>

<p>
    <br/><a href="/course/{{ course_basics["id"] }}">Back to course</a>
</p>