            <div class="navbar-item has-dropdown is-hoverable">
                {% if len(exercises) > 0 %}
                    <a class="navbar-link" href="/assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">Exercises</a>

                    <div id="moreDropdown" class="navbar-dropdown is-size-4">
                        {% for exercise in exercise_statuses %}
                            <a class="navbar-item " href="/exercise/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ exercise[0] }}">
                                {% if exercise[1]["passed"] %}
                                    <img src="/static/greencheck.png" alt="Completed" class="navbar-img"/>
                                {% elif exercise[1]["in_progress"] %}
                                    <img src="/static/inprogress.png" alt="In progress" class="navbar-img"/>
                                {% else %}
                                    <img src="/static/unchecked.png" alt="Not completed" class="navbar-img"/>
                                {% end %}
                                {{ exercise[1]["title"] }}
                            </a>
                        {% end %}
                    </div>
                {% end %}
            </div>
