            <div class="navbar-item has-dropdown is-hoverable">
                {% if len(assignments) > 0 and "assignment_basics" in globals() and assignment_basics["exists"] %}
                    <a class="navbar-link is-arrowless" href="/assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">
                        {{ assignment_basics["title"] }}
                        <i class="fas fa-chevron-down" style="margin-left: 10px;"></i>
                    </a>

                    <div id="moreDropdown" class="navbar-dropdown">
                    {% for assignment in assignments %}
                        <a class="navbar-item" href="/assignment/{{ course_basics['id'] }}/{{ assignment[0] }}">{{ assignment[1]["title"] }}</a>
                    {% end %}
                    </div>
                {% end %}
            </div>
