            <div class="navbar-item has-dropdown is-hoverable">
                {% if len(assignments) > 0 %}
                    <a class="navbar-link" href="/course/{{ course_basics["id"] }}">Assignments</a>

                    <div id="moreDropdown" class="navbar-dropdown is-size-4">
                    {% for assignment in assignments %}
                        <a class="navbar-item" href="/assignment/{{ course_basics["id"] }}/{{ assignment[0] }}">{{ assignment[1]["title"] }}</a>
                    {% end %}
                    </div>
                {% end %}
            </div>
