            <div class="navbar-item has-dropdown is-hoverable">
                {% if problem_basics["exists"] %}
                    <a class="navbar-link" href="/problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["id"] }}">
                        {{ problem_basics["title"] }}
                    </a>

                    {% if len(problems) > 0 %}
                        <div id="moreDropdown" class="navbar-dropdown is-size-4">
                            {% for problem in problems %}
                                <a class="navbar-item " href="/problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem[0] }}">
                                    {{ problem[1]["title"] }}
                                </a>
                            {% end %}
                        </div>
                    {% end %}
                {% end %}
            </div>
