{% if course_basics["exists"] %}
    {% if assignment_basics["exists"] %}
        {% if problem_basics["exists"] %}
            <h2>{{ problem_basics["title"] }}</h2>

            <p>{{ problem_details["instructions"] }}</p>

            {% if len(problem_details["data_urls_info"]) > 0 %}
              <h5>
                {% if len(problem_details["data_urls_info"]) > 1 %}
                  Data files:
                {% else %}
                  Data file:
                {% end %}
              </h5>

              <ul>
              {% for item in problem_details["data_urls_info"] %}
                <li><a href="{{ item[0] }}">{{ item[0] }}</a> (<a href="/data/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["id"] }}/{{ item[1] }}">cached version</a>)</li>
              {% end %}
              </ul>
            {% end %}

            {% if problem_details["show_test_code"] and len(problem_details["test_code"]) > 0 %}
              <h4>Test code (to be executed after your code):</h4>

              <pre>{{ problem_details["test_code"] }}</pre>
            {% end %}

            <script>
            function build_code_output(json_output, error_occurred) {
              code_output = ""

              {% if problem_details["output_type"] == "txt" %}
                  if (json_output == "") {
                      code_output += "<p><pre>[Your code produced no output.]</pre></p>";
                  }
                  else {
                      code_output += "<p><pre>" + json_output + "</pre></p>";
                  }
              {% else %}
                  if (error_occurred) {
                      code_output += "<p><pre>" + json_output + "</pre></p>";
                  }
                  else {
                      code_output += "<p><figure class='img'><img src='data:image/jpg;base64," + json_output + "' width='100%' /></figure></p>";
                  }
              {% end %}

              return code_output;
            }

            function display_check_code(json_data) {
              var code_output = "<h2>Your output:</h2>\n\n";
              var diff_output = "";
              var result = "";

              code_output += build_code_output(json_data.code_output, json_data.error_occurred);

              if (json_data.passed) {
                  result = "<div class='notification is-success' style='background-color:#80cdc1; color:#34495e'><p><strong>Congratulations! Your code produces the expected output.</strong></p>\n\n";
                  {% if problem_details["show_answer"] %}
                      result += "<p>Click <a style='color:#2166ac' href='/view_answer/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["id"] }}'>here</a> to view the instructor's answer.</p>"; 
                  {% end %}
                  {% if "next_problem" in globals() and next_problem %}
                      result += "<p><strong><a href='/problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["next_problem"] }}'>Next Problem</a></strong></p>\n\n";
                  {% end %}

                  result += "</div>\n\n"
              }
              else {
                  result = "<div class='notification is-danger' style='background-color:#f4a582; color:#34495e'><p><strong>Did not pass.</strong></p>\n\n<p>Your output does not match the expected output. Please modify your code and try again.</div>\n\n";

                  {% if problem_details["show_expected"] and len(problem_details["expected_output"]) > 0 %}
                      if (!json_data.error_occurred) {
                          diff_output += "<h2>Difference between expected output and your output:</h2>\n\n";

                          {% if problem_details["output_type"] == "txt" %}
                              if (json_data.diff_output.length > 0)
                                  diff_output += "<p><pre>" + json_data.diff_output + "</pre></p>\n\n<p><em>A <code>+</code> in brackets indicates that your output had an extra character.<br />A <code>-</code> in brackets indicates that your output was missing the specified character.</em></p>";
                          {% else %}
                              if (json_data.diff_output.length > 0)
                                  diff_output += "<p><figure class='img'><img src='data:image/jpg;base64," + json_data.diff_output + "' width='100%' /></figure></p>";
                          {% end %}
                      }
                  {% end %}
              }

              document.getElementById("code_output").innerHTML = code_output;
              document.getElementById("diff_output").innerHTML = diff_output;
              document.getElementById("result").innerHTML = result;
            }

            function run_code() {
                user_code = editor.getValue();
                if (user_code.trim() == "")
                    return false;

                result_div = document.getElementById("result");
                result_div.innerHTML = "<div class='notification is-warning'>Please wait while your code is being executed...</div>";
                result_div.scrollIntoView();
                document.getElementById("code_output").innerHTML = "";
                document.getElementById("diff_output").innerHTML = "";

                post_data = { "user_code": user_code };

                $.post("/run_code/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["id"] }}",
                    post_data,
                    function(data, status) {
                        var json_data = JSON.parse(data);
                        var code_output = "<h2>Your output:</h2>\n\n";
                        var result = "";

                        code_output += build_code_output(json_data.code_output, json_data.error_occurred);
                        document.getElementById("code_output").innerHTML = code_output;
                        document.getElementById("result").innerHTML = result;
                    })

                editor.focus();

                return false;
            }

            function check_code() {
                user_code = editor.getValue();

                if (user_code.trim() == "")
                    return false;

                result_div = document.getElementById("result");
                result_div.innerHTML = "<div class='notification is-warning'>Please wait while your code is being executed...</div>";
                result_div.scrollIntoView();
                document.getElementById("code_output").innerHTML = "";
                document.getElementById("diff_output").innerHTML = "";

                post_data = { "user_code": user_code, "date": new Date().toLocaleString("en-US", {timeZone: "UTC"}) };

                $.post("/check_problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["id"] }}",
                    post_data,
                    function(data, status) {
                        var json_data = JSON.parse(data);

                        display_check_code(json_data);
                    });

                editor.focus();

                return false;
            }

              function get_submission(submission_id) {
                  result_div = document.getElementById("result");
                  result_div.scrollIntoView();
                  document.getElementById("code_output").innerHTML = "";
                  document.getElementById("diff_output").innerHTML = "";

                  $.get("/get_submission/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["id"] }}/" + submission_id, 
                      function (data, status) {
                          var json_data = JSON.parse(data);
                          editor.setValue(json_data.code);

                          display_check_code(json_data);
                      });   

                  editor.focus();

                  return false;
              }

              function modify_auto_complete() {
              ac_box = document.getElementById("auto_complete");

              if (ac_box.checked) {
                editor.setOptions({
                enableBasicAutocompletion: false,
                enableSnippets: true,
                enableLiveAutocompletion: true
                });
              }
              else {
                editor.setOptions({
                enableBasicAutocompletion: false,
                enableSnippets: false,
                enableLiveAutocompletion: false
                });
              }
            }
            </script>

            <h2>Your code:</h2>

            <p>
                <textarea class="textarea is-info is-normal is-medium is-fullwidth" placeholder="Type your code here" rows="15" id="user_code" style="font-family:monospace"></textarea>
                <label class="is-pulled-right has-tooltip-multiline has-tooltip-left" data-tooltip="Auto-completion speeds up the coding process by reducing typos and other common mistakes.">
                  <img src="/static/tooltip.png" alt="Tooltip" height="25" width="25" style="vertical-align:top; padding:3px"/>
                </label>
                <label class="checkbox is-pulled-right">
                    Use auto-complete <input type="checkbox" id="auto_complete" name="auto_complete" value="true" checked onclick="modify_auto_complete()">
                </label>
            </p>

            <script src="/static/ace.js" type="text/javascript" charset="utf-8"></script>
            <script src="/static/mode-r.js" type="text/javascript"></script>
            <script src="/static/ext-language_tools.js"></script>
            <script>
              ace.require("ace/ext/language_tools");
              var editor = ace.edit("user_code", {
                theme: "ace/theme/tomorrow",
                autoScrollEditorIntoView: true,
                minLines: 20,
                fontSize: "12pt"
              });
              editor.focus();
              editor.getSession().setMode("{{ code_completion_path }}");
              modify_auto_complete();
            </script>

            <div class="field is-grouped">
              <p class="control"><button class="button is-primary is-light is-large is-halfwidth" onclick='run_code()'>Run Code</button></p>
              <p class="control"><button class="button is-primary is-large is-halfwidth" onclick='check_code()'>Submit</button></p>
              <p class="is-primary has-tooltip-multiline has-tooltip-right" data-tooltip="Hit 'Run Code' to run your current code and view the output. Once you're ready to submit your code, hit 'Submit' to compare your output with the expected output.">
                <img src="/static/tooltip.png" alt="Tooltip" height="20" width="20" style="vertical-align:top"/>
              </p>
            </div>

            <p><div id="result"></div></p>

            {% if problem_details["show_expected"] %}
              <div>
                <h2 style="display: inline">Expected output:</h2>
                <label class="has-tooltip-multiline has-tooltip-right" data-tooltip="Compare the output from your code with the expected output to find and fix errors in your code.">
                  <img src="/static/tooltip.png" alt="Tooltip" height="20" width="20" style="vertical-align:text-top; display: inline"/>
                </label>
              </div>  
                {% if problem_details["output_type"] == "txt" %}
                  <p><pre>{{ problem_details["expected_output"] }}</pre></p>
                {% else %}
                  <p><figure class="img"><img src="data:image/jpg;base64,{{ problem_details["expected_output"] }}" width="100%"/></figure></p>
                {% end %}
            {% else %}
              <p><em>This problem is configured so that the expected output is not shown.</em></p>
            {% end %}

            <p><span id="code_output"></span></p>
            <p><span id="diff_output"></span></p>

            {% if len(problem_details["credit"]) > 0 %}
              <p><em>{{ problem_details["credit"] }}</em></p>
            {% end %}  

            <h2>Past submissions:</h2>
            {% if len(submissions) > 0 %}
                  <div class="buttons">
                    {% for submission in submissions %}
                        {% if submission[1]["passed"] %}
                            <button style="background-color: #80cdc1; display: block; color: #34495e; width: 315px" class="button is-primary is-medium" onclick='get_submission("{{ submission[0] }}")'><b>{{ submission[0] }}.</b>   {{ submission[1]["date"] }}</button>
                        {% else %}
                            <button style="background-color: #f4a582; display: block; color: #34495e; width: 315px" class="button is-primary is-medium" onclick='get_submission("{{ submission[0] }}")'><b>{{ submission[0] }}.</b>   {{ submission[1]["date"] }}</button>
                        {% end %}
                    {% end %}
                  </div>
            {% else %}
                <p>You have not made any submissions for this problem.</p>
            {% end %}

            <p>
              <a href="/edit_problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["id"] }}">Edit problem</a>
            </p>
        {% else %}
          <p>This problem does not exist.</p>
        {% end %}
    {% else %}
      <p>This assignment does not exist.</p>
    {% end %}
{% else %}
  <p>This course does not exist.</p>
{% end %}