{% if len(problem_scores) > 0 %}
    <h2>Scores for {{ problem_basics["title"] }}</h2>

    <table class="table" id="scores_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th># Submissions</th>
                <th>Score</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
        {% for student in problem_scores %}
            <tr>
                <td>{{ student[1]["name"] }}</td>
                <td>{{ student[1]["user_id"] }}</td>
                <td>{{ student[1]["num_submissions"] }}</td>
                <td>{{ student[1]["score"] }}%</td>
                <td><a href="/student_problem/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ problem_basics['id'] }}/{{ student[1]['user_id'] }}">View</a></td>
            </tr>
        {% end %}  
        </tbody>
    </table>

{% else %}
    <h2>No submissions have been made for this exercise.</h2>
{% end %}

<a href="/assignment/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}">Back to assignment page</a>
