<style>
    .box:hover {
        opacity: 0.7;
    }
</style>

<link rel="stylesheet" href="/static/modal.css">

        <div style="text-align: center; margin-bottom: 40px;">
            <h3>Instructor Menu for {{ course['title'] }}</h3>
        </div>
        <div style="margin-bottom: 40px;">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="box has-background-info" style="padding: 50px;" onclick="showManageAssistants()">
                        <p class="has-text-white" style="text-align: center; font-size: larger;">Manage<br>Assistants</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-grey-light" style="padding: 50px;" onclick="showScoreSelect()">
                        <p class="has-text-white" style="text-align: center; font-size: larger;">View<br>Scores</p>
                    </div>
                </div>
                <div class="column">
                    <div class="box has-background-warning" style="padding: 50px;" onclick="window.location='/download_all_scores/{{ course["id"] }}';">
                        <p class="has-text-white" style="text-align: center; font-size: larger;">Download<br>All Scores</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="manage_assistants"
        {% if tab == "manage" %}
            style="display: inline;"
        {% else %}
            style="display: none;"
        {% end %}>

            <div id="remove_assistant_modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p id="confirm"></p>
                    <p class="buttons">
                        <a id="remove_cancel_button" class="button is-small is-primary is-light" style="margin-top: 10px;">Cancel</a>
                        <a id="remove_button" class="button is-small is-primary" style="margin-top: 10px;">Remove</a>
                    </p>
                </div>
            </div>

            <div id="add_assistant_modal" class="modal">
                <div class="modal-content">
                    <form method="post" action="/profile/instructor/{{ course['id'] }}/{{ user_info['user_id'] }}">
                    <span class="close">&times;</span>
                    <p>Add an assistant:</p>
                    <input class="input is-medium is-link" type="text" id="new_assistant" name="new_assistant" placeholder="Enter ID (email address) of an existing user."/>
                    <p class="buttons">
                        <a id="add_cancel_button" class="button is-small is-primary is-light" style="margin-top: 10px;">Cancel</a>
                        <input type="submit" id="add_button" class="button is-small is-primary" style="margin-top: 10px;" value="Add"/>
                    </p>
                    </form>
                </div>
            </div>

            <h2>Current assistants:</h2>
            
            {% if assistants %}
                <ul>
                {% for user in assistants %}
                    <li>{{ user }} <a onclick="showRemoveModal({{ user }})">remove</a></li>
                {% end %}
                </ul>
            {% else %}
                <p>There are no existing assistants for this course.</p>
            {% end %}
            
            <div class="buttons">
                <a class="button is-primary is-small is-rounded" onclick="showAddModal()">Add Assistant</a>
            </div>
            
            {% if result %}
                {% if result.startswith("Error:") %}
                    <p><div class='notification is-danger' style='background-color: #f4a582'><strong>{{ result }}</strong></div></p>
                {% else %}
                    <p><div class='notification is-success' style='background-color: #80cdc1'><strong>{{ result }}</strong></div></p>
                {% end %}
            {% end %}
    
        </div>
    
        <div id="score_select" style="display: none;">
            {% if assignments %}
                <h2>Select an assignment to view its scores:</h2>
                <ul>
                {% for assignment in assignments %}
                    <li><a href="/view_scores/{{ course['id'] }}/{{ assignment[1]['id'] }}">{{ assignment[1]['title'] }}</a></li>
                {% end %}
                </ul>
            {% else %}
                <p>There are no scores for this course.</p>
            {% end %}
        </div></br></br></br>
    </div>
</div>

<script>
function showManageAssistants() {
    var manage_assistants = document.getElementById("manage_assistants");
    var score_select = document.getElementById("score_select");
    manage_assistants.style.display = "inline";
    score_select.style.display = "none";
}

function showScoreSelect() {
    var manage_assistants = document.getElementById("manage_assistants");
    var score_select = document.getElementById("score_select");
    manage_assistants.style.display = "none";
    score_select.style.display = "inline";
}

function showAddModal() {
    var modal = document.getElementById("add_assistant_modal");
    var span = document.getElementsByClassName("close")[1];
    modal.style.display = "block";

    var cancelButton = document.getElementById("add_cancel_button");
    var addButton = document.getElementById("add_button");

    cancelButton.onclick = function() {
        modal.style.display = "none";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
}

function showRemoveModal(assistant_id) {
    var modal = document.getElementById("remove_assistant_modal");
    var span = document.getElementsByClassName("close")[0];
    modal.style.display = "block";

    var confirm_message = document.getElementById("confirm");
    confirm_message.innerHTML = "Are you sure you want to remove " + assistant_id + " as an assistant for this course?";

    var cancelButton = document.getElementById("remove_cancel_button");
    var removeButton = document.getElementById("remove_button");

    removeButton.onclick = function() {
        $.post("/remove_assistant/{{ course['id'] }}/" + assistant_id);
    }

    cancelButton.onclick = function() {
        modal.style.display = "none";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
}
</script>