        <!--<div class="buttons has-addons is-centered" style="margin: 10px;">
            <a class="button is-normal is-primary is-rounded" id="current" onclick="clickCurrent()">Current Courses</a>
            <a class="button is-normal is-primary is-light is-rounded" id="past" onclick="clickPast()">Past Courses</a>
        </div>-->
        
        <div style="margin-bottom: 40px;">
          <div style="margin-bottom: 40px;">
            <h2 style="display: inline">My Courses</h2>
            <div class="buttons is-pulled-right">
              <a class="button is-normal is-white is-rounded" onclick="showRegistration()">Register for a course</a>
            </div>
          </div>
          <div>
            {% if registered_courses %}
              {% for course in registered_courses %}
                <div class="columns">
                  <div class="column is-one-third">
                      <div class="box has-background-link" style="padding: 50px;" onclick="window.location='/course/{{ course[1]["id"] }}';">
                          <p class="has-text-white" style="text-align: center; font-size: larger;">{{ course[1]["title"] }}</p>
                      </div>
                  </div>
                </div>
              {% end %}
            {% else %}
                <p>No current courses</p>
            {% end %}
          </div>
        </div>

        <div id="register_div"
          {% if not result %}
            style="display: none;">
          {% else %}
            >
          {% end %}
            {% if result %}
                {% if result.startswith("Error:") %}
                    <p><div class='notification is-danger' style='background-color: #f4a582'><strong>{{ result }}</strong></div></p>
                {% else %}
                    <p><div class='notification is-success' style='background-color: #80cdc1'><strong>{{ result }}</strong></div></p>
                {% end %}
            {% end %}

            <form method="post" action="/profile/courses/{{ user_info['user_id'] }}">

            <label class="label">Select a course:</label>
            <div class="select is-info is-medium">
              <select id="course_select" name="course_select" onchange="showPasscodeDiv()">
                <option selected disabled>Course</option>
                {% for course in courses %}
                  <option>{{ course[1]["title"] }}</option>
                {% end %}
              </select>
            </div>

            <div id="passcode_div" style="display: none;">
              <p>Please enter the passcode for this course:</p>
              <input class="input is-medium is-link" type="text" id="passcode" name="passcode"/>
              <p class="buttons">
                <button type="button" id="cancel_button" class="button is-small is-warning is-light" style="margin-top: 10px;">Cancel</button>
                <input type="submit" id="register_button" class="button is-small is-primary" style="margin-top: 10px;" value="Register"/>
              </p>
            </div>

            </form>
        </div>

    </div>
</div>

<script>
    function showRegistration() {
        var div = document.getElementById("register_div");
        div.style.display = "inline";
    }

    function showPasscodeDiv() {
        var passcode_div = document.getElementById("passcode_div");
        passcode_div.style.display = "inline";

        var cancelButton = document.getElementById("cancel_button");
        var registerButton = document.getElementById("register_button");

        cancelButton.onclick = function() {
          passcode_div.style.display = "none";
          var course_select = document.getElementById("course_select");
          course_select.value = "Course";
        }
    }

    /*function clickCurrent() {
        var currButton = document.getElementById("current");
        var pastButton = document.getElementById("past");
        currButton.className = "button is-normal is-primary is-rounded";
        pastButton.className = "button is-normal is-primary is-light is-rounded";

        var currCourses = document.getElementById("currentCourses");
        var pastCourses = document.getElementById("pastCourses");
        currCourses.style.display = "inline";
        pastCourses.style.display = "none";
    }

    function clickPast() {
        var currButton = document.getElementById("current");
        var pastButton = document.getElementById("past");
        currButton.className = "button is-normal is-primary is-light is-rounded";
        pastButton.className = "button is-normal is-primary is-rounded";

        var currCourses = document.getElementById("currentCourses");
        var pastCourses = document.getElementById("pastCourses");
        currCourses.style.display = "none";
        pastCourses.style.display = "inline";
    }*/
</script>