        <div class="tab-title">
            <h3>Error Suggestions</h3>
            <p>Write suggestions in response to error messages received by students</p>
        </div> 

        <div class="bottom-spacing">
            <p class="instructor-content">This feature allows you to view error messages that have been received by students in your class. For each
                message, you're able to write a suggestion in response that will be available to the student who received the message,
                as well as any other student who receives the same message moving forward.
            </p>
        </div>

        {% if courses %}
            <div>
                <p>To use this feature, please select a course below:</p>
                <ul>
                {% for course in courses %}
                    <li><a href="/error_suggestions/{{ course[0] }}">{{ course[1]["title"] }}</a></li>
                {% end %}
                </ul>
            </div>
        {% else %}
            <p>There are no available courses</p>
        {% end %}

    </div>
</div>