<div class="columns">
    <div class="column is-one-quarter">
        <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li><a 
                {% if page == "personal_info" %}
                    class="is-active"
                {% end %}
                >Personal info</a></li>
            </ul>
            <p class="menu-label">
              Settings
            </p>
            <ul class="menu-list">
              <li><a
                {% if page == "preferences" %}
                    class="is-active"
                {% end %}
                >Preferences</a></li>
            </ul>
        </aside>
    </div>
    <div class="column is-three-quarters" style="text-align: center;">
        <img src="{{ user_info['picture'] }}" alt="Profile Photo" style="border-radius: 50%; display: inline-block; vertical-align: middle; margin: 10px;"/>
        <span style="font-size: larger;"><b>{{ user_info["name"] }}</b></span>
    </div>
</div>