        <link rel="stylesheet" href="/static/modal.css">

        <style>
          .scroll_div {
            height: 300px;
            width: 100%;
            overflow-y: auto;
            position: relative;
            padding-bottom: 20px;
          }
          .course_div {
            box-shadow: 3px 3px 6px lightgray;
          }
        </style>

        <div id="leave_course_modal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>Are you sure you want to leave this course?</p>
            <p class="buttons">
              <button type="button" id="leave_cancel_button" class="modal-button button is-small is-primary is-light">Cancel</button>
              <a id="leave_button" class="modal-button button is-small is-primary">Leave</a>
            </p>
          </div>
        </div>
        
        <div class="bottom-spacing">
          <div class="bottom-spacing">
            <h2 style="display: inline">My Courses</h2>
            {% if not is_administrator and not is_instructor %}
              <div class="buttons is-pulled-right">
                <a class="button is-normal is-white is-rounded" onclick="showRegistration()">Register for a course</a>
              </div>
            {% end %}
          </div>
          <div>
            {% if registered_courses %}
              <div class="columns">
                <div class="column is-three-fifths">
                  {% for course in registered_courses %}
                    <div class="course_div box has-background-white">
                      <article class="media">
                        <div class="media-left">
                          <figure class="image is-128x128">
                            <img src="/static/default_course.png" alt="Image">
                          </figure>
                        </div>
                        <div class="media-content">
                          <div class="content">
                            <nav class="level">
                              <div class="level-left">
                                <p class="level-item">
                                  <strong>{{ course[1]["title"] }}</strong>
                                </p>
                              </div>
                              {% if not is_administrator and not is_instructor %}
                                <div class="level-right">
                                  <div class="dropdown is-hoverable is-right">
                                    <div class="dropdown-trigger">
                                      <a class="level-item">
                                        <span class="icon is-medium">
                                          <img src="/static/dots.png">
                                        </span>
                                      </a>
                                    </div>
                                    <div class="dropdown-menu">
                                      <div class="dropdown-content">
                                        <a class="dropdown-item" onclick="showLeaveCourseModal({{ course[0] }})">Leave course</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              {% end %}
                            </nav>
                            <!--<p>Instructor: </p>-->
                            <div class="modal-button">
                              <a class="button is-small is-fullwidth is-rounded is-link" href="/course/{{ course[0] }}">View Course</a>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div></br>
                  {% end %}
                </div>
              </div>
            {% else %}
                <p>No current courses</p>
            {% end %}
          </div>
        </div>

        {% if result %}
          {% if result.startswith("Error:") %}
              <p><div class="notification error-message"><strong>{{ result }}</strong></div></p>
          {% else %}
              <p><div class="notification success-message"><strong>{{ result }}</strong></div></p>
          {% end %}
        {% end %}

        <div id="register_div" class="invisible">

            <form method="post" action="/profile/courses/{{ user_info["user_id"] }}">

            <div id="passcode_modal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>

                <p>Please enter the passcode for this course:</p>
                <input class="input is-medium is-link" type="text" id="passcode" name="passcode"/>

                <p class="buttons">
                  <button type="button" id="passcode_cancel_button" class="modal-button button is-small is-primary is-light">Cancel</button>
                  <input type="submit" id="passcode_register_button" class="modal-button button is-small is-primary" value="Register"/>
                </p>
              </div>
            </div>

            <div id="register_modal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <p>Are you sure you want to register for this course?</p>
                <p class="buttons">
                  <button type="button" id="register_cancel_button" class="modal-button button is-small is-primary is-light">Cancel</button>
                  <input type="submit" id="register_button" class="modal-button button is-small is-primary" value="Register"/>
                </p>
              </div>
            </div>

            <input id="course_id" name="course_id" class="invisible">

            </form>

            <p style="font-size: x-large;">Available courses:</p>

            {% if available_courses %}
              <div class="scroll_div">
                {% for course in available_courses %}
                  <div>
                    <p style="font-size: larger;"><strong>{{ course[1]["title"] }}</strong>
                      <a class="register-button button is-normal is-primary is-rounded" 
                      {% if course[1]['passcode'] %}
                        onclick="showPasscodeModal({{ course[1]['id'] }})"
                      {% else %}
                        onclick="showRegisterModal({{ course[1]['id'] }})"
                      {% end %}
                        >Register</a>
                    </p>
                    <p style="font-size: small;">{{ course[1]["introduction"] }}</p>
                  </div></br>
                {% end %}
              </div>
            {% else %}
              <p>There are no available courses</p>
            {% end %}
        </div>
    </div>
</div>

<script>
    function showRegistration() {
        var div = document.getElementById("register_div");
        div.style.display = "inline";
    }

    function showPasscodeModal(course_id) {
        var modal = document.getElementById("passcode_modal");
        var span = document.getElementsByClassName("close")[1];
        modal.style.display = "block";

        var course_id_input = document.getElementById("course_id");
        course_id_input.value = course_id;

        var cancelButton = document.getElementById("passcode_cancel_button");

        cancelButton.onclick = function() {
          modal.style.display = "none";
        }
        span.onclick = function() {
          modal.style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    }

    function showRegisterModal(course_id, title) {
        var modal = document.getElementById("register_modal");
        var span = document.getElementsByClassName("close")[2];
        modal.style.display = "block";

        var course_id_input = document.getElementById("course_id");
        course_id_input.value = course_id;

        var cancelButton = document.getElementById("register_cancel_button");

        cancelButton.onclick = function() {
          modal.style.display = "none";
        }
        span.onclick = function() {
          modal.style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    }

    function showLeaveCourseModal(course_id) {
        var modal = document.getElementById("leave_course_modal");
        var span = document.getElementsByClassName("close")[0];
        modal.style.display = "block";

        var cancelButton = document.getElementById("leave_cancel_button");
        var leaveButton = document.getElementById("leave_button");

        leaveButton.onclick = function() {
          $.post("/unregister/" + course_id + "/{{ user_info['user_id'] }}");
          modal.style.display = "none";
          location.reload();
        }

        cancelButton.onclick = function() {
          modal.style.display = "none";
        }
        span.onclick = function() {
          modal.style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    }
</script>
