
        <div class="tab-title">
            <h3>Preferences</h3>
        </div>

        <form method="post" action="/profile/preferences/{{ user_info['user_id'] }}">

        <div class="columns">
            <div class="column is-one-third">
                <div class="bottom-space">
                    <p><strong>Text editor theme:</strong></p>
                    <div class="select is-light" style="margin-bottom: 10px;">
                        <select name="ace_theme" class="edit-select" onchange="changeTheme(this.value)">
                            {% for theme in ace_themes %}
                                {% if theme == user_info["ace_theme"] %}
                                    <option selected>{{ theme }}</option>
                                {% else %}
                                    <option>{{ theme }}</option>
                                {% end %}
                            {% end %}
                        </select>
                    </div>
                </div>

                <div class="bottom-space">
                    <p><strong>Use auto-complete: </strong></p>
                    <div class="select is-light">
                        <select name="use_auto_complete" class="edit-select" onchange="updateAutoComplete(this.value)">
                        {% if user_info["use_auto_complete"] %}
                            <option value="Yes" selected>Yes</option>
                            <option value="No">No</option>
                        {% else %}
                            <option value="Yes">Yes</option>
                            <option value="No" selected>No</option>
                        {% end %}
                        </select>
                    </div>
                </div>

                <div class="bottom-space">
                    <p><strong>Use Vim: </strong></p>
                    <div class="select is-light">
                        <select name="enable_vim" class="edit-select">
                        {% if user_info["enable_vim"] %}
                            <option value="Yes" selected>Yes</option>
                            <option value="No">No</option>
                        {% else %}
                            <option value="Yes">Yes</option>
                            <option value="No" selected>No</option>
                        {% end %}
                        </select>
                    </div>
                </div>

                <div class="buttons">
                    <input type="submit" class="button is-dark" value="Save" />
                </div>
            </div>
            <div class="column is-two-thirds">
                <div id="ace_div">
                    <textarea name="preview" id="preview" class="textarea is-light monospace" rows="10">
                    cloneAnimals = function(vec, x) {
                        newvec = rep(vec, each = x+1)
                        return(sort(newvec))
                    }

                    birds = c("parrot", "flamingo", "ostrich", "owl", "peacock")
                    print(cloneAnimals(birds, 2))</textarea>
                </div>
            </div>
        </div>

        </form>

    </div>
</div>

<script>
    ace.require("ace/ext/language_tools");
    var preview_editor = ace.edit("preview", {
        theme: "ace/theme/{{ user_info['ace_theme'] }}",
        autoScrollEditorIntoView: true,
        minLines: 10,
        maxLines: 15,
        fontSize: "12pt",
        mode: "ace/mode/r"
    });

    updateAutoComplete({{ user_info["use_auto_complete"] }});
    preview_editor.focus();

    function changeTheme(theme) {
        preview_editor.setTheme("ace/theme/" + theme);
    }

    function updateAutoComplete(use_auto_complete) {
        if (use_auto_complete == "Yes" || use_auto_complete == 1) {
            preview_editor.setOptions({
            enableBasicAutocompletion: false,
            enableSnippets: true,
            enableLiveAutocompletion: true
            });
        }
        else {
            preview_editor.setOptions({
            enableBasicAutocompletion: false,
            enableSnippets: false,
            enableLiveAutocompletion: false
            });
        }
    }
</script>
