<h2>Remove administrator:</h2>

{% if result %}
  {% if result.startswith("Error:") %}
    <p><div class='notification is-danger' style='background-color: #f4a582'><strong>{{ result }}</strong></div></p>
  {% else %}
    <p><div class='notification is-success' style='background-color: #80cdc1'><strong>{{ result }}</strong></div></p>
  {% end %}
  <p><a href="/add_admin">Back to permissions page</a></p>
{% end %}

{% if not result %}
    <form method="post" action="/remove_admin/{{ old_admin }}">

    <p><strong>{{ old_admin }}</strong></p>

    <p><font color="red">Are you sure you want to remove this user from the administrator list?</font></p>

    <p><input type="submit" class="button is-info is-large is-fullwidth" value="Confirm" /></p>

    <p><a href="/add_admin">Back to permissions page</a></p>

    </form>
{% end %}