{% if course_basics["exists"] %}
  {% if assignment_basics["exists"] %}
    <h2>{{ assignment_basics["title"] }}</h2>

    <h4>View scores for {{ student_info["name"] }}</h4>
    <p>Click on an exercise to view the student's past submissions.</p>

    <div class="columns">
      <div class="column is-half">

        <table class="table" id="scores_table">
          <thead>
            <tr>
              <th>Exercise</th>
              <th># Submissions</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {% for problem in problem_statuses %}
              <tr>
              {% if problem[1]["num_submissions"] > 0 %}
                <td><a href="/student_problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem[1]["id"] }}/{{ student_info["user_id"] }}">{{ problem[1]["title"] }}</a></td>
              {% else %}
                <td>{{ problem[1]["title"] }}</td>
              {% end %}
              <td>{{ problem[1]["num_submissions"] }}</td>
              <td>{{ round(problem[1]["score"]) }}%</td>
              </tr>
            {% end %}    
          </tbody>
        </table>

        <br />
        <a href="/view_scores/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}">Back to all scores</a> |
        <a href="/edit_scores/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ student_info["user_id"] }}">Edit scores</a>

      </div>
    </div>

  {% end %}
{% end %}
<br /><br />
