{% if course_basics["exists"] %}
    {% if assignment_basics["exists"] %}
        {% if problem_basics["exists"] %}
            <h2>{{ student_info["name"] }}'s submissions</h2>
        
            <p><em>Assignment</em>: {{ problem_basics["assignment"]["title"] }}</p>
        
            <p><em>Problem</em>: {{ problem_basics["title"] }}</p>

            <p>{{ problem_details["instructions"] }}</p>

            {% if len(problem_details["data_url"]) > 0 %}
                <p><em>The data originated from <a href="{{ problem_details['data_url'] }}" target="_blank">here</a>.</em></p>

                <p>
                    <b>{{ problem_details["data_file_name"] }}</b>
                    <button id="show_hide_data_button" onclick="show_hide_data()">Show</button>
                </p>
                <pre id="data_panel" hidden>{{ problem_details["data_contents"] }}</pre>
            {% end %}

            <h2>Instructor's solution:</h2>

            <pre>{{ problem_details["answer_code"]}}</pre>

            <p>
                <div>
                    <h2 id="your_code_header" style="display: inline">Student's solution:</h2>
                </div>
            </p>

            <p>
                <textarea class="textarea is-info is-normal is-medium is-fullwidth monospace" placeholder="Type your solution here" rows="15" id="user_code"></textarea>
                <label class="is-pulled-right has-tooltip-multiline has-tooltip-left" data-tooltip="Auto-completion speeds up the coding process by reducing typos and other common mistakes.">
                    <img src="/static/tooltip.png" alt="Tooltip" class="tooltip-img"/>
                </label>
                <label class="checkbox is-pulled-right">
                    Use auto-complete <input type="checkbox" id="auto_complete" name="auto_complete" value="true" checked onclick="update_auto_complete()">
                </label>
            </p>
            <br />
            <div id="revert_div" hidden></div>

            <div id="submissions"></div>

            <p><div id="result"></div></p>

              <div>
                <h2 style="display: inline">Expected output:</h2>
              </div>

              {% if problem_details["output_type"] == "txt" %}
                  <p><pre>{{ problem_details["expected_text_output"] }}</pre></p>
              {% else %}
                  <p><figure class="img"><img src="data:image/jpg;base64,{{ problem_details['expected_image_output'] }}" width="100%"/></figure></p>
              {% end %}

              {% if problem_details["back_end"] != "any_response" %}
                  <p><span id="code_output"></span></p>

                  {% if problem_details["show_expected"] %}
                      <p><span id="diff_output"></span></p>
                  {% end %}
              {% end %}
