{% if course_basics["exists"] %}
  {% if assignment_basics["exists"] %}
    <h2>{{ assignment_basics["title"] }}</h2>

    <h4>View scores for {{ student_id }}</h4>
    <p>Click on a problem to view the student's past submissions.</p>

    <div class="columns">
      <div class="column is-half">

        {% for problem in problem_statuses %}
            {% if problem[1]["num_submissions"] > 0 %}
                <a href="/student_problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem[1]["id"] }}/{{ student_id }}">{{ problem[1]["title"] }}</a>
            {% else %}
                {{ problem[1]["title"] }}
            {% end %}
            <label class="is-pulled-right">
                Number of submissions: {{ problem[1]["num_submissions"] }} | Score: 
                {% if problem[1]["passed"] %}
                    100%
                {% else %}
                    0%
                {% end %}
            </label>
            <br />
        {% end %}

        <br />
        <a href="/view_scores/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}">Back to all scores</a>

      </div>
    </div>

  {% end %}
{% end %}