{% if course_basics["exists"] %}
    {% if assignment_basics["exists"] %}
        {% if problem_basics["exists"] %}
            <h2>{{ student_id }}'s submissions for "{{ problem_basics["title"] }}"</h2>

            <p>{{ problem_details["instructions"] }}</p>

            {% if len(problem_details["data_url"]) > 0 %}
                <p><em>The data for this problem originated from <a href='{{ problem_details["data_url"] }}' target="_blank">here</a>.</em></p>

                <p>
                    <b>{{ problem_details["data_file_name"] }}</b>
                    <button id="show_hide_data_button" onclick="show_hide_data()">Show</button>
                </p>
                <pre id="data_panel" hidden>{{ problem_details["data_contents"] }}</pre>
            {% end %}

            <h2>Answer code:</h2>

            <pre>{{ problem_details["answer_code"]}}</pre>

            <p>
                <div>
                    <h2 id="your_code_header" style="display: inline">Student's code:</h2>
                </div>
            </p>

            <p>
                <textarea class="textarea is-info is-normal is-medium is-fullwidth" placeholder="Type your code here" rows="15" id="user_code" style="font-family:monospace"></textarea>
            </p>
            <br />

            <div id="submissions"></div>

            <p><div id="result"></div></p>

              <div>
                <h2 style="display: inline">Expected output:</h2>
              </div>
                {% if problem_details["output_type"] == "txt" %}
                  <p><pre>{{ problem_details["expected_output"] }}</pre></p>
                {% else %}
                  <p><figure class="img"><img src="data:image/jpg;base64,{{ problem_details["expected_output"] }}" width="100%"/></figure></p>
                {% end %}

            <p><span id="code_output"></span></p>
            <p><span id="diff_output"></span></p> 

            <script>
            {% if len(problem_details["data_url"]) > 0 %}
                function show_hide_data() {
                    var button = document.getElementById("show_hide_data_button");
                    var data_panel = document.getElementById("data_panel");

                    if (data_panel.hidden) {
                        button.innerHTML = "Hide";
                        data_panel.hidden = false;
                    }
                    else {
                        button.innerHTML = "Show";
                        data_panel.hidden = true;
                    }
                }
            {% end %}

            function check_code(json_data) {
              var code_output = "<h2>Student output:</h2>\n\n";
              var diff_output = "";
              var result = "";

              code_output += build_code_output(json_data.code_output, json_data.error_occurred);

              if (json_data.passed) {
                  result = "<div class='notification is-success' style='background-color:#80cdc1; color:#34495e'><p><strong>Student's code produced the expected output.</strong></p>\n\n";
                  {% if "next_problem" in globals() and next_problem %}
                      result += "<p><strong><a href='/problem/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["next_problem"] }}'>Next Problem</a></strong></p>\n\n";
                  {% end %}

                  result += "</div>\n\n"
              }
              else {
                  result = "<div class='notification is-danger' style='background-color:#f4a582; color:#34495e'><p><strong>Did not pass.</strong></p>\n<p>Student output does not match the expected output.</div>\n\n";

                  {% if problem_details["show_expected"] and len(problem_details["expected_output"]) > 0 %}
                      if (!json_data.error_occurred && json_data.diff_output.length > 0) {
                          diff_output += "<h2>Difference between expected output and student output:</h2>\n\n";

                          {% if problem_details["output_type"] == "txt" %}
                              if (json_data.diff_output.length > 0)
                                  diff_output += "<p><pre>" + json_data.diff_output + "</pre></p>\n\n<p><em>A <code>+</code> in brackets indicates that student output had an extra character.<br />A <code>-</code> in brackets indicates that student output was missing the specified character.</em></p>";
                          {% else %}
                              if (json_data.diff_output.length > 0)
                                  diff_output += "<p><figure class='img'><img src='data:image/jpg;base64," + json_data.diff_output + "' width='100%' /></figure></p>";
                          {% end %}
                      }
                  {% end %}
              }

              document.getElementById("code_output").innerHTML = code_output;
              document.getElementById("diff_output").innerHTML = diff_output;
              document.getElementById("result").innerHTML = result;
            }*/

            function get_submission(submission_id, scroll) {
                var submission_buttons = document.getElementsByClassName('button is-primary is-medium');
                var i;
                for (i = 0; i < submission_buttons.length; i++)
                    if (submission_buttons[i].id == submission_id)
                        submission_buttons[i].style.border = "solid #34495e";
                    else
                        submission_buttons[i].style.border = "none";

                document.getElementById("code_output").innerHTML = "";
                document.getElementById("diff_output").innerHTML = "";

                $.get("/get_submission/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["id"] }}/" + submission_id, 
                    function (data, status) {
                        var json_data = JSON.parse(data);
                        editor.setValue(json_data.code, 1);
                });

                if (scroll)
                    document.getElementById("your_code_header").scrollIntoView();
                editor.focus();

                return false;
            }

            function show_past_submissions() {
                submissions_div = document.getElementById("submissions");

                $.get("/get_submissions/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ problem_basics["id"] }}/{{ student_id }}",
                    function (data, status) {
                        var json_data = JSON.parse(data);
                        var submission_html = "";

                        if (json_data.length > 0) {
                            submission_html += "<h2>Student submissions:</h2>\n";
                            submission_html += "<div class='buttons'>\n";

                            var i;
                            for (i = 0; i < json_data.length; i++) {
                                submission_id = json_data[i][0];
                                the_date = json_data[i][1];
                                passed = json_data[i][2];

                                if (passed)
                                    button_bg_color = "#80cdc1";
                                else
                                    button_bg_color = "#f4a582";

                                submission_html += `<button style='background-color: ${button_bg_color}; display: block; color: #34495e; width: 315px' class='button is-primary is-medium' id='${submission_id}' onclick='get_submission(${submission_id}, false)'><b>${submission_id}.</b> ${the_date}</button>`;
                            }

                            submission_html += "</div><br />\n";
                       }

                        submissions_div.innerHTML = submission_html;
                    });
            }
            </script>

            <script src="/static/ace.js" type="text/javascript" charset="utf-8"></script>
            <script src="/static/mode-r.js" type="text/javascript"></script>
            <script src="/static/ext-language_tools.js"></script>

            <script>
            ace.require("ace/ext/language_tools");
            var editor = ace.edit("user_code", {
                theme: "ace/theme/tomorrow",
                autoScrollEditorIntoView: true,
                minLines: 20,
                fontSize: "12pt"
            });
            editor.focus();
            editor.getSession().setMode("{{ code_completion_path }}");

            show_past_submissions();
            last_submission_id = {{ num_submissions }};
            </script>

            <br />
            <a href="/student_scores/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ student_id }}">Back to student scores</a>
            <br /><br /><br />

        {% else %}
          <p>This problem does not exist.</p>
        {% end %}
    {% else %}
      <p>This assignment does not exist.</p>
    {% end %}
{% else %}
  <p>This course does not exist.</p>
{% end %}
