{% if num_submissions > 0 %}
    <h4>Progress report for student {{ student_id }}</h4>

    <ul>
        {% for problem in student_problems %}
            <li><a href="/student_problem/{{ problem[1] }}/{{ problem[2] }}/{{ problem[3] }}/{{ student_id }}">Course: {{ course_dict[problem[1]] }} | Assignment: {{ assignment_dict[problem[2]] }} | Problem: {{ problem[0] }} | Number of submissions: {{ problem[4] }} | Passed: {{ problem[5] }}</a></li>
        {% end %}
    </ul>

{% else %}
    <p>This student has not made any submissions.</p>
{% end %}