<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="CodeBuddy">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <link rel="stylesheet" href="/static/bulma.0.9.3.min.css">
        <link rel="stylesheet" href="/static/css/mystyles.css">
        <link rel="stylesheet" href="/static/css/bulma-tooltip.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/font-awesome.5.3.1.all.min.js"
            integrity="sha512-IJcmeopmq+pfSnTIIqxay7uUBlIYP+f9wnqhfCMnfS5VOb2X9WDToczDCsbgXthcZZTNGbJyF+TvKSYGWeBpdQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" data-observe-mutations></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/js/all.min.js"
            integrity="sha512-IJcmeopmq+pfSnTIIqxay7uUBlIYP+f9wnqhfCMnfS5VOb2X9WDToczDCsbgXthcZZTNGbJyF+TvKSYGWeBpdQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" data-observe-mutations></script>-->
        <script
            src="/static/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <!--<script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>-->

        <title>CodeBuddy</title>

        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
            rel="stylesheet">

        <style type="text/css" media="screen">
            .ace_editor {
                border: 1px solid lightgray;
                margin: auto;
                height: 500px;
                width: 100%;
            }

            .scrollmargin {
                height: 80px;
                text-align: center;
            }
        </style>
    </head>

    <body>
            <div>
<script>
    const toggleBurger = () => {
        let burgerIcon = document.getElementById('burger');
        let dropMenu = document.getElementById('the_menu');
        burgerIcon.classList.toggle('is-active');
        dropMenu.classList.toggle('is-active');
    };

    // $(document).ready(function() {
    //     // Function to check if the navbar contents are wider than the available space
    //     function isNavbarOverflowed() {
    //         return $('.navbar-menu').prop('scrollWidth') > $('.navbar-menu').width();
    //     }

    //     // Function to toggle the burger icon and menu based on screen width and contents
    //     function toggleNavbar() {
    //         if ($(window).width() > 1224 && isNavbarOverflowed()) {
    //             $('.navbar-burger').show();
    //             $('.navbar-menu').hide();
    //         } else {
    //             $('.navbar-burger').hide();
    //             $('.navbar-menu').show();
    //         }
    //     }

    //     // Initial toggle when the page loads
    //     toggleNavbar();

    //     $(window).resize(function() {
    //         toggleNavbar();
    //     });

    //     // Toggle the navbar when the burger icon is clicked
    //     $('.navbar-burger').click(function() {
    //         $('.navbar-menu').toggle();
    //     });
    // });
    
    function toggleDropdown(div_id) {
        var element = document.getElementById(div_id);
        element.classList.toggle('is-active');
    }

    window.addEventListener('click', function(e) {
        for (menu of ["course", "assignment", "exercise", "menu"]) {
            var dropdown = document.getElementById(`${menu}_dropdown`);

            if (dropdown == null)
                continue;

            if (!dropdown.contains(e.target) && dropdown.classList.contains("is-active"))
                dropdown.classList.remove("is-active");
        }
    });
</script>

<nav id="navbar" class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation" style="border-radius: 0px; padding: 1px; box-shadow: 3px 3px 6px lightgray;">
    <div class="navbar-brand" style="padding: 3px 0px 0px 0px;">
        <a href="/" id="navbar-start">CodeBuddy <i class="fa fa-home" style="padding: 0 .3em; width:auto;" aria-hidden="true"></i></a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="burger" onclick="toggleBurger()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu is-size-5" id="the_menu">
        <div class="navbar-start">            </div>
            <div class="navbar-end">
                <div id="menu_dropdown" class="navbar-item has-dropdown" onclick="toggleDropdown('menu_dropdown')">
                    <div class="navbar-item is-arrowless" style="cursor: pointer;">
                        {{ user_info["given_name"] }}
                        <i class="fas fa-chevron-down" style="margin-left: 10px;"></i>
                    </div>

                    <div class="navbar-dropdown is-size-5 is-right">
                        <a class="navbar-item" href="/">Courses</a>

                        <a class="navbar-item" href="/my_profile/{{ user_info['user_id'] }}">My profile</a>

                        <a class="navbar-item" href="/preferences/{{ user_info['user_id'] }}">Preferences</a>

                        {% if is_administrator %}
                            <hr class="navbar-divider">

                            <a class="navbar-item" href="/edit_course/">Create course</a>

                            <a class="navbar-item" href="/manage_admins">Manage admins</a>

                            <a class="navbar-item" href="/manage_users">Manage users</a>

                            <a class="navbar-item" href="/summarize_logs">View logs</a>

                            <a class="navbar-item" href="/clean_up_courses">Clean up courses</a>
                        {% end %}

                        <hr class="navbar-divider">

                        <a class="navbar-item" href="/logout">Log out</a>
                    </div>
                </div>
            </div>        </div>
    </div>
</nav><div class="has-background-light container-padding">
    <div class="content is-medium"><link rel="stylesheet" href="/static/css/modal.css">
        
<div id="unregister_modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <p>Are you sure you want to unregister this student?</p>

        <article  id="unregister_error_message" class="message is-danger invisible">
        </article>

        <p class="buttons">
            <a id="unregister_cancel_button" class="modal-button button is-light">Cancel</a>
            <button type="button" id="unregister_button" class="modal-button button is-dark">Unregister</button>
        </p>
    </div>
</div>

<h4>Students in {{ course_basics['title'] }}:</h4>

<div class="table-container">
    <table class="table is-striped" id="scores_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                {% if is_administrator or is_instructor %}
                    <th></th>
                {% end %}
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td><a href="/view_student_assignments_scores/{{ course_basics['id'] }}/{{ student[0] }}">{{ student[1]["name"] }}</a></td>
                    <td>{{ student[0] }}</td>
                    <td>
                        {% if is_administrator or is_instructor %}
                            <a class="button" onclick="showUnregisterModal('{{ student[0] }}')">Unregister</a>
                        {% end %}
                    </td>
                </tr>
            {% end %}
        </tbody>
    </table>
</div>

<script>
    function showUnregisterModal(user_id, is_self) {
        var modal = document.getElementById("unregister_modal");
        var span = document.getElementsByClassName("close")[0];
        modal.style.display = "block";

        var cancelButton = document.getElementById("unregister_cancel_button");
        var unregisterButton = document.getElementById("unregister_button");

        cancelButton.onclick = function() {
          modal.style.display = "none";
        }

        unregisterButton.onclick = function() {
            $.ajax({
                type: 'GET',
                url: "/unregister/{{ course_basics['id'] }}/" + user_id,
                async: true})
                .done(function(message) {
                    if (message.startsWith("Error:")) {
                        $("#unregister_error_message").removeClass("invisible");
                        $("#unregister_error_message")[0].innerHTML = `<div class="message-body">${message}</div>`;
                    }
                    else {
                        modal.style.display = "none";

                        if (is_self)
                            window.location.href = "/";
                        else
                            window.location.href = window.location.href;
                    }
                })
                .fail(function(error) {
                    $("#unregister_error_message").removeClass("invisible");
                    $("#unregister_error_message")[0].innerHTML = `<div class="message-body">${error}</div>`;
                });
        }

        span.onclick = function() {
          modal.style.display = "none";
        }

        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    }
</script>    </div>
</div>                <div class="columns is-gapless has-text-centered is-size-6 pt-4 pb-4">
                    <div class="column">
                        <a href="/static/about.html">About</a>
                    </div>
                    <div class="column">
                        <a href="https://privacy.byu.edu" target="_blank">Privacy Notice</a>
                    </div>
                    <div class="column">
                        <a href="https://infosec.byu.edu/cookie-prefs" target="_blank">Cookie Preferences</a>
                    </div>
                    <div class="column">
                        <a href="/static/contact_us.html">Contact Us</a>
                    </div>
                </div>
        </div>
    </body>
</html>