{% if course_basics["exists"] %}
  {% if assignment_basics["exists"] %}
    <h2>{{ assignment_basics["title"] }}</h2>

    <link rel="stylesheet" href="/static/modal.css">

    <script>
      function showResetModal(student_id) {
        var modal = document.getElementById("reset_modal");
        var span = document.getElementsByClassName("close")[0];
        modal.style.display = "block";

        var cancelButton = document.getElementById("cancel_button");
        var resetButton = document.getElementById("reset_button");

        resetButton.onclick = function() {
          $.post("/reset_timer/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/" + student_id);
          modal.style.display = "none";
          location.reload();
        }

        cancelButton.onclick = function() {
          modal.style.display = "none";
        }

        span.onclick = function() {
          modal.style.display = "none";
        }
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
      }
    </script>

    <div id="reset_modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Are you sure you want to reset this timer?</p>
        <p class="buttons">
          <button id="cancel_button" class="button is-small is-light" style="margin-top: 10px;">Cancel</button>
          <button id="reset_button" class="button is-small is-dark" style="margin-top: 10px;">Reset</button>
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column is-half">

        {% if len(scores) == 0 %}
          <p><strong>No submissions have been made for this assignment.</strong></p>
        {% else %}

          <h4>View scores</h4>
          <p>Click on a student's ID to view their score and past submissions for each problem in this assignment.</p>

          <table class="table" id="scores_table">
            <thead>
              <tr>
                <th>Student ID</th>
                <th>Score</th>
                {% if assignment_details["has_timer"] %}
                  <th>Timer</th>
                {% end %}
              </tr>
            </thead>
            <tbody>
              {% for score in scores %}
                <tr>
                <td><a href="/student_scores/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}/{{ score[0] }}">{{ score[0] }}</a></td>
                <td>{{ round(score[1]["percent_passed"]) }}%</td>
                {% if assignment_details["has_timer"] %}
                  {% if score[0] in start_times %}
                    {% if start_times[score[0]]["timer_ended"] %}
                      <td>Timer ended <a onclick="showResetModal({{ score[0] }})">(reset)</a></td>
                    {% else %}
                      <td>In progress <a onclick="showResetModal({{ score[0] }})">(reset)</a></td>
                    {% end %}
                  {% else %}
                    <td>Not started</td>
                  {% end %}
                {% end %}
                </tr>
              {% end %}    
            </tbody>
          </table>

        {% end %}

        <br />
        <a href="/assignment/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}">Back to assignment</a> |
        <a href="/download_scores/{{ course_basics["id"] }}/{{ assignment_basics["id"] }}" download="{{ out_file }}">Download scores</a>

      </div>
    </div>
  {% end %}
{% end %}
<br /><br />