<style>
    .student {
        font-size: 14px;
        border: 2px solid  #00b386;
        width: 100%;
        border-left: 12px solid  #00b386;
        border-radius: 5px;
        padding: 14px;
    }

    .instructor {
        font-size: 14px;
        border: 2px solid  #19334d;
        width: 100%;
        border-left: 12px solid  #19334d;
        border-radius: 5px;
        padding: 14px;
    }

    .extra {
        font-size: 14px;
        border: 2px solid  #008ae6;
        width: 100%;
        border-left: 12px solid  #008ae6;
        border-radius: 5px;
        padding: 14px;
    }
</style>

{% if problem_basics["exists"] %}
    {% if problem_details["show_answer"] or assignment_details["view_answer_late"] or problem_details["show_student_submissions"] %}
        {% if not last_submission and not assignment_details["due_date"] %}
            <p>You do not have any submissions for this exercise yet. You must first submit a passing solution.</p>
        {% else %}
            {% if (last_submission and last_submission["passed"]) or (assignment_details["due_date"] and curr_time > assignment_details["due_date"] and assignment_details["view_answer_late"]) %}
                <div>
                {% if last_submission %}
                    <h4>Your solution:</h4>
                    <pre class="student">{{ last_submission["code"] }}</pre>
                {% end %}

                {% if problem_details["show_answer"] %}
                    {% if problem_details["answer_code"] != "" %}
                        <h4>Instructor's solution:</h4>
                        <pre class="instructor">{{ problem_details["answer_code"]}}</pre>
                    {% end %}

                    {% if problem_details["answer_description"] != "" %}
                        <h4>Instructor's comments:</h4>
                        <p>{{ problem_details["answer_description"] }}</p>
                        <br />
                    {% end %}
                {% end %}
                </div><br />

                {% if problem_details["show_student_submissions"] %}
                    {% if student_submissions %}
                        {% if problem_details["show_answer"] and (problem_details["answer_code"] != "" or problem_details["answer_description"] != "") %}
                            <div class="buttons">
                                <a class="button is-small is-primary is-rounded" id="other_button" onclick="showOtherSolutions()"></a>
                            </div>

                            <div id="other_solutions" style="display: inline">
                        {% else %}
                            <h4>Others' solutions (anonymized):</h4>

                            <div id="other_solutions">
                        {% end %}

                        {% for submission in student_submissions %}
                            <p>Submission {{ submission[0] }}:</p>
                            <pre class="extra">{{ submission[1] }}</pre>
                        {% end %}
                        </div>
                    {% else %}
                        <p>No other solutions are available at this time.</p>
                    {% end %}
                {% end %}

            {% else %}
                <p>Either you have not yet passed this exercise or you passed it previously but your most recent submission is not passing. Please make sure you pass the exercise, and then you will be able to view the instructor's answer.</p>
            {% end %}
        {% end %}
    {% else %}
        <p>You do not have permission to view the answer for this exercise.</p>
    {% end %}

    <p>
        <br />
        <a href="/problem/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ problem_basics['id'] }}">Back to exercise</a>
    </p>

{% else %}
    <p>This exercise does not exist.</p>
{% end %}
<br /><br />

{% if problem_details["show_student_submissions"] %}
    <script>
        function showOtherSolutions() {
            var solutions_div = document.getElementById("other_solutions");
            var other_button = document.getElementById("other_button");

            if (solutions_div.style.display == "inline") {
                solutions_div.style.display = "none";
                other_button.innerHTML = "Show others' solutions (anonymized)";
            }
            else {
                solutions_div.style.display = "inline";
                other_button.innerHTML = "Hide others' solutions";
            }
        }

        {% if problem_details["show_answer"] and (problem_details["answer_code"] != "" or problem_details["answer_description"] != "") %}
            showOtherSolutions();
        {% end %}
</script>
{% end %}
