{% if problem_basics["exists"] %}
    {% if problem_details["show_answer"] or assignment_details["view_answer_late"] %}
        {% if not last_submission and not assignment_details["due_date"] %}
            <p>You do not have any submissions for this exercise yet. You will not be able to view the instructor's solution until you have submitted the correct answer.</p>
        {% else %}
            {% if (last_submission and last_submission["passed"]) or (assignment_details["due_date"] and curr_time > assignment_details["due_date"] and assignment_details["view_answer_late"]) %}
                <div>
                {% if last_submission %}
                    <h4>Your solution:</h4>
                    <pre class="student-content">{{ last_submission["code"] }}</pre>
                {% end %}

                    <h4>Instructor's solution:</h4>
                    <pre class="instructor-content">{{ problem_details["answer_code"]}}</pre>

                {% if len(problem_details["answer_description"]) > 0 %}
                    <h4>Instructor's comments</h4>
                    <p>{{ problem_details["answer_description"] }}</p>
                    <br />
                {% end %}
                </div><br />

                {% if problem_details["show_student_submissions"] %}
                    {% if student_submissions %}
                        <div class="buttons">
                            <a class="button is-small is-primary is-rounded" onclick="showOtherSolutions()">Show other students' solutions (anonymized)</a>
                        </div>
                        <div id="other_students" class="invisible">
                        {% for submission in student_submissions %}
                            <p>Submission {{ submission[0] }}:</p>
                            <pre class="extra-content">{{ submission[1] }}</pre>
                        {% end %}
                        </div>
                    {% end %}
                {% end %}

            {% else %}
                <p>Either you have not yet passed this exercise or you passed it previously but your most recent submission is not passing. Please make sure you pass the exercise, and then you will be able to view the instructor's answer.</p>
            {% end %}
        {% end %}

    {% elif problem_details["show_student_submissions"] %}
        {% if student_submissions %}
            <h4>Other students' solutions:</h4>
            <div>
                {% for submission in student_submissions %}
                    <p>Submission {{ submission[0] }}:</p>
                    <pre class="extra-content">{{ submission[1] }}</pre>
                {% end %}
            </div>
        {% end %}
    {% else %}
        <p>You do not have permission to view the answer for this exercise.</p>
    {% end %}

    <p>
        <br />
        <a href="/problem/{{ course_basics['id'] }}/{{ assignment_basics['id'] }}/{{ problem_basics['id'] }}">Back to exercise</a>
    </p>

{% else %}
    <p>This exercise does not exist.</p>
{% end %}
<br /><br />

<script>
    function showOtherSolutions() {
        var solutions_div = document.getElementById("other_students");
        if (solutions_div.style.display == "inline") {
            solutions_div.style.display = "none";
        }
        else {
            solutions_div.style.display = "inline";
        }
    }
</script>