* {
    font-family: 'Lato', sans-serif;
}

/* The following two blocks of code create a smoother hover effect when the cursor is over a link. */
a:hover {
  transition: .2s;
}

a {
  transition: .3s;
}

/* Enforces monospace typefaces to be used for the code editor all situations. */
.ace_editor * {
    font-family: 'Monaco', 'Menlo', 'Droid Sans Mono', 'Courier New', monospace !important;
}

.has-background-light {
    background-color: #f5f5f5 !important; /* light grey */
}

.container {
    padding-top: 3.5rem;
}

/* Sets padding width or buffer around the entire site's content. */
.container-padding {
    padding: 3.5rem 5em;
}

/* Hides div. */
.invisible {
    display: none;
}

/* Shows div. */
.visible {
    display: inline;
}

/* Styles code blocks. */
pre {
    background-color: white;
    border-radius: 5px;
}

.navbar-link:hover{
    color: #1AB28C; /* light teal */
}

.navbar-item:hover {
    background-color: hsl(0deg, 0%, 98%);
    color: #1AB28C; /* light teal */
}

.navbar-dropdown {
    max-height: 80vh;
    overflow-y: scroll;
}

.navbar-dropdown .navbar-item {
  display: flex;
  align-items: center;
}

.landing-main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    /* Sets background gradient. */
    background-image: linear-gradient(to bottom right,#fafafa, #DFE7ED);
}

.landing-main-row-item {
    margin: 0 100px 0 100px;
}

/* Styles available courses on landing page (before login). */
.landing-courses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 60px 60px 60px;
}

.landing-course-list {
  /* If we ever want to return the course list on the landing page to the more rigid grid of set width boxes,  */
  /* change justify-content to center, and set width to 400px. */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Styles available courses header on landing page (before login). */
.landing-courses-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 30px 0 30px 0;
}

/* Styles each available course header on landing page (before login). */
.landing-course {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    margin: 20px;
}

/* Adds space above div. */
.top-space {
    margin-top: 15px;
}

/* Adds space below div. */
.bottom-space {
    margin-bottom: 25px;
}

/* Adds space above and below div. */
.space-div {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Adds space above modal buttons. */
.modal-button {
    margin-top: 10px;
}

/* Sets typeface to monospace. */
.monospace {
    font-family: monospace;
}

/* Sets font size. */
.text-18 {
    font-size: 18px;
}

.success-message {
    background-color: #1AB28C; /* dark teal */
    color: white;
}

.not-passing {
    background-color: #FF9138; /* orange */
    border-color: #FF9138; /* orange */
    color: white;
}

.is-orange {
    background-color: #FF9138; /* orange */
    border-color: #FF9138; /* orange */
    color: white;
}

.is-orange:hover {
    background-color: #f5872e; /* dark orange */
    border-color: #f5872e; /* dark orange */
    color: white;
}

.green-text {
    color: #00b386; /* dark muted teal */
}

/* Adds right padding to icons in navbar (ie checkmarks, circles, etc) */
.navbar-img {
    padding-right: 8px;
}

/* Adds padding to select inputs. */
.edit-select {
    padding: 2px;
}

/*.graytable {
    background-color: #f5f5f5 !important;
}*/

/* Sets sizing for icons in tables (ie checkmarks, circles, etc) */
.table-icon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

/* Styles block of student's code on view_answer.html */
.student-content {
    border: 2px solid  #1AB28C; /* dark teal */
    width: 100%;
    border-left: 12px solid  #1AB28C; /* dark teal */
    border-radius: 5px;
    padding: 14px;
    background-color: white;
}

/* Styles block of instructor's code on view_answer.html */
.instructor-content {
    border: 2px solid  #363636;
    width: 100%;
    border-left: 12px solid  #363636;
    border-radius: 5px;
    padding: 14px;
    background-color: white;
}

/* Styles help request comments. */
.comment {
    font-size: 14px;
    border: 2px solid  #1AB28C; /* dark teal */
    width: 100%;
    border-radius: 5px;
    padding: 14px;
    background-color: white;
}

.light-heading {
    font-weight: normal !important;
}

.help_request_div {
    background-color: #f5f5f5; /* light grey */
    border: 2px solid  #f5f5f5; /* light grey */
    border-radius: 15px;
    margin-top: 25px;
    padding: 20px;
}

.suggestion-div {
    background-color: #f5f5f5; /* light grey */
    border: 2px solid  #f5f5f5; /* light grey */
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
}

.space-buttons {
    margin-top: 10px;
}

td > button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.ace_gutter {
    z-index: auto !important;
}

#filter_container {
    width: 100%;
    overflow: hidden;
    padding-bottom: 0px;
}

#filter_container input {
    display: inline;
    width: 50%;
}

/* Creates a drop shadow. */
.shadow-box {
    box-shadow: 3px 3px 6px lightgray;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
}

/* Creates segment with one item per row. */
.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Creates left justified segment with one item per row. */
.front-row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.a-title-container {
    width: 75%;
    margin-top: 10px;
}

.a-visible {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.date-container {
    width: 45%;
}

.hint-text {
    border: 2px solid  #000000;
    border-radius: 5px;
    background-color: white;
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

/* Styles data files added to an exercise. */
.file-cta {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.file-name {
    padding: 10px 20px 10px 20px;
}

.uploaded-files {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.uploaded-file {
    padding: 5px 15px 10px 15px;
    display: inline-block;
}

.file-text {
    display: inline-block;
}

.show-button {
    margin-left: 10px;
}

/* Styles help requests on view_request.html */
.spread-div {
    display: flex;
    justify-content: space-between;
}

/* Styles submissions on exercise_student.html */
.collapsible {
    background-color: white;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    border: 2px solid  #363636; /* dark grey */
    width: 100%;
    border-left: 12px solid  #363636; /* dark grey */
    border-radius: 5px;
    padding: 14px;
    margin-top: 10px;
}

/* .collapsible-f {
    background-color: white;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
    border: 2px solid  #f4a582;
    width: 100%;
    border-left: 12px solid  #f4a582;
    border-radius: 5px;
    padding: 14px;
    margin-top: 10px;
}
 */
.active, .collapsible:hover {
    background-color: #f8f8f8; /* light grey */
}

.active, .collapsible-f:hover {
    background-color: #f8f8f8; /* light grey */
}

/* Styles hidden content of collapsible submission bubbles on exercise_student.html */
.c-content {
    padding: 0 18px;
    display: none;
}

#first-p {
    margin-bottom: 0;
}

/* Styles right button on view_request.html */
.tall-button {
    height: 100%;
    width: 30px;
    background-color: #1AB28C; /* dark teal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles help requests div on view_requests. */
.padded-div {
    padding: 20px;
    padding-bottom: 60px;
    width: 95%;
    height: 100%;
    overflow-y: scroll;
}

/* Styles instructions div. */
.instructions {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Sets margins on column div in profile_admin, among other places. */
.columns {
    margin-bottom: 0 !important;
}

/* Sets smaller font size. */
.smaller-font {
    font-size: 16px;
}

/* Sets hover on fas icons. */
.fas:hover {
    cursor: pointer;
}

.student-exercise-notification {
    color: white;
    background-color: gray;
    border-radius: 5px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.has-background-orange {
    background-color: #FF9138; /* orange */
    color: white;
}

.right-space {
    margin-right: 20px;
}

.passing-btn-color {
    background-color: #1AB28C; /* teal */
    border-color: #1AB28C; /* teal */
    color: #FFFFFF; /* white */
}

.failing-btn-color {
    background-color: #FF9138; /* orange */
    border-color: #FF9138; /* orange */
    color: #FFFFFF; /* white */
}

/* Makes a green bordered div for passing tests. */
.passing-bd-color {
    color: #363636; /* dark grey */
    background-color: #FAFAFA;
    border: 2px solid  #1AB28C;
    border-left: 12px solid  #1AB28C;
    border-radius: 5px;
    transition: .2s;
}

/* Makes a grey bordered div for tests. */
.neutral-bd-color {
    color: #363636; /* dark grey */
    background-color: #FAFAFA;
    border: 2px solid #363636; /* dark grey */
    border-left: 12px solid  #363636; /* dark grey */
    border-radius: 5px;
    transition: .2s;
}

/* Makes an orange bordered div for failing tests. */
.failing-bd-color {
    color: #363636; /* dark grey */
    background-color: #FAFAFA;
    border: 2px solid  #FF9138;
    border-left: 12px solid  #FF9138;
    border-radius: 5px;
    transition: .2s;
}

/*.passing-bd-color:hover, .failing-bd-color:hover {
    transition: .3s;
    background-color: #fafafa;
}*/

.grey-text {
    color: #363636; /* dark grey */
}

.footer {
    background-color: white;
    padding: 1rem 1rem 1rem 4rem;
}

.footer-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-version {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styles textareas that allow images to be pasted directly into them.
div[contenteditable] {
  overflow-y: scroll;
  font-size: 1.25rem;
} */

/* Styles said images inside textareas.
div[contenteditable] img {
  max-height: 20em;
} */

/* Sets error messages to monospace. */
module {
  font-family: monospace;
}

.input {
  font-size: 1.25rem;
}

.textarea {
  font-size: 1.25rem;
  font-family: monospace;
}

#navbar-start {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
}

.test-content pre {
  font-size: 1em;
}

.instructions pre {
  background-color: whitesmoke;
  font-size: 0.875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
}

.instructions p {
  white-space: pre-wrap; /* Maintains newlines inside paragraphs */
}

.pair {
  margin: 1em 0;
}

.level {
  align-items: flex-start;
}

.white-box {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 1em 2em;
}
monored {
  font-family: Consolas,"courier new";
  font-weight: bold;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 90%;
}
